---
title: What's new
slug: whatsnew
pagination:
  enabled: true
  collection: whatsnew
  sort_reverse: true
  per_page: 15
  permalink: '/page/:num/'
---
<div class="download container mx-auto">
    <h1 class="text-center my-4 pt-8">Latest features &amp; highlights</h1>
    <div class="colored-line"></div>

    {% assign sorted = site.whatsnew | reverse %}
    {% for item in paginator.posts %}
    <div class="row mt-8">
        <h2>{{ item.title }}</h2>
        <span style="text-align: left;display: block;font-size: x-small">{{ item.date | date: '%B %d, %Y' }}</span>
        <div class="col-md-6 wow fadeInRight animated" style="margin-top: 4rem" data-wow-offset="10" data-wow-duration="1.5s">
            <div class="video-container">
                <div class="video shadow-sm">
                    <img src="{{item.preview_img_url}}" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-6 text-left wow fadeInLeft animated px-2" data-wow-offset="10" data-wow-duration="1.5s">
            <h3 class="text-gray-700 px-2 text-center"><a href="{{item.feature_url}}">{{ item.subtitle }}</a></h3>
            <div class="colored-line"></div>
            <div class="p-2 text-left clearfix"></div>
            {{ item.content | markdownify }}
            <div class="buttons text-center sm:text-left">
                <a href="{{ item.feature_url }}" class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white hover:text-white shadow-xl px-5 py-2 inline-block text-blue-100 rounded">
                    Learn more
                </a>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- PAGINATION -->
    {% if paginator.total_pages > 1 %}
    <div class="row">
        <div class="col-sm-12 text-center m-t-40 m-b-40">
            <div class="pagination font-alt">
                {% if paginator.previous_page %}
                <span><a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"><i class="fa fa-angle-left"></i></a></span>
                {% endif %}
                {% if paginator.page_trail %}
                {% for trail in paginator.page_trail %}
                <span {% if page.url == trail.path %}class="active"{% endif %}>
                    <a href="{{ trail.path | prepend: site.baseurl | remove: 'index.html' }}" title="{{trail.title}}">{{ trail.num }}</a>
                </span>
                {% endfor %}
                {% endif %}
                {% if paginator.next_page %}
                <span><a href="{{ paginator.next_page_path | prepend: site.baseurl }}"><i class="fa fa-angle-right"></i></a></span>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    <!-- /PAGINATION -->
</div>