---
title: What's new
slug: whatsnew
pagination:
  enabled: true
  collection: whatsnew
  sort_reverse: true
  per_page: 15
  permalink: '/page/:num/'
---
<style>
    .whatsnew-container ul>li {
        list-style: disc;
        margin-left: 1em;
    }
    .whatsnew-container-item-img {
        display:flex;
        align-items: center;
        justify-content: center;
    }
</style>
<div class="whatsnew-container container mx-auto">
    <h1 class="text-center my-4 pt-8">Latest features &amp; highlights</h1>
    <div class="colored-line"></div>

    {% assign sorted = site.whatsnew | reverse %}
    {% for item in paginator.posts %}
    {% assign contentSplit = item.content | split: site.content_separator %}
    {% assign contentSize = contentSplit | size %}
    {% assign featureSize = item.feature_url | size %}
    {% assign previewSize = item.preview_img_url | size %}
    {% assign subtitleSize = item.subtitle | size %}

    <div class="my-20">
        <div class="my-20">
            <h2 class="mt-8 text-center text-7xl font-normal">{{ item.title }}</h2>
            <div class="text-center text-lg font-normal text-gray-500 mb-8">{{ item.date | date: '%B %d, %Y' }}</div>
        </div>
    {% for i in (0..2) %}
        {% assign i2 = i | plus:1 %}
        {% if i2 > contentSize or i2 > featureSize or i2 > previewSize or i2 > subtitleSize %}
           {% break %}
        {% else %}
        <div class="mt- flex flex-wrap my-20">
            <div class="w-full sm:w-1/2 wow fadeInRight animated px-4 whatsnew-container-item-img" data-wow-offset="10" data-wow-duration="1.5s">
                <div class="video-container w-full">
                    <div class="video shadow-sm">
                        <a href="{{ item.feature_url[i] }}"><img src="{{item.preview_img_url[i]}}" alt=""></a>
                    </div>
                </div>
            </div>

            <div class="w-full sm:w-1/2 text-left wow fadeInLeft animated px-4" data-wow-offset="10" data-wow-duration="1.5s">
                <h3 class="text-gray-700 px-2 text-center m-0 mb-4"><a href="{{item.feature_url[i]}}">{{ item.subtitle[i] }}</a></h3>
                <div class="colored-line"></div>
                <div class="mt-4">
                    {{ contentSplit[i] | markdownify }}
                </div>
                <div class="buttons text-center sm:text-left my-10">
                    <a href="{{ item.feature_url[i] }}" class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white hover:text-white shadow-xl px-5 py-2 inline-block text-blue-100 rounded">
                        Learn more
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}


    </div>


    {% endfor %}

    <!-- PAGINATION -->
    {% if paginator.total_pages > 1 %}
    <div class="row">
        <div class="col-sm-12 text-center m-t-40 m-b-40">
            <div class="pagination font-alt">
                {% if paginator.previous_page %}
                <span><a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"><i class="fa fa-angle-left"></i></a></span>
                {% endif %}
                {% if paginator.page_trail %}
                {% for trail in paginator.page_trail %}
                <span {% if page.url == trail.path %}class="active"{% endif %}>
                    <a href="{{ trail.path | prepend: site.baseurl | remove: 'index.html' }}" title="{{trail.title}}">{{ trail.num }}</a>
                </span>
                {% endfor %}
                {% endif %}
                {% if paginator.next_page %}
                <span><a href="{{ paginator.next_page_path | prepend: site.baseurl }}"><i class="fa fa-angle-right"></i></a></span>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    <!-- /PAGINATION -->
</div>