---
title: AutoQuery
slug: autoquery
layout: landing-page
brand: <h2 class="brand">ServiceStack AutoQuery</h2>
---

<link rel="stylesheet" href="/css/lite-yt-embed.css">
<style>
/* VIDEO */
video {
    max-width: 100%;
    height: auto;
}
iframe,
embed,
object {
    max-width: 100%;
}
code {
    padding: .2em;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
    font-size: 87.5%;
    color: #e83e8c;
    word-break: break-word;
}
.fill-blue-300\/70 {
    fill: rgb(147 197 253 / 0.7);
}
.w-16 {
    width: 4rem;
}
.h-16 {
    height: 4rem;
}
</style>

<div class="pt-8 mt-8">

    <div class="pt-8 mt-8 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-20 pb-16 text-center lg:pt-20">
        <h1 class="mx-auto max-w-4xl font-display text-5xl font-medium tracking-tight text-slate-900 sm:text-6xl">
            <div class="pb-4">
                AutoQuery
                <span class="relative whitespace-nowrap text-blue-600">
                    <svg aria-hidden="true" viewBox="0 0 418 42" class="absolute top-2/3 left-0 h-[0.58em] w-full fill-blue-300/70" preserveAspectRatio="none"
                        ><path d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2 21.766 6.004 25.934 1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176 9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108 19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43 12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157 15.593-.78 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788 7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203 1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.54-42.371 2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.81 23.239-7.825 27.934-10.149 28.304-14.005.417-4.348-3.529-6-16.878-7.066Z"></path></svg>
                    <span class="relative">made simple</span>
                </span>
            </div>
            <div>Instant Query & CRUD APIs</div>
        </h1>
        <p class="mx-auto mt-6 max-w-2xl text-xl tracking-tight text-slate-700">
            High performance, Industrial strength, effortless, code-first APIs
        </p>
        <div class="mt-36 lg:mt-24">
            <p class="font-display text-base text-slate-900">
                Rapidly develop high-performance Queryable &amp; CRUD APIs for
            </p>
            <ul class="mt-8 flex items-center gap-x-12 gap-y-0 justify-center">
                <li title="PostgreSQL">
                    <img src="/images/svgs/postgresql-notext.svg" class="h-16" />
                </li>
                <li title="Microsoft SQL Server">
                    <img src="/images/svgs/sqlserver.svg" class="h-16" />
                </li>
                <li title="SQLite">
                    <img src="/images/svgs/sqlite.svg" class="h-16" />
                </li>
                <li title="MySQL">
                    <img src="/images/svgs/mysql.svg" class="h-16" />
                </li>
                <li title="MariaDB">
                    <img src="/images/svgs/mariadb.svg" class="h-16" />
                </li>
            </ul>
        </div>
    </div>

    <div class="container my-20">
        <div class="flex flex-wrap mt-8">
            <div class="my-20 w-full text-center">
                <h2>Effortless High performance Query &amp; CRUD APIs</h2>
                <div class="colored-line"></div>
            </div>

            <div class="w-full sm:w-1/2 centered px-4">
                <h3 class="text-gray-400">Follow the step by step guide:</h3>
                <div class="pt-4">
                    <lite-youtube class="shadow-sm" width="560" height="315" videoid="nhc4MZufkcM"
                                  style="margin-bottom:3px;background-image: url('https://img.youtube.com/vi/nhc4MZufkcM/maxresdefault.jpg')"></lite-youtube>
                </div>
            </div>
            <div class="w-full sm:w-1/2">
                <div class="mx-4">
                    <h3 class="text-gray-400">Shows how to:</h3>
                    <ul class="ul-circle text-xl">
                        <li class="mt-2"><i class="fab fa-servicestack"></i><span class="ml-2">Start project from ServiceStack template</span></li>
                        <li class="mt-2"><i class="fas fa-database"></i><span class="ml-2">Add SQLite support</span></li>
                        <li class="mt-2"><i class="fas fa-lock"></i><span class="ml-2">Add Authentication support</span></li>
                        <li class="mt-2"><i class="fas fa-scroll"></i><span class="ml-2">Define code-first database model</span></li>
                        <li class="mt-2"><i class="fas fa-question-circle"></i><span class="ml-2">Define code-first validation</span></li>
                        <li class="mt-2"><i class="fas fa-user"></i><span class="ml-2">Add User Management support</span></li>
                        <li class="mt-2"><i class="fas fa-search-plus"></i><span class="ml-2">Add API event audit history support</span></li>
                        <li class="mt-2"><i class="fas fa-file"></i><span class="ml-2">Use AutoFilters with AutoQuery services</span></li>
                        <li class="mt-2"><i class="fas fa-file-excel"></i><span class="ml-2">Add Excel integration</span></li>
                        <li class="mt-2"><i class="fab fa-servicestack"></i><span class="ml-2">Use ServiceStack Studio</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="my-20 text-center">
            <h2>Create Typed APIs with minimal code-first DTOs</h2>
            <div class="colored-line"></div>
        </div>

        <div class="flex flex-wrap mt-8">
            <div class="w-full">
                <h4 class="my-4 font-medium">Configure AutoQuery with your RDBMS in your AppHost</h4>
                <iframe src="https://gist.cafe/embed?gist=2a150df139af0d8599c7181ac4488a00&title=AppHost Setup&show=AppHost.cs&mode=viewonly" frameborder="0"
                        style="height:230px;width:100%;border:1px solid #ddd"></iframe>

                <h4 class="my-4 font-medium">Add your custom DTO with route to register a table to query.</h4>
                <iframe src="https://gist.cafe/embed?gist=80e614a1bd086d0e8586863be992fad2&title=Customers Table&show=Customers.cs&mode=viewonly" frameborder="0"
                        style="height:100px;width:100%;border:1px solid #ddd"></iframe>
            </div>
            <p class="w-full text-lg font-medium my-4">
                That's all that's needed! From your contract-first API blueprint ServiceStack implements
                a fully queryable, type safe API for the Customer table.
            </p>
            <div class="mt-4 w-full text-center">
                <div class="buttons text-center text-2xl my-2">
                    <a href="{{site.content_url}}/start#Name=MyApp&Mix=autoquery"
                       class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white hover:text-white shadow-xl px-5 py-2 inline-block text-blue-100 rounded">
                        New Project with AutoQuery
                    </a>
                </div>
            </div>
        </div>

        <div class="my-20 text-center">
            <h2>Highly customizable &amp; overridable when needed</h2>
            <div class="colored-line"></div>
        </div>

        <div class="flex flex-wrap">
            <div class="w-full sm:w-2/3">
                <iframe src="https://gist.cafe/embed?gist=0726548ab7ca7112f90d5dca9d97163d&title=Custom Service&show=CustomService.cs&mode=viewonly" frameborder="0" style="height:775px;width:100%;border:1px solid #ddd"></iframe>
            </div>
            <div class="w-full sm:w-1/3">
                <div class="mx-4">
                    <h3 class="ml-2 mt-2">Multiple Customization Options</h3>
                    <ul class="ul-circle text-lg">
                        <li class="my-2"><a href="https://docs.servicestack.net/autoquery-rdbms#custom-autoquery-implementations">Custom AutoQuery Implementations</a></li>
                        <li class="my-2"><a href="https://docs.servicestack.net/autoquery-rdbms#returning-custom-results">Return Custom Results</a></li>
                        <li class="my-2"><a href="https://docs.servicestack.net/autoquery-rdbms#joining-tables">Join with other table</a></li>
                        <li class="my-2"><a href="https://docs.servicestack.net/autoquery-rdbms#joining-multiple-tables">Join multiple tables</a></li>
                        <li class="my-2"><a href="https://docs.servicestack.net/autoquery-rdbms#returning-nested-related-results">Return nested related results</a></li>
                        <li class="my-2"><a href="https://docs.servicestack.net/autoquery-rdbms#customizable-operands">Customizable Operands</a></li>
                        <li class="my-2"><a href="https://docs.servicestack.net/autoquery-rdbms#customizable-templates">Customizable Templates</a></li>
                        <li class="my-2"><a href="https://docs.servicestack.net/autoquery-rdbms#formatting-values">Formatting Values</a></li>
                        <li class="my-2"><a href="https://docs.servicestack.net/autoquery-rdbms#specifying-multi-airity-queries">Query against multiple client values</a></li>
                        <li class="my-2"><a href="https://docs.servicestack.net/autoquery-rdbms#changing-querying-behavior">Change query behavior per field</a></li>
                        <li class="my-2"><a href="https://docs.servicestack.net/autoquery">Loads more features!</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="my-20 text-center">
            <h2>Create APIs for all RDBMS tables with AutoGen!</h2>
            <div class="colored-line"></div>
        </div>
        <div class="flex flex-wrap">
            <div class="w-full mt-4 text-center text-lg">
                <p>
                    Connect your existing database and configure AutoQuery to use AutoGen to generate typed end to end HTTP services for your database tables.
                </p>
            </div>
        </div>

        <div class="flex flex-wrap">
            <div class="w-full">
                <iframe src="https://gist.cafe/embed?gist=c7223e2f83d044b5eca7248bd6f9ec12&title=Register+AutoQuery+Plugin&show=AppHost.cs&mode=viewonly" frameborder="0" style="height:300px;width:100%;border:1px solid #ddd"></iframe>
            </div>
        </div>

        <div class="mt-8">
            <h3 class="text-gray-400">AutoGen in Action</h3>
            <div class="flex flex-wrap">
                <div class="w-full sm:w-2/3">
                    <lite-youtube class="shadow-sm" width="560" height="315" videoid="NaJ7TW-Q_pU"
                                  style="margin-bottom:3px;background-image: url('https://img.youtube.com/vi/NaJ7TW-Q_pU/maxresdefault.jpg')"></lite-youtube>
                </div>
                <div class="w-full sm:w-1/3">
                    <p>
                        ServiceStack’s AutoGen enables a number of exciting possibilities, predominantly it’s the fastest
                        way to ServiceStack-ify an existing systems RDBMS where it will serve as an invaluable tool for
                        anyone wanting to quickly migrate to ServiceStack and access its functionality ecosystem around ServiceStack Services
                    </p>
                    <p>
                        AutoGen’s code generation is programmatically customizable where the generated types can be easily
                        augmented with additional declarative attributes to inject your App’s conventions into the auto
                        generated Services & Types to apply custom behavior like Authorization & additional validation rules.
                    </p>
                    <p>
                        After codifying your system conventions the generated classes can optionally be “ejected” where
                        code-first development can continue as normal.
                    </p>
                </div>
            </div>
        </div>

        <div class="my-20 text-center">
            <h2>Highly versatile ServiceStack APIs</h2>
            <div class="colored-line"></div>
            <p class="text-lg mt-4">
                Seamlessly integrates with ServiceStack's endpoints, features and tools for maximum reuse and simplified integrations.
            </p>
        </div>

        <h3 class="text-center">Instant Management UI with ServiceStack Studio</h3>
        <div class="flex flex-wrap mt-8">
            <div class="w-full sm:w-1/3">
                <div class="">
                    <p>
                        Manage your AutoQuery services with
                        <a href="https://docs.servicestack.net/studio">ServiceStack Studio</a>,
                        a dynamic, capability driven UI that only needs your
                        ServiceStack instance base URL for integration. Metadata from ServiceStack service message contracts
                        are able to drive completely dynamic user interfaces,
                        enabling smart clients to deliver amazing levels of reuse.
                    </p>
                    <p>
                        <a href="https://github.com/ServiceStack/Studio">ServiceStack/Studio</a> is
                        an Open Source Chromium Windows Desktop App that can be easily customized to support
                        custom App requirements and published via
                        <a href="https://docs.servicestack.net/netcore-windows-desktop#publishing-your-app">multiple deployment options</a>
                        with a tiny footprint and built-in auto updates.
                    </p>
                </div>
            </div>
            <div class="w-full sm:w-2/3">
                <div class="pl-4">
                    <lite-youtube class="shadow-sm" width="560" height="315" videoid="kN7371bqUII"
                                  style="margin-bottom:3px;background-image: url('https://img.youtube.com/vi/kN7371bqUII/maxresdefault.jpg')"></lite-youtube>
                </div>
            </div>
        </div>

        <div class="w-full text-center mt-8">
            <h3>Multiple, clean data formats allows for flexible data integrations</h3>
        </div>

        <p class="text-gray-500">
            As all AutoQuery Services are pure HTTP APIs available in multiple data formats they allow for simple,
            rich integrations like being able to use its CSV Format to create live table data sources in Excel or
            easily import any query into any data store supporting CSV imports:
        </p>
        <div class="w-full">
            <div class="mx-4">
                <img src="/images/autoquery/excel-add-datasource-guide.png" alt="Easy Excel Data Source Integration">
            </div>
        </div>

        <p class="text-gray-500 my-8">
            AutoQuery's usage of simple, user-defined Clean URLs and intuitive implicit query conventions makes it easy for
            stakeholders to create custom Queries of their Systems Data that they can link to directly in their Excel worksheets
            to generate Live Reports:
        </p>
        <div class="w-full">
            <div class="mx-4">
                <img src="/images/autoquery/excel-import-data-example-2.png" alt="Added Excel Datasource">
            </div>
        </div>

        <div class="my-20 text-center">
            <h2>Leverage ServiceStack's ecosystem of features</h2>
            <div class="colored-line"></div>
        </div>

        <div class="flex flex-wrap text-xl">
            <div class="w-full sm:w-1/2">
                <ul class="ul-circle">
                    <li class="mt-2"><a href="https://docs.servicestack.net/formats"><i class="fas fa-tools"></i> JSON, CSV, XML, JSV, ProtoBuf data formats</a></li>
                    <li class="mt-2"><a href="/service-reference"><i class="fas fa-cogs"></i> Add ServiceStack Reference</a></li>
                    <li class="mt-2"><a href="https://docs.servicestack.net/grpc"><i class="fas fa-arrows-alt-h"></i> gRPC</a></li>
                    <li class="mt-2"><a href="https://docs.servicestack.net/encrypted-messaging"><i class="fab fa-expeditedssl"></i> Encrypted Messaging</a></li>
                    <li class="mt-2"><a href="https://docs.servicestack.net/messaging"><i class="fas fa-inbox"></i> Message Queues</a></li>
                    <li class="mt-2"><a href="https://docs.servicestack.net/declarative-validation"><i class="far fa-check-square"></i> Declarative + Fluent Validation</a></li>
                    <li class="mt-2"><a href="https://docs.servicestack.net/authentication-and-authorization"><svg class="w-5 h-5 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"></path>
                    </svg> ServiceStack Authentication providers</a></li>
                    <li class="mt-2"><a href="https://docs.servicestack.net/caching"><i class="far fa-save"></i> Caching</a></li>
                    <li class="mt-2"><a href="https://servicestack.net/features">And much more!</a></li>
                </ul>
            </div>
            <div class="w-full sm:w-1/2">
                <p>
                    AutoQuery services are ServiceStack services, so they benefit from the ServiceStack ecosystem of features.
                    This makes responding to changing requirements more straight forward as all these features are designed from the ground up to
                    work together with clean consistent APIs.
                </p>
                <p>
                    ServiceStack Plugins use the same interfaces that your custom plugins can use, giving you the ability to extend and expand
                    your service features consistently across AutoQuery or standard ServiceStack services.
                </p>

                <div>
                    <h3 class="text-center">Download new Web App with AutoQuery or AutoGen</h3>
                    <div class="flex justify-center">

                        <a class="archive-url" href="{{site.account_url}}/archive/NetCoreTemplates/web?Name=MyApp&amp;Mix=autoquery">
                            <div class="bg-white px-4 py-4 mr-4 mb-4 rounded-lg shadow-lg text-center items-center justify-center hover:shadow-2xl" style="min-width:180px">
                                <div class="text-center font-extrabold flex items-center justify-center bg-white mb-2">
                                    <div class="text-6xl text-blue-400 my-3">
                                        <i class="fab fa-servicestack"></i>
                                    </div>
                                </div>
                                <div class="text-xl font-medium text-gray-700">Web</div>
                                <div class="flex justify-center h-8">
                                    <div class="mr-1"><span class="px-2 h-8 rounded-lg bg-blue-50 text-blue-500 text-sm">autoquery</span></div>
                                </div>
                                <span class="archive-name px-4 pb-2 text-blue-600">MyApp.zip</span>
                            </div>
                        </a>

                        <a class="archive-url" href="{{site.account_url}}/archive/NetCoreTemplates/web?Name=MyApp&amp;Mix=autocrudgen">
                            <div class="bg-white px-4 py-4 mr-4 mb-4 rounded-lg shadow-lg text-center items-center justify-center hover:shadow-2xl" style="min-width:180px">
                                <div class="text-center font-extrabold flex items-center justify-center bg-white mb-2">
                                    <div class="text-6xl text-blue-400 my-3">
                                        <i class="fab fa-servicestack"></i>
                                    </div>
                                </div>
                                <div class="text-xl font-medium text-gray-700">Web</div>
                                <div class="flex justify-center h-8">
                                    <div class="mr-1"><span class="px-2 h-8 rounded-lg bg-blue-50 text-blue-500 text-sm">autoquery</span></div>
                                    <div class="mr-1"><span class="px-2 h-8 rounded-lg bg-blue-50 text-blue-500 text-sm">autogen</span></div>
                                </div>
                                <span class="archive-name px-4 pb-2 text-blue-600">MyApp.zip</span>
                            </div>
                        </a>

                    </div>
                    <div class="text-gray-400 text-center text-sm">or choose custom <a href="{{site.content_url}}/start#Name=MyApp&Mix=autoquery">Project Template with AutoQuery</a></div>
                </div>
            </div>
        </div>

        <div class="my-20">
            <h2 class="mt-8 pt-8 text-center">Great alternative to OData, GraphQL or JSON:API</h2>
            <div class="colored-line"></div>
        </div>

        <div class="flex flex-wrap">
            <div class="w-full sm:w-1/2 px-4">
                <h3 class="font-medium">Connect to anything with data</h3>
                <p>Expose data from various data sources including RDBMS, In memory, DynamoDb or even other services through consistent flexible APIs where clients can control the query details.</p>
                <h3 class="font-medium">Works with your favorite databases</h3>
                <p>AutoQuery RDBMS works with anything OrmLite can connect to, including:</p>
                <ul class="ul-circle">
                    <li class="mt-2">PostgreSQL</li>
                    <li class="mt-2">SQL Server</li>
                    <li class="mt-2">SQLite</li>
                    <li class="mt-2">MySQL</li>
                    <li class="mt-2">MariaDB</li>
                    <li class="mt-2">AWS Aurora</li>
                </ul>
            </div>
            <div class="w-full sm:w-1/2 px-4">
                <h3 class="font-medium">Clean REST routes, accessible from everywhere.</h3>
                <p>
                    Unlike OData and GraphQL, AutoQuery provides clean REST services making them easy to use from standard browsers, avoiding the requirement for complex clients.
                </p>
                <h3 class="font-medium">Unmatched client integration experience.</h3>
                <p>
                    Add ServiceStack Reference provides best in class client generation in a multitude of languages straight from the server you're integrating with.
                </p>
                <p>
                    Instant Client Apps can generate working native client solutions through an easy to use free web tool, only needing a base URL of a ServiceStack service.
                </p>
                <div class="mt-4">
                    <lite-youtube class="shadow-sm" width="560" height="315" videoid="GTnuMhvUayg"
                                  style="margin-bottom:3px;background-image: url('https://img.youtube.com/vi/GTnuMhvUayg/maxresdefault.jpg')"></lite-youtube>
                </div>
            </div>
        </div>

        <div class="my-20 text-center">
            <h2>Explore AutoQuery Service Samples</h2>
            <div class="colored-line"></div>
        </div>

        <div class="flex flex-wrap">
            <div class="w-full">
                <h3 class="font-medium">1. <a href="https://dotnet.microsoft.com/download">Install .NET 6 SDK</a></h3>
                <h3 class="font-medium">2. Install the <code>app</code> dotnet tool by running
                    <a href="{{site.content_url}}/install/app.ps1">install/app.ps1</a>
                    with Windows Run dialog (<code>Win+R</code>)</h3>
                <div class="my-8 flex justify-center">
                    <div class="max-w-screen-md">
                        {% include copy-cmd.html text="powershell iwr servicestack.net/install/app.ps1 -useb | iex" %}
                        <img src="/images/pages/install-app.png" alt="Install app screenshot">
                    </div>
                </div>
                <h3 class="font-medium">3. Explore Chinook's AutoQuery APIs in ServiceStack Studio</h3>
                <div class="my-8 flex justify-center">
                    <div class="max-w-screen-md text-center">
                        <h3 class="text-3xl"><a href="app://studio?connect=https://chinook.netcore.io">app://studio?connect=https://chinook.netcore.io</a></h3>
                        <div class="mb-4 text-gray-400">OR</div>
                        {% include copy-cmd.html text="app open studio -connect https://chinook.netcore.io" %}
                    </div>
                </div>
                <h3 class="font-medium">4. Click on Chinook's Site <code>AutoQuery</code> button to access Chinook's AutoQuery APIs:</h3>
            </div>
        </div>

        <div class="flex flex-wrap">
            <img class="p-2 w-full sm:w-1/2" src="/images/autoquery/studio-connect.png" alt="Connect to example AutoQuery services">
            <img class="p-2 w-full sm:w-1/2" src="/images/autoquery/studio-tables.png" alt="Lists tables served by AutoQuery">
            <img class="p-2 w-full sm:w-1/2" src="/images/autoquery/studio-dynamic-filtering.png" alt="Filter dynamically">
            <img class="p-2 w-full sm:w-1/2" src="/images/autoquery/studio-dynamic-forms.png" alt="Dynamic forms to manage data">
        </div>

        <div class="text-center flex justify-center">
            <div class="">
                <h2 class="mt-8 pt-8">Free Trial</h2>
                <div class="colored-line"></div>

                <p class="mt-4 text-lg font-medium">
                    You can also try AutoQuery on your own databases in larger Systems exceeding the
                    <a href="{{site.content_url}}/download#free-quotas">Free Quotas</a>
                    with an unrestricted 30 Day Free Trial.
                </p>
                <div class="buttons my-8 flex text-center justify-center">
                    {% include btn_lg.html href="#{site.content_url}/start#Name=MyApp&Mix=autoquery" label="Get Started Today" %}
                    <span class="mx-1"></span>
                    {% include btn_lg.html href="#{site.dynamic_url}/trial" label="30 Day Free Trial" %}
                </div>

                <div class="text-center mb-8 pb-8 text-2xl">
                    <a href="{{site.dynamic_url}}/pricing">See Pricing</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    {% include home/testimonials-section.html %}
</div>
{% include landing/brand-customers.html %}

<script src="/js/lite-yt-embed.js"></script>

