---
title: Blog
slug: blog
sitemap: false
---
<div class="container news-container h-screen">
    <h1 class="text-center mb-8 pb-8">{{page.title}}</h1>
    {% assign sorted = site.blog | reverse %}
    {% for item in sorted %}
    {% if item.draft == true %}
    {% if site.show_drafts == nil or site.show_drafts == false %}
    {% continue %}
    {% endif %}
    {% endif %}
    <div class="grid grid-cols-12 mt-8 mb-8 pb-8 border-b">
        <div class="flex flex-shrink col-start-1 col-end-4 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
            <img src="{{item.preview_img_url}}" alt="" style="max-height:100px" class="m-auto">
        </div>
        <div class="flex-grow col-start-4 col-end-12 text-left wow fadeInLeft animated px-4" data-wow-offset="10" data-wow-duration="1.5s">
            <span class="text-xl">{{ item.date | date: '%B %d, %Y' }}</span>
            <h3 class="text-gray-700"><a href="{{item.url}}">{{ item.title }}</a> {% if item.draft == true and site.show_drafts == true %} DRAFT {% endif %}</h3>
            <div class="colored-line-left"></div>
            <div class="p-2 text-left clearfix"></div>
            <div class="mt-4 mb-4">
                <p>{{ item.preview_text }}</p>
            </div>
            <span class="text-xs">Author: {{item.author}}</span>
        </div>
    </div>
    {% endfor %}
</div>