---
title: ServiceStack Downloads
slug: download
---

<style>
.download h3 {
    font-weight: 400;
}
.download h4 { margin:0 }
.download-breaker {
    text-align: center;
    width: 100%;
}
.download-breaker p { max-width: 890px}
.download ul > li {
    list-style: circle;
    margin-left: 2em;
}
.download pre {
    text-align: left;
}

@media (max-width: 767px) {
    .download pre {
        max-width: 360px;
        overflow-x: scroll;
    }
}

@media (min-width: 1024px) {
    .package-reference-box {
        max-width: 500px;
    }
    .package-reference-box .copy label {
        max-width: 470px;
        overflow: hidden;
    }
}
@media (min-width: 1280px) {
    .package-reference-box {
        max-width: 540px;
    }
    .package-reference-box .copy label {
        max-width: 510px;
        overflow: hidden;
    }
}
.package-reference-box .svg-copy {
    background: #008ed6 url("data:image/svg+xml,%3Csvg fill='none' stroke='white' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2'%3E%3C/path%3E%3C/svg%3E") no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 1.4em;
    cursor: pointer;
}
.package-reference-box .svg-copy:hover {
    opacity: .8;
}
.package-reference-box pre.copy {
    display: inline-block;
    padding-right: .5rem;
}
.package-reference-box pre.sh {
    color:white;
}
.package-reference-box pre label {
    margin:0;
}
.package-reference-box pre {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
}
.package-reference-box .copy-text label {
    font-weight: 400;
    color: rgb(107, 114, 128);
}
</style>

<div class="download container mx-auto px-4">
    <h1 class="text-center pt-4 mb-4">Add ServiceStack to your project</h1>
    <div class="sm:flex sm:flex-wrap">
        <div>
            <p>
                ServiceStack is an easy drop-in that simplifies creating Web Services in any ASP.NET Web App,
                but also in Self Hosting
                <a href="https://docs.servicestack.net/self-hosting">Console Apps</a>,
                <a href="https://docs.servicestack.net/templates-windows-service">Windows Services</a> and even
                <a href="https://github.com/ServiceStackApps/ReactDesktopApps">Windows and OSX Desktop Apps</a> -
                supporting both
                <a href="https://github.com/ServiceStackApps/LiveDemos#live-servicestack-demos">.NET Framework</a> and
                <a href="https://docs.servicestack.net/netcore">.NET Core</a>. The
                <a href="https://docs.servicestack.net/create-your-first-webservice">easiest way to get started</a> is
                to create a new project from a
                <a href="https://docs.servicestack.net/templates-overview">ServiceStack VS.NET Template</a>.
            </p>
            <p>
                These packages include the <a href="#free-quotas">Free Usage Quotas</a> listed below.
                The list of supported packages are also listed on
                <a href="https://www.nuget.org/profiles/ServiceStack/">nuget.org/profiles/ServiceStack</a>.
                Dedicated support for these packages is available for Windows, Linux and OSX on .NET Core or Windows
                only for .NET Framework.
            </p>
        </div>
    </div>
    <br/>
    <div class="flex flex-wrap">
        <div class="px-1 w-full lg:w-1/2">
            <h3>Just ServiceStack</h3>
            <p>Minimal install of ServiceStack, create an empty ASP.NET project and: </p>
            {% include nuget-package-reference.html
            package="ServiceStack"
            version=site.package_version
            %}
            <h4>Dependencies</h4>
            <ul>
                <li>ServiceStack.Common</li>
                <li>ServiceStack.Client</li>
            </ul>
            <p>
                The docs on
                <a href="https://docs.servicestack.net/create-your-first-webservice">
                    Creating your first web service
                </a>
                using
                <a href="http://visualstudiogallery.msdn.microsoft.com/5bd40817-0986-444d-a77d-482e43a48da7">ServiceStack's
                    VS.NET Templates</a>
                are an easy way to Get Started with ServiceStack.
            </p>
            <p>
                Once comfortable with creating a ServiceStack web service, we also recommend
                exploring ServiceStack by walking through the
                <a href="https://github.com/ServiceStack/EmailContacts/">EmailContacts solution</a>
                for a guidance on the recommended layout and configuration of a typical
                medium-sized ServiceStack project.
            </p>
        </div>
        <div class="px-1 w-full lg:w-1/2">
            <h3>ServiceStack with OrmLite, Redis and adapters</h3>
            <p>Would like to use Redis or OrmLite, create an empty ASP.NET project and: </p>
            {% include nuget-package-reference.html
            package="ServiceStack.Server"
            version=site.package_version
            %}
            <h4>Dependencies</h4>
            <ul>
                <li>ServiceStack</li>
                <li>ServiceStack.Redis</li>
                <li>ServiceStack.OrmLite</li>
            </ul>
            <p>
                Server project includes
                <a href="https://docs.servicestack.net/autoquery">Auto Query</a>,
                <a href="https://docs.servicestack.net/autogen">Autogen</a>,
                <a href="https://docs.servicestack.net/redis-mq">Redis MQ</a>,
                <a href="https://docs.servicestack.net/redis-server-events">Redis Server Events</a>,
                <a href="https://docs.servicestack.net/request-logger">Redis Request Logger</a>
                <a href="https://docs.servicestack.net/caching">OrmLite Cache Provider</a>
                and
                <a href="https://docs.servicestack.net/authentication-and-authorization#userauth-persistence---the-iuserauthrepository">
                    OrmLite Auth Repository
                </a>
            </p>
        </div>
    </div>

    <div class="download-breaker my-10 flex flex-col items-center">
        <h2 class="text-4xl py-2">Add ServiceStack with advanced HTML Support</h2>
        <div class="colored-line"></div>
        <p class="mt-4">
            If you plan on using ServiceStack to also create HTML websites then start with one of these 2 packages instead:
        </p>
    </div>
    <div class="flex flex-wrap">
        <div class="px-1 w-full lg:w-1/2">
            <h3><a href="https://docs.servicestack.net/mvc-integration">ServiceStack with .NET 5 or ASP.NET MVC</a></h3>
            <p>
                You want to use ServiceStack together with an ASP.NET Core or ASP.NET MVC Website,
                Create an Empty Project and:
            </p>

            {% include nuget-package-reference.html
            package="ServiceStack.Mvc"
            version=site.package_version
            %}

            <h4>Dependencies</h4>
            <ul>
                <li>ServiceStack</li>
            </ul>

            <p>
                After it's added to your MVC Project you'll need to follow the guidelines in
                <a href="https://docs.servicestack.net/mvc-integration">MVC Integration</a>
                and ensure ServiceStack is properly integrated.
            </p>
        </div>
        <div class="px-1 w-full lg:w-1/2">
            <h3><a href="http://razor.servicestack.net">ServiceStack with Razor Support</a></h3>
            <p>
                You want to use ServiceStack's built-in support for Razor, Create an Empty ASP.NET
                Project and:
            </p>

            {% include nuget-package-reference.html
            package="ServiceStack.Razor"
            version=site.package_version
            %}

            <h4>Dependencies</h4>
            <ul>
                <li>ServiceStack</li>
            </ul>

            <p>
                We recommend reading the <a href="http://razor.servicestack.net/">Razor Rockstars</a>
                website to explore ServiceStack's Razor features.
            </p>
        </div>
    </div>

    <div class="download-breaker my-10 flex flex-col items-center">
        <h2 class="text-4xl py-2">Using Redis or OrmLite?</h2>
        <div class="colored-line"></div>
        <p class="mt-4">
            If you've started with <b>ServiceStack.Server</b> you already have OrmLite and Redis, if not you can add
            them individually:
        </p>
    </div>
    <div class="flex flex-wrap">
        <div class="px-1 w-full lg:w-1/2">
            <h3><a href="https://github.com/ServiceStack/ServiceStack.Redis">Redis Client</a></h3>
            <p>
                <a href="http://redis.io">Redis</a>
                is a popular and indispensable tool in creating high-performance
                systems. It's often used as a cache, but as it supports comp-sci collections,
                Pub/Sub, Transactions and server-side LUA scripting, it's finding more use-cases every day.
            </p>

            {% include nuget-package-reference.html
            package="ServiceStack.Redis"
            version=site.package_version
            %}

            <h4>Dependencies</h4>
            <ul>
                <li>ServiceStack.Common</li>
            </ul>

            <h3>Running Redis on Windows</h3>
            <p>
                See the <a href="https://github.com/mythz/redis-windows">Download and installation instructions</a>
                for the 2 most popular ways of running redis on windows.
            </p>
        </div>
        <div class="px-1 w-full lg:w-1/2">
            <h3><a href="https://github.com/ServiceStack/ServiceStack.OrmLite">OrmLite</a></h3>
            <p>
                <a href="https://github.com/ServiceStack/ServiceStack.OrmLite/">OrmLite</a>
                is a fast, simple, convention-based, config-free lightweight ORM that uses code-first
                POCO classes and Annotation attributes to infer and generate RDBMS table schemas. It's simply
                provides extension methods over ADO.NET's IDbConnection so is highly-flexible and can even be
                easily used seamlessly with other Micro ORM's like that uses extension methods like
                <a href="https://code.google.com/p/dapper-dot-net/">Dapper</a>.
            </p>

            <p>
                OrmLite has packages for all major RDBMS's, and you just need to install the
                package for the one you're using, which typically for .NET will be SQL Server:
            </p>

            {% include nuget-package-reference.html
            package="ServiceStack.OrmLite.SqlServer"
            version=site.package_version
            %}

            <h4>Dependencies</h4>
            <ul>
                <li>ServiceStack.Common</li>
            </ul>

            <p>
                Otherwise if you're using an alternative database, install the one you need:
            </p>
            <ul>
                <li><a href="https://www.nuget.org/packages/ServiceStack.OrmLite.MySql">ServiceStack.OrmLite.MySql</a>
                </li>
                <li><a href="https://www.nuget.org/packages/ServiceStack.OrmLite.MySqlConnector">ServiceStack.OrmLite.MySqlConnector</a>
                </li>
                <li><a href="https://www.nuget.org/packages/ServiceStack.OrmLite.PostgreSQL">ServiceStack.OrmLite.PostgreSQL</a>
                </li>
                <li><a href="https://www.nuget.org/packages/ServiceStack.OrmLite.Sqlite">ServiceStack.OrmLite.Sqlite</a>
                </li>
                <li><a href="https://github.com/ServiceStack/ServiceStack.OrmLite/wiki/SQL-Server-Types">ServiceStack.OrmLite.SqlServer.Converters</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="download-breaker">
        <h2 class="text-4xl py-2">Just ServiceStack.Text?</h2>
        <div class="colored-line"></div>
    </div>
    <div class="flex flex-wrap">
        <div class="px-1 w-full lg:w-1/2">
            <h3><a href="https://github.com/ServiceStack/ServiceStack.Text">JSON, JSV, CSV Serializers</a></h3>
            <p>
                ServiceStack.Text is a high-performance dependency-free library that contains all of ServiceStack's text
                processing, automapping utilities. <br>
                It includes 100's of enhancements to .NET's built-in String, Stream, Bytes, List, Dictionary,
                Reflection, Task and WebRequest types.
            </p>
            <p>
                You will only need to install this when using on its own as ServiceStack.Text is already a dependency on
                all other ServiceStack NuGet packages.
            </p>
            {% include nuget-package-reference.html
            package="ServiceStack.Text"
            version=site.package_version
            %}
            <p>
                Android, iOS, Windows Store, WPF and Silverlight clients should install the ServiceStack.Client package:
            </p>
            {% include nuget-package-reference.html
            package="ServiceStack.Client"
            version=site.package_version
            %}
        </div>
    </div>

    <div class="download-breaker my-10 flex flex-col items-center">
        <h2 class="text-4xl py-2">Message Queue Servers</h2>
        <div class="colored-line"></div>
        <p class="mt-4">
            ServiceStack's message-based design enables it to host Services on a variety of different
            transports including a number of different MQ Servers via the
            <a href="https://docs.servicestack.net/messaging">Messaging API</a>
            all MQ Servers implement making it trivial to swap between different MQ Brokers.
        </p>
    </div>
    <div class="flex flex-wrap">
        <div class="px-1 w-full lg:w-1/2">
            <h3><a href="https://docs.servicestack.net/rabbit-mq">Rabbit MQ</a></h3>
            <p>
                <a href="http://www.rabbitmq.com">Rabbit MQ</a>
                is a popular industrial strength open source implementation of the
                <a href="http://www.amqp.org">AMQP messaging protocol</a>
                for communicating with MQ middleware on all major OS's.
            </p>

            {% include nuget-package-reference.html
            package="ServiceStack.RabbitMq"
            version=site.package_version
            %}

            <h3>Running RabbitMQ on Windows</h3>
            <p>
                See the <a href="https://github.com/mythz/rabbitmq-windows">installation and getting started guide</a>
                for a walkthrough on setting up Rabbit MQ on windows and accessing it from C#.
            </p>

            <h3>ServiceStack Rabbit MQ</h3>
            <p>
                See <a href="https://docs.servicestack.net/rabbit-mq">ServiceStack's Rabbit MQ docs</a>
                for an explanation on how Rabbit MQ works with ServiceStack and details on its message workflow.
            </p>

            <h3><a href="https://github.com/ServiceStack/ServiceStack.Azure">Azure Service Bus</a></h3>
            <p>
                If you're hosted on Azure you can utilize Azure Service Bus's highly-reliable and managed cloud
                messaging service or
                Windows Service Bus if running Service Bus on Windows Server.
            </p>

            {% include nuget-package-reference.html
            package="ServiceStack.Azure"
            version=site.package_version
            %}

        </div>
        <div class="px-1 w-full lg:w-1/2">
            <h3><a href="https://docs.servicestack.net/messaging">Redis MQ</a></h3>
            <p>
                If Redis is already apart of your infrastructure,
                <a href="https://docs.servicestack.net/messaging">Redis MQ</a>
                is an attractive choice to use as an MQ Broker without needing to add any additional
                infrastructure dependencies.
            </p>

            {% include nuget-package-reference.html
            package="ServiceStack.Server"
            version=site.package_version
            %}

            <p>&nbsp;</p>

            <h3><a href="https://github.com/ServiceStack/ServiceStack.Aws">Amazon SQS</a></h3>
            <p>
                If you're hosted on AWS you can take advantage Amazon's reliable, scalable, fully managed
                message queuing service. SQS makes it simple and cost-effective to decouple the components of a cloud
                application.
                You can use SQS to transmit any volume of data, at any level of throughput, without losing messages or
                requiring other services to be always available.
            </p>

            {% include nuget-package-reference.html
            package="ServiceStack.Aws"
            version=site.package_version
            %}

            <h3>In Memory MQ</h3>
            <p>
                ServiceStack.Server also includes an
                <a href="https://docs.servicestack.net/messaging">In Memory MQ</a>
                option useful for testing and for when other MQ Broker options are not available.
                Although not being able to accept network requests limits its usefulness.
            </p>
        </div>
    </div>

    <div class="download-breaker my-10 flex flex-col items-center">
        <h2 class="text-4xl py-2">Amazon Web Services</h2>
        <div class="colored-line"></div>
        <p class="mt-4">
            You can participate in AWS's vibrant ecosystem with ServiceStack's first-class support and deep
            integration with AWS that seamlessly integrates with popular back-end AWS technologies allowing
            hosting of ServiceStack solutions entirely on the managed AWS platform
        </p>
    </div>
    <div class="flex flex-wrap">
        <div class="px-1 w-full lg:w-1/2">
            <h3>
                <a href="https://github.com/ServiceStack/ServiceStack.Aws">ServiceStack.Aws</a>
            </h3>

            <p>
                All of ServiceStack's support for AWS is encapsulated within the single ServiceStack.Aws NuGet package:
            </p>

            {% include nuget-package-reference.html
            package="ServiceStack.Aws"
            version=site.package_version
            %}
            <h4>Dependencies</h4>
            <ul>
                <li>ServiceStack</li>
                <li>AWSSDK.Core</li>
                <li>AWSSDK.DynamoDBv2</li>
                <li>AWSSDK.S3</li>
                <li>AWSSDK.SQS</li>
            </ul>
        </div>
        <div class="px-1 w-full lg:w-1/2">

            The <b>ServiceStack.Aws</b> NuGet package includes implementations for the following ServiceStack providers:

            <ul>
                <li><strong><a href="https://github.com/ServiceStack/PocoDynamo">PocoDynamo</a></strong> - Declarative,
                    code-first POCO client for DynamoDB with LINQ
                </li>
                <li><strong><a
                        href="https://github.com/ServiceStack/ServiceStack.Aws#sqsmqserver">SqsMqServer</a></strong> -
                    <a href="https://docs.servicestack.net/messaging">MQ Server</a> for invoking ServiceStack Services
                    via Amazon SQS
                </li>
                <li><strong><a href="https://github.com/ServiceStack/ServiceStack.Aws#s3virtualpathprovider">S3VirtualPathProvider</a></strong>
                    - Read/write <a href="https://docs.servicestack.net/virtual-file-system">Virtual FileSystem</a> for
                    Amazon S3
                </li>
                <li><strong><a href="https://github.com/ServiceStack/ServiceStack.Aws#dynamodbauthrepository">DynamoDbAuthRepository</a></strong>
                    - <a href="https://docs.servicestack.net/authentication-and-authorization">UserAuth repository</a>
                    for DynamoDB
                </li>
                <li><strong><a href="https://github.com/ServiceStack/ServiceStack.Aws#dynamodbappsettings">DynamoDbAppSettings</a></strong>
                    - <a href="https://docs.servicestack.net/appsettings">AppSettings provider</a> for DynamoDB
                </li>
                <li><strong><a href="https://github.com/ServiceStack/ServiceStack.Aws#dynamodbcacheclient">DynamoDbCacheClient</a></strong>
                    - <a href="https://docs.servicestack.net/caching">Caching Provider</a> for DynamoDB
                </li>
            </ul>
        </div>
    </div>

    <div class="download-breaker my-10 flex flex-col items-center">
        <h2 class="text-4xl py-2">Microsoft Azure</h2>
        <div class="colored-line"></div>
    </div>
    <div class="flex flex-wrap">
        <div class="px-1 w-full lg:w-1/2">
            <h3>
                <a href="https://github.com/ServiceStack/ServiceStack.Azure">ServiceStack.Azure</a>
            </h3>

            <p>
                All of ServiceStack's support for Azure is encapsulated within the single ServiceStack.Azure NuGet
                package:
            </p>

            {% include nuget-package-reference.html
            package="ServiceStack.Azure"
            version=site.package_version
            %}
        </div>
        <div class="px-1 w-full lg:w-1/2">
            <b>ServiceStack.Azure</b> includes implementation of the following ServiceStack providers:
            <ul>
                <li><strong><a href="https://github.com/ServiceStack/ServiceStack.Azure/#ServiceBusMqServer">ServiceBusMqServer</a></strong>
                    - <a href="https://docs.servicestack.net/messaging" rel="nofollow">MQ Server</a> for invoking
                    ServiceStack Services via Azure ServiceBus
                </li>
                <li><strong><a
                        href="https://github.com/ServiceStack/ServiceStack.Azure/#virtual-filesystem-backed-by-azure-blob-storage">AzureBlobVirtualFiles</a></strong>
                    - Virtual file system based on Azure Blob Storage
                </li>
                <li><strong><a
                        href="https://github.com/ServiceStack/ServiceStack.Azure/#virtual-filesystem-backed-by-azure-blob-storage">AzureAppendBlobVirtualFiles</a></strong>
                    - Virtual file system based on Azure Blob Storage for appending scenarios
                </li>
                <li><strong><a
                        href="https://github.com/ServiceStack/ServiceStack.Azure/#caching-support-with-azure-table-storage">AzureTableCacheClient</a></strong>
                    - Cache client over Azure Table Storage
                </li>
            </ul>
        </div>
    </div>

    <div class="download-breaker my-10 flex flex-col items-center">
        <h2 class="text-4xl py-2">Authentication</h2>
        <div class="colored-line"></div>
    </div>
    <div class="flex flex-wrap">
        <div class="px-1 w-full lg:w-1/2">
            <h3>
                <a href="https://docs.servicestack.net/openid">
                    Open Id
                </a>
                and
                <a href="https://docs.servicestack.net/authentication-and-authorization#oauth2-providers">
                    OAuth2
                </a>
            </h3>

            <p>
                ServiceStack already comes in-built with a number of
                <a href="https://docs.servicestack.net/authentication-and-authorization#auth-providers">
                    Authentication providers
                </a>
                out of the box. Additional
                <a href="https://docs.servicestack.net/openid">
                    Open Id
                </a>
                and
                <a href="https://docs.servicestack.net/authentication-and-authorization#oauth2-providers">
                    OAuth2
                </a>
                providers that require a dependency on <a href="http://dotnetopenauth.net">DotNetOpenAuth</a>
                are available to install separately:
            </p>

            <h3>Open Id</h3>
            <p>
                The Open Id package includes support for Google, Yahoo and My Open Id as well as a generic provider
                that lets you authenticate with any Open Id provider:
            </p>

            {% include nuget-package-reference.html
            package="ServiceStack.Authentication.OpenId"
            version=site.package_version
            %}

            <h4>Dependencies</h4>
            <ul>
                <li>ServiceStack</li>
                <li>DotNetOpenAuth.Ultimate</li>
            </ul>

            <h3>OAuth2</h3>
            <p>
                The OAuth2 package lets you authenticated with Google OAuth2 and LinkedIn OAuth2:
            </p>

            {% include nuget-package-reference.html
            package="ServiceStack.Authentication.OAuth2"
            version=site.package_version
            %}

            <h4>Dependencies</h4>
            <ul>
                <li>ServiceStack</li>
                <li>DotNetOpenAuth.Ultimate</li>
            </ul>

            <p>
                The <a href="https://github.com/ServiceStack/SocialBootstrapApi">Social Bootstrap Api</a>
                is a good showcase showing how to enable all authentication providers within a single project.
            </p>
        </div>
        <div class="px-1 w-full lg:w-1/2">
            <h3>
                <a href="https://docs.servicestack.net/authentication-and-authorization#wiki-userauth-persistence---the-iuserauthrepository">User
                    Auth Repositories</a></h3>
            <p>
                ServiceStack allows you to persist your User Auth information in a variety of different
                back-end persistence providers. Redis and InMemory are built-in to <b>ServiceStack</b>
                whilst <b>ServiceStack.Server</b> includes the OrmLite Auth Repository letting you store
                Users Authentication information in any of the RDBMS's that OrmLite supports:
                Sql Server, Sqlite, MySql and PostgreSQL.
            </p>
            <p>
                In addition to these options you can also persist UserAuth info in RavenDB:
            </p>
            {% include nuget-package-reference.html
            package="ServiceStack.Authentication.RavenDB"
            version=site.package_version
            %}
            <h4>Dependencies</h4>
            <ul>
                <li>ServiceStack</li>
                <li>RavenDB.Client</li>
            </ul>

            <h4>Mongo DB:</h4>

            {% include nuget-package-reference.html
            package="ServiceStack.Authentication.MongoDB"
            version=site.package_version
            %}
            <h4>Dependencies</h4>
            <ul>
                <li>ServiceStack</li>
                <li>mongocsharpdriver</li>
            </ul>

            <h4>or NHibernate:</h4>

            {% include nuget-package-reference.html
            package="ServiceStack.Authentication.NHibernate"
            version=site.package_version
            %}
            <h4>Dependencies</h4>
            <ul>
                <li>ServiceStack</li>
                <li>Iesi.Collections</li>
                <li>NHibernate</li>
                <li>FluentNHibernate</li>
            </ul>
        </div>
    </div>

    <div class="download-breaker my-10 flex flex-col items-center">
        <h2 class="text-4xl py-2">Caching and Logging Providers</h2>
        <div class="colored-line"></div>
    </div>
    <div class="flex flex-wrap">
        <div class="px-1 w-full lg:w-1/2">
            <h3><a href="https://docs.servicestack.net/caching">Caching</a></h3>
            <p>
                In Memory Caching is available in <b>ServiceStack</b> and
                <b>ServiceStack.Redis</b> includes the Redis cache client, whilst
                an OrmLiteCacheClient is available in <b>ServiceStack.Server</b> for
                utilizing an existing RDBMS as a distributed cache.
            </p>

            <p>
                Other External caching providers are also available:
            </p>

            <h4>AWS Dynamo DB:</h4>
            {% include nuget-package-reference.html
            package="ServiceStack.Aws"
            version=site.package_version
            %}
            <h4>Dependencies</h4>
            <ul>
                <li>ServiceStack</li>
                <li>AWSSDK.Core</li>
                <li>AWSSDK.DynamoDBv2</li>
                <li>AWSSDK.S3</li>
                <li>AWSSDK.SQS</li>
            </ul>

            <h4>Memcached:</h4>
            {% include nuget-package-reference.html
            package="ServiceStack.Caching.Memcached"
            version=site.package_version
            %}
            <h4>Dependencies</h4>
            <ul>
                <li>ServiceStack.Common</li>
                <li>EnyimMemcached</li>
            </ul>

            <h4>Azure:</h4>
            {% include nuget-package-reference.html
            package="ServiceStack.Caching.Azure"
            version=site.package_version
            %}
            <h4>Dependencies</h4>
            <ul>
                <li>ServiceStack.Common</li>
                <li>WindowsAzure.Caching</li>
            </ul>
        </div>
        <div class="px-1 w-full lg:w-1/2">
            <h3><a href="https://docs.servicestack.net/logging">Logging</a></h3>
            <p>
                ServiceStack also provides an implementation and dependency-free logging API with adapters
                for all of .NET's popular logging providers. It allows your business logic to bind to an easily-mockable
                and testable dependency-free interface whilst providing the flexibility to switch logging providers
                at runtime.
            </p>
            <p>
                Console, Debug and Empty logging providers are already in <b>ServiceStack</b>, whilst you can
                use NuGet to get the adapter for your preferred logging framework:
            </p>

            <ul>
                <li><a href="https://www.nuget.org/packages/ServiceStack.Logging.NLog">ServiceStack.Logging.NLog</a>
                </li>
                <li>
                    <a href="https://www.nuget.org/packages/ServiceStack.Logging.Log4Net">ServiceStack.Logging.Log4Net</a>
                </li>
                <li>
                    <a href="https://www.nuget.org/packages/ServiceStack.Logging.Serilog">ServiceStack.Logging.Serilog</a>
                </li>
                <li><a href="https://www.nuget.org/packages/ServiceStack.Logging.Elmah">ServiceStack.Logging.Elmah</a>
                </li>
                <li><a href="https://www.nuget.org/packages/ServiceStack.Logging.Slack">ServiceStack.Logging.Slack</a>
                </li>
                <li>
                    <a href="https://www.nuget.org/packages/ServiceStack.Logging.EntLib5">ServiceStack.Logging.EntLib5</a>
                </li>
                <li>
                    <a href="https://www.nuget.org/packages/ServiceStack.Logging.EventLog">ServiceStack.Logging.EventLog</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="download-breaker my-10 flex flex-col items-center">
        <h2 class="text-4xl py-2">Additional Formats</h2>
        <div class="colored-line"></div>
    </div>
    <div class="flex flex-wrap">
        <div class="px-1 w-full lg:w-1/2">
            <h3>
                <a href="https://docs.servicestack.net/protobuf-format">Protocol Buffers</a>
            </h3>
            <p>
                <a href="https://code.google.com/p/protobuf/">Protocol Buffers</a>
                is a high-performance, compact binary wire format invented by Google who use it
                internally so they can communicate with their internal network services at very high speed.
            </p>
            <p>
                You can add it to ServiceStack with:
            </p>
            {% include nuget-package-reference.html
            package="ServiceStack.ProtoBuf"
            version=site.package_version
            %}
            <h3>
                <a href="https://github.com/rogeralsing/Wire">Wire</a>
            </h3>
            <p>
                <a href="https://github.com/rogeralsing/Wire">Wire</a>
                is a high performance polymorphic serializer for the .NET framework.
            </p>
            <p>
                You can add it to ServiceStack with:
            </p>
            {% include nuget-package-reference.html
            package="ServiceStack.Wire"
            version=site.package_version
            %}
        </div>
        <div class="px-1 w-full lg:w-1/2">
            <h3>
                <a href="https://docs.servicestack.net/messagepack-format">Message Pack</a>
            </h3>
            <p>
                <a href="http://msgpack.org">Message Pack</a>
                is an efficient binary serialization format. It lets you exchange data among multiple languages
                like JSON but it's faster and smaller and unlike ProtoBuf supports attribute-less POCOs.
            </p>
            <p>
                You can add it to ServiceStack with:
            </p>
            {% include nuget-package-reference.html
            package="ServiceStack.MsgPack"
            version=site.package_version
            %}
        </div>
    </div>

    <div class="download-breaker my-10 flex flex-col items-center">
        <h2 class="text-4xl py-2">Build Tasks</h2>
        <div class="colored-line"></div>
    </div>
    <div class="flex flex-wrap">
        <div class="px-1 w-full lg:w-1/2">
            <h3>
                <a href="https://docs.servicestack.net/compiled-razor-views">Compiled Razor Views</a>
            </h3>
            <p>
                ServiceStack supports compiled views as a separate build task that can
            </p>
            <ul>
                <li>
                    Improve performance by eliminating compile times of Razor views
                </li>
                <li>
                    provides static compilation benefits by highlighting compile errors during development
                </li>
                <li>
                    simplifies deployment by avoiding having to deploy
                    <b>*.cshtml</b> files as they end up pre-compiled in the containing Assembly
                </li>
            </ul>

            <p></p>
            {% include nuget-package-reference.html
            package="ServiceStack.Razor.BuildTask"
            version=site.package_version
            %}
            <p>
                See the docs on
                <a href="https://docs.servicestack.net/compiled-razor-views">Compiled Razor Views</a>
                for more info.
            </p>
        </div>
        <div class="px-1 w-full lg:w-1/2">
            <h3>
                <a href="https://github.com/ServiceStack/ServiceStack.Gap">Portable ServiceStack Desktop Apps</a>
            </h3>
            <p>
                In addition to compiling Razor Views, ServiceStack also has transparent support for
                embedded resources, allowing your entire application, razor views and web assets to be
                compiled into .NET dlls that can be ILMerged into a Single cross-platform <b>.exe</b>.
            </p>
            <p>
                In addition to compiling razor views, the <b>ServiceStack.Gap</b> NuGet package changes
                all web assets in your VS.NET project to embedded resources.
            </p>
            {% include nuget-package-reference.html
            package="ServiceStack.Gap"
            version=site.package_version
            %}
            <p>
                See the docs on
                <a href="https://github.com/ServiceStack/ServiceStack.Gap">ServiceStack.Gap</a> project
                for guides on how to create portable ServiceStack-powered Console, WinForms
                and Cocoa OSX Desktop Apps.
            </p>
        </div>
    </div>

    <a name="client"></a>
    <div class="download-breaker my-10 flex flex-col items-center">
        <h2 class="text-4xl py-2">Client Libraries</h2>
        <div class="colored-line"></div>
    </div>
    <div class="flex flex-wrap">
        <div class="px-1 w-full lg:w-1/2">
            <p>
                As ServiceStack is just a pure HTTP web service it can be accessed with any HTTP-capable client.
                However in order to provide the least friction and most productivity end-to-end, we also maintain
                generic
                <a href="https://docs.servicestack.net/csharp-client">
                    C# clients
                </a>
                available at:
            </p>


            {% include nuget-package-reference.html
            package="ServiceStack.Client"
            version=site.package_version
            %}

            <p>
                Or use the HttpClient-based JsonHttpClient instead with:
            </p>

            {% include nuget-package-reference.html
            package="ServiceStack.HttpClient"
            version=site.package_version
            %}

            <p>
                Also includes Android, iOS, Windows Store, WPF and Silverlight clients,
                see
                <a href="https://github.com/ServiceStackApps/HelloMobile">Mobile documentation</a>
                for more info.
            </p>

            <p>
                See the <a href="https://github.com/ServiceStack/Hello">Hello Repository</a>
                for a portable solution showing how to re-use DTO's and client libraries between
                Android, iOS, Windows Store, WPF and Silverlight platforms.
            </p>

            <p>&nbsp;</p>
            <h3>Service Clients are unrestricted</h3>
            <p>
                Explicitly included in the <a href="#free-quotas">free quotas</a> is an exception
                enabling free, unrestricted use of ServiceStack Service Clients for calling
                any ServiceStack service.
            </p>
            <p>&nbsp;</p>
        </div>
    </div>

    <a name="core"></a>
    <div class="download-breaker my-10 flex flex-col items-center">
        <h2 class="text-4xl py-2">.Core Packages</h2>
        <div class="colored-line"></div>
        <p class="mt-4">
            Use <b>.Core</b> packages if <a href="https://docs.servicestack.net/netcore#run-aspnet-core-apps-on-the-net-framework">running ServiceStack ASP.NET Core on .NET Framework</a>.
        </p>
    </div>

    <a name="external"></a>
    <div class="download-breaker my-10 flex flex-col items-center">
        <h2 class="text-4xl py-2">External Libraries</h2>
        <div class="colored-line"></div>
    </div>
    <div class="flex flex-wrap">
        <div class="px-1 w-full lg:w-1/2">
            <h3><a href="https://github.com/ServiceStack/Stripe">Stripe</a></h3>
            <p>
                Contains a typed .NET client gateway for accessing
                <a href="https://stripe.com/docs/api/">Stripe's REST API</a>
                to process merchant payments and recurring subscriptions online.
            </p>

            {% include nuget-package-reference.html
            package="ServiceStack.Stripe"
            version=site.package_version
            %}

            <p>
                See the
                <a href="https://github.com/ServiceStack/Stripe">Stripe GitHub repository</a>
                for documentation and example source code.
            </p>
            <p>&nbsp;</p>
        </div>
        <div class="px-1 w-full lg:w-1/2">
            <h3><a href="https://github.com/ServiceStack/Stripe">ServiceStack.CefGlue</a></h3>
            <p>
                Contains
                <a href="https://gitlab.com/xiliumhq/chromiumembedded/cefglue">CefGlue</a>
                bindings for .NET Standard 2.0 with support for running Windows 64 Desktop Applications.
            </p>

            {% include nuget-package-reference.html
            package="ServiceStack.CefGlue"
            version=site.package_version
            %}
            <p>
                See the
                <a href="https://github.com/ServiceStack/ServiceStack.CefGlue"></a> project and
                <a href="https://www.vuedesktop.com">vuedesktop.com</a> website
                for documentation and examples.
            </p>
            <p>&nbsp;</p>
        </div>
    </div>

    <a name="register"></a>
    {% include register-license-key.html %}

    <a name="free-quotas"></a>
    <div class="download-breaker my-10 flex flex-col items-center">
        <h2 class="text-4xl py-2">Free Quotas</h2>
        <div class="colored-line"></div>
        <p class="mt-4">
            Whilst ServiceStack v4+ is a commercially-supported product, we allow free usage
            of our Commercial Products in small projects and for evaluation purposes. <br>
        </p>
    </div>
    <div class="">
        <p>
            The NuGet packages above include the quota's for our Commercial Products below which can be unlocked with a license key:
        </p>
        <div class="px-1">
            <ul>
                <li><b>10 Operations in ServiceStack</b> (i.e. Request DTOs)</li>
                <li><b>10 Database Tables in OrmLite</b></li>
                <li><b>10 DynamoDB Tables in PocoDynamo</b></li>
                <li><b>20 Different Types in Redis Client Typed APIs</b></li>
                <li><b>6000 requests per hour with the Redis Client</b></li>
            </ul>

            <p>
                You can evaluate ServiceStack without these restrictions with our  <a href="/trial">30 Day Free Trial</a>.
            </p>

            <p>
                The rest of ServiceStack outside of these free-usage quotas can be used without a developers license subject to
                <a href="/terms">ServiceStack's License Agreement</a>.
                A commercial license is required to access commercial support options.
            </p>
        </div>
    </div>

    <p>&nbsp;</p>
</div>
