---
title: Explore Live Demos
slug: explore
layout: content-page
sitemap: false
---
<div>
    <div class="">
        <div class="pt-10 wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
            <h1 class="text-center my-4 pt-8">
                <a href="https://docs.servicestack.net/autoquery" class="text-gray-700">Explore live demos of ServiceStack</a>
            </h1>
            <div class="colored-line"></div>
            <div class="text-center mt-8 text-xl">
                Checkout these live demos with source code available on GitHub!
            </div>
        </div>

        <div class="container my-12">
            <div class="flex flex-wrap mt-8">
                <div class="w-full centered px-4 py-2 wow fadeIn animated" data-wow-offset="10"
                     data-wow-duration="1.5s">
                    <div class="rounded-md p-6">

                        <div id="explore-live-demos">
                            <div class="flex flex-wrap mt-2">
                                <div class="w-full centered mt-2 mb-2">
                                    <h3>Feature Showcase</h3>
                                    <div class="flex flex-wrap mt-8">

                                    </div>
                                </div>
                                <div class="w-full centered mt-2 mb-2">
                                    <h3>Data Focused</h3>
                                </div>
                                <div class="w-full centered mt-2 mb-2">
                                    <h3>Native Mobile Apps</h3>
                                </div>
                                <div class="w-full centered mt-2 mb-2">
                                    <h3>Fullstack</h3>
                                    <div class="w-full md:w-1/2 centered mt-2 mb-2 px-4">
                                        <div class="rounded-md shadow-lg p-2 mx-2">
                                            <a href="https://techstacks.io"><h4>TechStacks.io</h4></a>
                                            <div class="p-2 mx-2">
                                                <a href="https://techstacks.io"><img style="min-height: 144px"
                                                                                     src="https://raw.githubusercontent.com/ServiceStack/Assets/master/img/livedemos/techstacks/screenshots/techstacks.png"
                                                                                     alt="TechStacks WebSite"></a>
                                                <div class="flex flex-wrap mt-2">
                                                    <div class="w-1/3 text-center mt-2 mb-2 px-4 text-xl">
                                                        <a href="https://techstacks.io" title="Live Demo"><i
                                                                class="fa fa-link"></i> <span
                                                                class="hidden">Live Demo</span></a>
                                                    </div>
                                                    <div class="w-1/3 text-center mt-2 mb-2 px-4 text-xl">
                                                        <a href="https://github.com/ServiceStackApps/TechStacks"
                                                           title="Source on GitHub"><i class="fab fa-github"></i> <span
                                                                class="hidden">Source on GitHub</span></a>
                                                    </div>
                                                    <div class="w-1/3 text-center mt-2 mb-2 px-4 text-xl">
                                                        <a href="https://github.com/ServiceStackApps/TechStacks/blob/master/README.md"
                                                           title="Readme"><i class="fas fa-list"></i> <span
                                                                class="hidden">Read me</span></a>
                                                    </div>
                                                </div>
                                                <p class="m-4">
                                                    TechStacks is a AngularJS CRUD App that lets you Browse and Add
                                                    Technology
                                                    Stacks of popular StartUps.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-full centered mt-2 mb-2">
                                    <h3>Templates</h3>
                                    <div class="flex flex-wrap mt-8">

                                        {% include live-demo-item.html
                                        name="Angular SPA"
                                        live_demo_url="https://angular-spa.web-templates.io"
                                        preview_img_url="https://raw.githubusercontent.com/ServiceStack/Assets/master/csharp-templates/angular-spa.png"
                                        preview_img_alt="Angular SPA Template"
                                        github_url="https://github.com/ServiceStackApps/AngularSpa"
                                        readme_url="https://github.com/ServiceStackApps/AngularSpa/blob/main/README.md"
                                        %}

                                        {% include live-demo-item.html
                                        name="Aurelia SPA"
                                        live_demo_url="https://aurelia-spa.web-templates.io"
                                        preview_img_url="https://raw.githubusercontent.com/ServiceStack/Assets/master/csharp-templates/aurelia-spa.png"
                                        preview_img_alt="Aurelia SPA Template"
                                        github_url="https://github.com/ServiceStackApps/AureliaSpaTemplate"
                                        readme_url="https://github.com/ServiceStackApps/AureliaSpaTemplate/blob/main/README.md"
                                        %}

                                        {% include live-demo-item.html
                                        name="MVC"
                                        live_demo_url="https://mvc.web-templates.io"
                                        preview_img_url="https://raw.githubusercontent.com/ServiceStack/Assets/master/csharp-templates/mvc.png"
                                        preview_img_alt="MVC Template"
                                        github_url="https://github.com/ServiceStackApps/MvcTemplate"
                                        readme_url="https://github.com/ServiceStackApps/MvcTemplate/blob/main/README.md"
                                        %}

                                        {% include live-demo-item.html
                                        name="MVC Auth"
                                        live_demo_url="https://mvcauth.web-templates.io"
                                        preview_img_url="https://raw.githubusercontent.com/ServiceStack/Assets/master/csharp-templates/mvcauth.png"
                                        preview_img_alt="MVC Auth Template"
                                        github_url="https://github.com/ServiceStackApps/MvcAuthTemplate"
                                        readme_url="https://github.com/ServiceStackApps/MvcAuthTemplate/blob/main/README.md"
                                        %}

                                        {% include live-demo-item.html
                                        name="Razor"
                                        live_demo_url="https://razor.web-templates.io"
                                        preview_img_url="https://raw.githubusercontent.com/ServiceStack/Assets/master/csharp-templates/razor.png"
                                        preview_img_alt="Razor Template"
                                        github_url="https://github.com/ServiceStackApps/RazorTemplate"
                                        readme_url="https://github.com/ServiceStackApps/RazorTemplate/blob/main/README.md"
                                        %}

                                        {% include live-demo-item.html
                                        name="React SPA"
                                        live_demo_url="https://react-spa.web-templates.io"
                                        preview_img_url="https://raw.githubusercontent.com/ServiceStack/Assets/master/csharp-templates/react-spa.png"
                                        preview_img_alt="React SPA Template"
                                        github_url="https://github.com/ServiceStackApps/ReactSPA"
                                        readme_url="https://github.com/ServiceStackApps/ReactSPA/blob/main/README.md"
                                        %}

                                        {% include live-demo-item.html
                                        name="#Script"
                                        live_demo_url="https://script.web-templates.io"
                                        preview_img_url="https://raw.githubusercontent.com/ServiceStack/Assets/master/csharp-templates/script.png"
                                        preview_img_alt="#Script Template"
                                        github_url="https://github.com/ServiceStackApps/ScriptTemplate"
                                        readme_url="https://github.com/ServiceStackApps/ScriptTemplate/blob/main/README.md"
                                        %}

                                        {% include live-demo-item.html
                                        name="Self Host"
                                        live_demo_url="https://selfhost.web-templates.io"
                                        preview_img_url="https://raw.githubusercontent.com/ServiceStack/Assets/master/csharp-templates/selfhost.png"
                                        preview_img_alt="MVC Template"
                                        github_url="https://github.com/ServiceStackApps/SelfHostTemplate"
                                        readme_url="https://github.com/ServiceStackApps/SelfHostTemplate/blob/main/README.md"
                                        %}

                                        {% include live-demo-item.html
                                        name="Svelte SPA"
                                        live_demo_url="https://svelte-spa.web-templates.io"
                                        preview_img_url="https://raw.githubusercontent.com/ServiceStack/Assets/master/csharp-templates/svelte-spa.png"
                                        preview_img_alt="Svelte SPA Template"
                                        github_url="https://github.com/ServiceStackApps/SvelteSpa"
                                        readme_url="https://github.com/ServiceStackApps/SvelteSpa/blob/main/README.md"
                                        %}

                                        {% include live-demo-item.html
                                        name="Vue Nuxt"
                                        live_demo_url="https://vue-nuxt.web-templates.io"
                                        preview_img_url="https://raw.githubusercontent.com/ServiceStack/Assets/master/csharp-templates/vue-nuxt.png"
                                        preview_img_alt="Vue Nuxt Template"
                                        github_url="https://github.com/ServiceStackApps/VueNuxt"
                                        readme_url="https://github.com/ServiceStackApps/VueNuxt/blob/main/README.md"
                                        %}

                                        {% include live-demo-item.html
                                        name="Vue SPA"
                                        live_demo_url="https://vue-spa.web-templates.io"
                                        preview_img_url="https://raw.githubusercontent.com/ServiceStack/Assets/master/csharp-templates/vue-spa.png"
                                        preview_img_alt="Vue SPA Template"
                                        github_url="https://github.com/ServiceStackApps/VueSpa"
                                        readme_url="https://github.com/ServiceStackApps/VueSpa/blob/main/README.md"
                                        %}

                                        {% include live-demo-item.html
                                        name="Vuetify Nuxt"
                                        live_demo_url="https://vuetify-nuxt.web-templates.io"
                                        preview_img_url="https://raw.githubusercontent.com/ServiceStack/Assets/master/csharp-templates/vuetify-nuxt.png"
                                        preview_img_alt="Vuetify Nuxt Template"
                                        github_url="https://github.com/ServiceStackApps/VuetifyNuxt"
                                        readme_url="https://github.com/ServiceStackApps/VuetifyNuxt/blob/main/README.md"
                                        %}

                                        {% include live-demo-item.html
                                        name="Vuetify SPA"
                                        live_demo_url="https://vuetify-spa.web-templates.io"
                                        preview_img_url="https://raw.githubusercontent.com/ServiceStack/Assets/master/csharp-templates/vuetify-spa.png"
                                        preview_img_alt="Vuetify SPA Template"
                                        github_url="https://github.com/ServiceStackApps/VuetifySpa"
                                        readme_url="https://github.com/ServiceStackApps/VuetifySpa/blob/main/README.md"
                                        %}

                                        {% include live-demo-item.html
                                        name="Web"
                                        live_demo_url="https://web.web-templates.io"
                                        preview_img_url="https://raw.githubusercontent.com/ServiceStack/Assets/master/csharp-templates/web.png"
                                        preview_img_alt="Web Template"
                                        github_url="https://github.com/ServiceStackApps/WebTemplate"
                                        readme_url="https://github.com/ServiceStackApps/WebTemplate/blob/main/README.md"
                                        %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>