---
title: Litestream Apps
layout: landing-page
sitemap: false
permalink: /litestream
brand: <h2 class="brand">Litestream Apps</h2>
---
<style>
header {
    background-image: url(/images/bg-header6.jpg);
    background-size: cover;
}
</style>

{% include landing/hero.html
intro_heading="Safely run DB Apps on a single server at low cost"
intro_text="Simple & Fast! Litestream reliably runs most Apps, fast on a single server, with continuous backups to cheap managed storage."
call_to_action_url="https://litestream.io"
call_to_action_text="What is Litestream?"
youtube_id="WXRwT7ayc1Y"
%}

<section class="text-center">
    <div class="container">
        <div class="my-20">
            <h2 class="text-gray-700 pb-2">Reduce Complexity &amp; Save Costs</h2>
            <div class="colored-line"></div>
            <div class="section-description my-2">
                <p>
                    Litestream performs continuous, per second backups to AWS S3, Azure Blob Storage &amp; SFTP
                    providing resilient, cost effective point-in-time restore functionality <br>
                    Avoid expensive managed RDBMS servers, reduce deployment complexity by replicating to cheap managed storage with 
                    <a href="https://aws.amazon.com/s3/storage-classes/">11 9's durability</a>
                </p>
            </div>
        </div>
        <img src="/images/litestream/litestream-costs.svg">
    </div>
</section>

<section class="my-10 py-10 text-center bg-gray-50">
    <div class="container">
        <div class="">
            <h2 class="text-gray-700 pb-2">Savings at Scale</h2>
            <div class="colored-line"></div>
            <div class="section-description my-2">
                <p>
                    SQLite directly benefits from improving hardware's faster CPUs and SSDs with superior locality to comfortably handle most App's needs. 
                </p>
            </div>
        </div>
        <img src="/images/litestream/litestream-costs-perf.svg">
    </div>
</section>

<section class="text-center">
    <div class="container">
        <div class="my-20">
            <h2 class="text-gray-700 pb-2">Effortless Migrations</h2>
            <div class="colored-line"></div>
            <div class="section-description my-2">
                No Lock-in. Migrate off whenever you want. <br>
                Using SQLite with <a href="https://docs.servicestack.net/ormlite/">OrmLite's</a> fast, typed APIs
                lets you easily migrate to any of its 
                <a href="https://docs.servicestack.net/ormlite/installation">supported RDBMS</a> with just configuration, no other code changes required.
            </div>
        </div>
        <div class="flex justify-center pb-8 my-8">
            <img src="/images/litestream/litestream-migrate.svg" class="max-w-screen-md">
        </div>
    </div>
</section>

<section class="my-10 py-10 text-center bg-gray-50">
    <div class="container">
        <div class="pb-8">
            <h2 class="text-gray-700 pb-2">How it works</h2>
            <div class="colored-line"></div>
            <div class="section-description my-2">
                <p>
                    Litestream is run as a 
                    <a href="https://litestream.io/guides/docker/">sidecar Docker container</a>,
                    activated on each deployment to handle restoring &amp; replicating changes from its configured storage
                </p>
            </div>
        </div>
        <img src="/images/litestream/litestream-how-it-works.svg">
    </div>
</section>

<section class="text-center">
    <div class="container">
        <div class="my-20">
            <h2 id="create" class="text-gray-700 pb-2">Create Litestream Jamstack Apps</h2>
            <div class="colored-line"></div>
            <div class="section-description my-2">
                To make working with Litestream easy, we've created GitHub Action Docker Compose configurations for each of Litestream's popular Storage options
                that you can 
                <a href="https://docs.servicestack.net/mix-tool">mix</a> &amp; match with any modern C#
                <a href="https://jamstacks.net">jamstacks.net</a> Project Template below:
            </div>

            <!-- This example requires Tailwind CSS v2.0+ -->
            <fieldset id="litestream-options" class="my-10">
                <legend class="text-gray-700">
                    <h3>Select preferred Litestream storage option</h3>
                </legend>
                <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-3 sm:gap-x-4">
                <!--
                    Checked: "border-transparent", Not Checked: "border-gray-300"
                    Active: "border-indigo-500 ring-2 ring-indigo-500"
                -->
                <label class="relative bg-white border rounded-lg shadow-sm p-4 flex cursor-pointer focus:outline-none border-indigo-500 ring-2 ring-indigo-500">
                    <input type="radio" name="storage-type" value="aws" class="sr-only" aria-labelledby="storage-type-0-label" aria-describedby="storage-type-0-description-0 storage-type-0-description-1">
                    <span class="flex-1 flex">
                    <span class="flex flex-col">
                        <span>
                            <img src="/images/litestream/aws_square.svg" alt="AWS S3" class="w-15">
                        </span>
                        <span id="storage-type-0-label" class="block text-2xl font-medium text-gray-900">
                            S3 Simple Storage Service
                        </span>
                    </span>
                    </span>
                    <!--
                        Not Checked: "invisible"
                        Heroicon name: solid/check-circle
                    -->
                    <svg class="h-5 w-5 text-indigo-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                    <!--
                        Active: "border", Not Active: "border-2"
                        Checked: "border-indigo-500", Not Checked: "border-transparent"
                    -->
                    <span class="absolute -inset-px rounded-lg border-2 pointer-events-none" aria-hidden="true"></span>
                </label>
            
                <!--
                    Checked: "border-transparent", Not Checked: "border-gray-300"
                    Active: "border-indigo-500 ring-2 ring-indigo-500"
                -->
                <label class="relative bg-white border rounded-lg shadow-sm p-4 flex cursor-pointer focus:outline-none">
                    <input type="radio" name="storage-type" value="azure" class="sr-only" aria-labelledby="storage-type-1-label" aria-describedby="storage-type-1-description-0 storage-type-1-description-1">
                    <span class="flex-1 flex">
                    <span class="flex flex-col">
                        <span>
                            <img src="/images/litestream/azure_square.svg" alt="Azure Blob Storage" class="w-15">
                        </span>
                        <span id="storage-type-1-label" class="block text-2xl font-medium text-gray-900">
                            Azure Blob Storage
                        </span>
                    </span>
                    </span>
                    <!--
                        Not Checked: "invisible"
                        Heroicon name: solid/check-circle
                    -->
                    <svg class="h-5 w-5 text-indigo-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                    <!--
                        Active: "border", Not Active: "border-2"
                        Checked: "border-indigo-500", Not Checked: "border-transparent"
                    -->
                    <span class="absolute -inset-px rounded-lg border-2 pointer-events-none" aria-hidden="true"></span>
                </label>
            
                <!--
                    Checked: "border-transparent", Not Checked: "border-gray-300"
                    Active: "border-indigo-500 ring-2 ring-indigo-500"
                -->
                <label class="relative bg-white border rounded-lg shadow-sm p-4 flex cursor-pointer focus:outline-none">
                    <input type="radio" name="storage-type" value="sftp" class="sr-only" aria-labelledby="storage-type-2-label" aria-describedby="storage-type-2-description-0 storage-type-2-description-1">
                    <span class="flex-1 flex">
                    <span class="flex flex-col">
                        <span>
                            <img src="/images/litestream/sftp.png" alt="SFTP" class="w-15">
                        </span>
                        <span id="storage-type-2-label" class="block text-2xl font-medium text-gray-900">
                            SSH File Transfer Protocol
                        </span>
                    </span>
                    </span>
                    <!--
                        Not Checked: "invisible"
                        Heroicon name: solid/check-circle
                    -->
                    <svg class="h-5 w-5 text-indigo-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                    <!--
                        Active: "border", Not Active: "border-2"
                        Checked: "border-indigo-500", Not Checked: "border-transparent"
                    -->
                    <span class="absolute -inset-px rounded-lg border-2 pointer-events-none" aria-hidden="true"></span>
                </label>
                </div>
            </fieldset>
        </div>

    </div>
</section>

<section class="text-center">
    <div class="container">
    <div class="mt-8">
        <h3 class="text-gray-700 pb-2">Create new Litestream Jamstack App</h3>
        <div class="section-description my-2">
            Each project template is pre-configured with the necessary GitHub Actions to activate Litestream replication services on each Docker Compose deployment:
        </div>
    </div>

    <section class="w-full flex flex-col justify-center text-center">
        <div id="empty" class="mt-4 mb-2">
            <div class="flex justify-center mb-8 pb-8">
                <div class="w-70">
                    <input id="txtProjectName" type="text" class="text-2xl" placeholder="Project Name" autocorrect="off" spellcheck="false"
                            onkeypress="return isAlphaNumeric(event.charCode)"
                            onchange="this.value = this.value.replace(/[\W]+/g,'')"
                            oninput="updateTemplates()"
                            >
                </div>
            </div>
            <div id="ssg" class="mt-4 mb-2">
                <h3 class="text-gray-400 text-xl mb-2">SSG Templates</h3>
                <div class="flex flex-wrap justify-center">
                    <div>
                        {% include project-template-install-card.html
                            repo="NetCoreTemplates/nextjs"
                            name="Next.js"
                            icon_element="<img class='w-12 h-12 border-2 bg-white rounded-full' src='/images/svgs/nextjs.svg'>" %}
                        <a class="text-sm text-center mr-4 text-gray-700" href="https://nextjs.jamstacks.net">nextjs.jamstacks.net</a>
                    </div>
                    <div>
                        {% include project-template-install-card.html
                            repo="NetCoreTemplates/vue-ssg"
                            name="Vue SSG"
                            icon_element="<img class='w-12 h-12' src='/images/svgs/vue.svg'>" %}
                        <a class="text-sm text-center mr-4 text-gray-700" href="https://vue-ssg.jamstacks.net">vue-ssg.jamstacks.net</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="w-full flex flex-col justify-center text-center">
        <div id="spa" class="mt-4 mb-2">
            <h3 class="text-gray-400 text-xl mb-2">SPA Templates</h3>
            <div class="flex flex-wrap justify-center">
                <div>
                    {% include project-template-install-card.html
                        repo="NetCoreTemplates/blazor-tailwind"
                        name="Blazor Tailwind"
                        icon_element="<img class='w-12 h-12' src='/images/svgs/blazor.svg'>" %}
                    <a class="text-sm text-center mr-4 text-gray-700" href="https://blazor-tailwind.jamstacks.net">blazor-tailwind.jamstacks.net</a>
                </div>
                <div>
                    {% include project-template-install-card.html
                        repo="NetCoreTemplates/vue-vite"
                        name="Vue Vite"
                        icon_element="<img class='w-12 h-12' src='/images/svgs/vue.svg'>" %}
                    <a class="text-sm text-center mr-4 text-gray-700" href="https://vue-vite.jamstacks.net">vue-vite.jamstacks.net</a>
                </div>
                <div>
                    {% include project-template-install-card.html
                        repo="NetCoreTemplates/blazor-wasm"
                        name="Blazor WASM"
                        icon_element="<img class='w-12 h-12' src='/images/svgs/blazor.svg'>" %}
                    <a class="text-sm text-center mr-4 text-gray-700" href="https://blazor-wasm.jamstacks.net">blazor-wasm.jamstacks.net</a>
                </div>
            </div>
        </div>
    </section>   
    
    <section class="w-full flex flex-col justify-center text-center">
        <div id="spa" class="mt-4 mb-2">

            <div class="mt-8">
                <h3 class="text-gray-700 pb-2">Create empty Litestream Web App</h3>
                <div class="section-description pb-8">
                    For any other project, you can start with the empty App template
                </div>
            </div>
        
            <div class="flex flex-wrap justify-center">
                <div>
                    {% include project-template-install-card.html
                        repo="NetCoreTemplates/web"
                        name="Web"
                        icon_element="<i class='fab fa-servicestack'></i>" %}
                    <a class="text-sm text-center mr-4 text-gray-700" href="https://web.web-templates.io">web.web-templates.io</a>
                </div>
            </div>
        </div>
    </section>   


    </div>
</section>

<div class="my-20"></div>

<div class="buttons my-8 flex text-center justify-center">
    {% include btn_lg.html href="#{site.dynamic_url}/free" label="Free for Individuals & OSS" %}
    <span class="mx-1"></span>
    {% include btn_lg.html href="#{site.dynamic_url}/trial" label="30 Day Free Trial" %}
</div>

<div class="text-center mb-8 pb-8 text-2xl">
    <a href="{{site.dynamic_url}}/pricing">See Pricing</a>
</div>

<div class="text-center">
    {% include home/testimonials-section.html %}
</div>
{% include landing/brand-customers.html %}

<script>
let DYNAMIC_URL = "{{site.dynamic_url}}"

let defaultValue = location.hash.indexOf('azure') >= 0
        ? 'azure'
        : location.hash.indexOf('sftp') >= 0
            ? 'sftp'
            : 'aws'
</script>

<script src="/js/jquery.min.js"></script>
<script src="/js/start.js"></script>

<script>
updateTemplates()

let inputs = $('#litestream-options input[type=radio]')

// overrides getMix + templateUrlFilter in start.js
function getMix() {
    let chk = $('#litestream-options input:checked')[0]
    return 'x-litestream-' + (chk && chk.value) || defaultValue
}
function templateUrlFilter(url) {
    let mixPrefixes = {
        "web":             "litestream",
        "nextjs":          "jamstack-litestream",
        "vue-ssg":         "jamstack-litestream",
        "vue-vite":        "jamstack-litestream",
        "blazor-wasm":     "blazor-litestream",
        "blazor-tailwind": "blazor-litestream",
    }

    let tplUrl = url.split('?')[0]
    let tpl = tplUrl.substring(tplUrl.lastIndexOf('/') + 1)
    return url.replace('x-litestream', mixPrefixes[tpl])
}

function updateStorage(e) {
    //let input = e.target
    inputs.each((i,input) => {
        let label = $(input.parentElement)
        let svg = label.find('svg')
        let border = label.find('.-inset-px')
        
        let isChecked = input.checked
        let isActive = label === document.activeElement
        if (isChecked) {
            label.addClass('border-transparent').removeClass('border-gray-300')
            border.addClass('border-indigo-500').removeClass('border-transparent')
            svg.attr('class', svg.attr('class').replace(/ invisible/g,''))
        } else {
            label.addClass('border-gray-300').removeClass('border-transparent')
            border.addClass('border-transparent').removeClass('border-indigo-500')
            svg.attr('class', svg.attr('class') + ' invisible')
        }
        if (isActive) {
            label.addClass('border-indigo-500 ring-2 ring-indigo-500')
            border.addClass('border').removeClass('border-2')
        } else {
            label.removeClass('border-indigo-500 ring-2 ring-indigo-500')
            border.addClass('border-2').removeClass('border')
        }
    })
    updateTemplates()
}

$(`#litestream-options input[value=${defaultValue}]`).attr('checked', true)
$('#litestream-options input[type=radio]').on('change', updateStorage)
updateStorage()
</script>

<!-- label
Checked: "border-transparent", Not Checked: "border-gray-300"
Active: "border-indigo-500 ring-2 ring-indigo-500"

SVG
invisible

span
Active: "border", Not Active: "border-2"
Checked: "border-indigo-500", Not Checked: "border-transparent"
-->

