---
title: Add ServiceStack Reference - Seamless Integration
layout: landing-page
customcss: home.css
sitemap: false
permalink: /add-servicestack-reference
---
<style>
    .owl-dots {
        padding-top: 2em;
    }
</style>
<!--Hero banner -->
{% include landing/hero.html
intro_heading="Build Integrations Faster With Any Platform"
intro_text="Easy to Manage Typed End-To-End Clients Generated for Mobile, Desktop, Web in Your Language of Choice"
call_to_action_url="/start"
call_to_action_text="Get Started"
youtube_id="JKsgrstNnYY"
%}
<section class="text-center">
    <div class="container">
        <div class="mb-8">
            <h2 class="text-gray-700 pb-2">Right Click, Integrate</h2>
            <div class="colored-line"></div>
            <div class="section-description my-2">
                Generate working client code for specific services in all popular languages from your favorite IDE.
            </div>
        </div>

        <div class="flex flex-wrap">
            {% include landing/add-ss-ref-ide.html
            plugin_url="https://plugins.jetbrains.com/plugin/7749-servicestack"
            ide_svg="/images/svgs/ides/icon-intellij-idea.svg"
            ide_name="IntelliJ"
            support_languages="Java, Kotlin, TypeScript"
            %}

            {% include landing/add-ss-ref-ide.html
            plugin_url="https://plugins.jetbrains.com/plugin/7749-servicestack"
            ide_svg="/images/svgs/ides/icon-webstorm.svg"
            ide_name="WebStorm"
            support_languages="TypeScript"
            %}

            {% include landing/add-ss-ref-ide.html
            plugin_url="https://plugins.jetbrains.com/plugin/7749-servicestack"
            ide_svg="/images/svgs/ides/icon-pycharm.svg"
            ide_name="PyCharm"
            support_languages="Python, TypeScript"
            %}

            {% include landing/add-ss-ref-ide.html
            plugin_url="https://plugins.jetbrains.com/plugin/17295-servicestack"
            ide_svg="/images/svgs/ides/icon-rider.svg"
            ide_name="Rider"
            support_languages="C#, F#, TypeScript, VB.NET"
            %}

            {% include landing/add-ss-ref-ide.html
            plugin_url="https://plugins.jetbrains.com/plugin/7749-servicestack"
            ide_svg="/images/svgs/ides/icon-rubymine.svg"
            ide_name="RubyMine"
            support_languages="TypeScript"
            %}

            {% include landing/add-ss-ref-ide.html
            plugin_url="https://marketplace.visualstudio.com/items?itemName=Mythz.ServiceStackVS"
            ide_svg="/images/svgs/vs-2019.svg"
            ide_name="Visual Studio"
            ide_style="width:70px;height:70px;"
            support_languages="C#, F#, TypeScript, VB.NET"
            %}

            {% include landing/add-ss-ref-ide.html
            plugin_url="https://plugins.jetbrains.com/plugin/7749-servicestack"
            ide_svg="/images/svgs/androidstudio.svg"
            ide_name="Android Studio"
            ide_style="width:70px;height:70px;"
            support_languages="Java, Kotlin, TypeScript"
            %}

            {% include landing/add-ss-ref-ide.html
            plugin_url="https://marketplace.eclipse.org/content/servicestackeclipse"
            ide_svg="/images/svgs/ides/eclipse-11.svg"
            ide_style="width:70px;height:70px;"
            ide_name="Eclipse"
            support_languages="Java"
            %}
        </div>
    <!-- /END CONTAINER -->
    </div>
</section>

{% include landing/key-features.html
sub_heading="Generate working client code for specific services in all popular languages from your favorite IDE."
key_feature_html_one="
<h3><i class='fa fa-check'></i> Maximized for Developer Experience</h3>
<p>To provide a seamless Development Experience, Add ServiceStack Reference is available as a plugin in most major IDEs which will allow your API Consumers to be able easily add a typed Service Reference to your Services with just its URL in their preferred language from within JetBrains Rider, VS.NET, Android Studio, PyCharm, IntelliJ IDEA, RubyMine, PhpStorm, WebStorm and Eclipse</p>
"
key_feature_html_two="
<h3><i class='fa fa-check'></i> Wide Language Support</h3>
<p>Server side code generation and IDE integrated tooling makes it easy for any team or customers to integrate with your services in the language they know best. With 9 support languages and 8 custom IDE plugins supported as well as CLI tooling, ServiceStack can be used to enhance developer workflows with your favorite language and IDE. </p>
"
key_feature_html_three="
<h3><i class='fa fa-check'></i> Generated from the Service itself</h3>
<p>Native server-side generated code provides an alternative for sharing compiled DLLs of Data Transform Objects and enables a better developer workflow for external clients who are now able to generate, update and control Typed APIs for your Services from a single remote URL directly within their favorite IDE - reducing the burden and effort required to consume ServiceStack Services whilst benefiting from clients native language strong-typing feedback.</p>
"
key_feature_html_four="
<h3><i class='fa fa-check'></i> Consistent Integration Process</h3>
<p>Add ServiceStack Reference enables teams cross disciplinary and language teams to work the same way when integrating internal or external applications or tools. This reduces software maintenance efforts and enables developers to focus on the important part of their code rather than the plumbing between client and server. </p>
"

%}

<!-- Support and learning-->
{% include landing/support-and-learning.html
youtube_id="GTnuMhvUayg,WjbhfH45i5k,cbYuem1b2tg,ocH5L-CikQ0"
related_docs_html="
<li><a href='https://docs.servicestack.net/csharp-add-servicestack-reference'>C#</a></li>
<li><a href='https://docs.servicestack.net/typescript-add-servicestack-reference'>TypeScript</a></li>
<li><a href='https://docs.servicestack.net/python-add-servicestack-reference'>Python</a></li>
<li><a href='https://docs.servicestack.net/swift-add-servicestack-reference'>Swift</a></li>
<li><a href='https://docs.servicestack.net/java-add-servicestack-reference'>Java</a></li>
<li><a href='https://docs.servicestack.net/kotlin-add-servicestack-reference'>Kotlin</a></li>
<li><a href='https://docs.servicestack.net/dart-add-servicestack-reference'>Dart</a></li>
<li><a href='https://docs.servicestack.net/fsharp-add-servicestack-reference'>F#</a></li>
<li><a href='https://docs.servicestack.net/vbnet-add-servicestack-reference'>VB.NET</a></li>"
code_example_html="
<li><a href='https://github.com/NetCoreApps/TechStacks'>TechStacks</a></li>
<li><a href='https://github.com/NetCoreApps/Northwind'>Northwind AutoQuery</a></li>
<li><a href='https://github.com/NetCoreApps/Chinook'>Chinook AutoQuery</a></li>
<li><a href='https://github.com/NetCoreApps/BookingsCrud'>Bookings System</a></li>
<li><a href='https://github.com/NetCoreApps/SimpleAuth.Mvc'>Simple Auth MVC</a></li>
"
%}

<!-- What developers say, maybe pick 3 tweets? -->
<div class="text-center">
    {% include home/testimonials-section.html %}
</div>

{% include landing/brand-customers.html %}

<!-- Final call to action to get started/trial -->

{% include landing/lower-cta.html
title="Get Started Today"
call_to_action_text="Start Free Trial"
call_to_action_url="/trial"
%}
