---
title: Service Reference for Typed APIs
layout: landing-page
sitemap: false
permalink: /service-reference
brand: <h2 class="brand">ServiceStack Reference</h2>
---
<style>
header {
    background-image: url(/images/bg-header4.jpg);
}
#langIcons {
    justify-content: space-between;
}
#langIcons a {}
#langIcons img {
    max-height: 80px;
    min-width: 80px;
    filter: grayscale(100%) invert(1);
    opacity: .5;
    box-shadow: none;
    padding: 2px;
}
#langIcons img:hover {
    filter: none;
    opacity: 1;
    background: rgba(255,255,255,.8);
    border-radius: 50%;
    transition: background 0.2s cubic-bezier(0, 0, 0.2, 1);
}
</style>

{% include landing/hero.html
intro_heading="High performance APIs that integrate with any platform"
intro_text="Maximize the utility of your System APIs with end-to-end typed integrations to all popular languages for Web, Mobile & Desktop"
call_to_action_url="/start"
call_to_action_text="Get Started"
youtube_id="JKsgrstNnYY"
%}

<div class="hidden md:block" style="max-width:1150px;margin:-180px auto 80px auto">
    <div id="langIcons" class="flex justify-center items-center">
        <a class="cursor-pointer" href="https://docs.servicestack.net/csharp-add-servicestack-reference">
            <img src="/images/svgs/csharp.svg" style="transform:scale(.95)" alt="C#">
        </a>
        <a class="cursor-pointer" href="https://docs.servicestack.net/typescript-add-servicestack-reference">
            <img class="" src="/images/svgs/node.svg" style="transform:scale(.9)" alt="Node.js">
        </a>
        <a class="cursor-pointer" href="https://docs.servicestack.net/python-add-servicestack-reference">
            <img src="/images/svgs/python.svg" style="transform:scale(.90)" alt="Python">
        </a>
        <a class="cursor-pointer" href="https://docs.servicestack.net/dart-add-servicestack-reference">
            <img src="/images/svgs/dart.svg" alt="Dart">
        </a>
        <a class="cursor-pointer" href="https://docs.servicestack.net/java-add-servicestack-reference">
            <img class="" src="/images/svgs/java.svg" alt="Java">
        </a>
        <a class="cursor-pointer" href="https://docs.servicestack.net/kotlin-add-servicestack-reference">
            <img class="" src="/images/svgs/kotlin.svg" style="transform:scale(.9)" alt="Kotlin">
        </a>
        <a class="cursor-pointer" href="https://docs.servicestack.net/swift-add-servicestack-reference">
            <img class="" src="/images/svgs/swift.svg" style="transform:scale(.9)" alt="Swift">
        </a>
        <a class="cursor-pointer" href="https://docs.servicestack.net/vbnet-add-servicestack-reference">
            <img src="/images/svgs/vb.svg" style="transform:scale(.95)" alt="VB">
        </a>
        <a class="cursor-pointer" href="https://docs.servicestack.net/fsharp-add-servicestack-reference">
            <img src="/images/svgs/fsharp.svg" style="transform:scale(.95)" alt="F#">
        </a>
    </div>
</div>

<section class="text-center">
    <div class="container">
        <div class="my-20">
            <h2 class="text-gray-700 pb-2">Right Click, Integrate</h2>
            <div class="colored-line"></div>
            <div class="section-description my-2">
                Generate working client code for specific services in all popular languages from your favorite IDE.
            </div>
        </div>

        <div class="flex flex-wrap">
            {% include landing/add-ss-ref-ide.html
            plugin_url="https://plugins.jetbrains.com/plugin/7749-servicestack"
            ide_svg="/images/svgs/ides/icon-intellij-idea.svg"
            ide_name="IntelliJ"
            support_languages="Java, Kotlin, TypeScript"
            %}

            {% include landing/add-ss-ref-ide.html
            plugin_url="https://plugins.jetbrains.com/plugin/7749-servicestack"
            ide_svg="/images/svgs/ides/icon-webstorm.svg"
            ide_name="WebStorm"
            support_languages="TypeScript"
            %}

            {% include landing/add-ss-ref-ide.html
            plugin_url="https://plugins.jetbrains.com/plugin/7749-servicestack"
            ide_svg="/images/svgs/ides/icon-pycharm.svg"
            ide_name="PyCharm"
            support_languages="Python, TypeScript"
            %}

            {% include landing/add-ss-ref-ide.html
            plugin_url="https://plugins.jetbrains.com/plugin/17295-servicestack"
            ide_svg="/images/svgs/ides/icon-rider.svg"
            ide_name="Rider"
            support_languages="C#, F#, TypeScript, VB.NET"
            %}

            {% include landing/add-ss-ref-ide.html
            plugin_url="https://plugins.jetbrains.com/plugin/7749-servicestack"
            ide_svg="/images/svgs/ides/icon-rubymine.svg"
            ide_name="RubyMine"
            support_languages="TypeScript"
            %}

            {% include landing/add-ss-ref-ide.html
            plugin_url="https://marketplace.visualstudio.com/items?itemName=Mythz.ServiceStackVS"
            ide_svg="/images/svgs/vs-2019.svg"
            ide_name="Visual Studio"
            ide_style="width:70px;height:70px;"
            support_languages="C#, F#, TypeScript, VB.NET"
            %}

            {% include landing/add-ss-ref-ide.html
            plugin_url="https://plugins.jetbrains.com/plugin/7749-servicestack"
            ide_svg="/images/svgs/androidstudio.svg"
            ide_name="Android Studio"
            ide_style="width:70px;height:70px;"
            support_languages="Java, Kotlin, TypeScript"
            %}

            {% include landing/add-ss-ref-ide.html
            plugin_url="https://marketplace.eclipse.org/content/servicestackeclipse"
            ide_svg="/images/svgs/ides/eclipse-11.svg"
            ide_style="width:70px;height:70px;"
            ide_name="Eclipse"
            support_languages="Java"
            %}
        </div>
    </div>
</section>

<style>
[data-lang]:hover {
    box-shadow: 1px 1px 7px 7px rgba(0, 0, 0, .1);
    transition: box-shadow 0.2s cubic-bezier(0, 0, 0.2, 1);
}
.lang:active, .lang.active {
    background-color: #fff;
    --tw-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.16);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}
</style>
<section id="serviceRef" class="hidden md:block text-center">
    <div class="container">
        <div class="mt-8 pt-8 pb-2">
            <h2 class="text-gray-700 pb-2">Typed API Examples</h2>
            <div class="colored-line"></div>
            <div class="section-description my-2">
                Usage of smart generic Service Clients and idiomatic DTOs enable a productive dev UX with the nicest typed API integrations in every language
            </div>
        </div>

        <div class="flex justify-center">
            <select class="sel-examples pr-8" style="width:auto"></select>
        </div>

        <div class="flex justify-evenly langs m-4 pb-6 w-container hide-fullscreen">
            <span data-lang="csharp" class="lang project shadow-lg rounded-full cursor-pointer p-1" title="C#">
                <img class="w-20 h-20" src="/images/svgs/csharp.svg" alt="C# logo">
            </span>

            <span data-lang="typescript" class="lang project shadow-lg rounded-full cursor-pointer p-1" title="Node.js TypeScript">
                <img class="w-20 h-20 p-1" src="/images/svgs/node.svg" alt="Node.js logo">
            </span>

            <span data-lang="python" class="lang project shadow-lg rounded-full cursor-pointer p-1" title="Python">
                <img class="w-20 h-20 p-1" src="/images/svgs/python.svg" alt="Python logo">
            </span>

            <span data-lang="dart" class="lang shadow-lg rounded-full cursor-pointer p-1" title="Dart">
                <img class="w-20 h-20" src="/images/svgs/dart.svg" alt="Dart logo">
            </span>

            <span data-lang="java" class="lang shadow-lg rounded-full cursor-pointer p-1" title="Java">
                <img class="w-20 h-20 p-1" src="/images/svgs/java.svg" alt="Java logo">
            </span>

            <span data-lang="kotlin" class="lang shadow-lg rounded-full cursor-pointer p-1" title="Kotlin">
                <img class="w-20 h-20 p-1" src="/images/svgs/kotlin.svg" alt="Kotlin logo">
            </span>

            <span data-lang="swift" class="lang shadow-lg rounded-full cursor-pointer p-1" title="Swift">
                <img class="w-20 h-20" src="/images/svgs/swift.svg" alt="Swift logo">
            </span>

            <span data-lang="vbnet" class="lang project shadow-lg rounded-full cursor-pointer p-1" title="VB">
                <img class="w-20 h-20" src="/images/svgs/vb.svg" alt="VB.NET logo">
            </span>

            <span data-lang="fsharp" class="lang shadow-lg rounded-full cursor-pointer p-1" title="F#">
                <img class="w-20 h-20" src="/images/svgs/fsharp.svg" alt="F# logo">
            </span>
        </div>

        <div class="lang-preview"></div>

        <div class="text-gray-400 pt-1">
            All Service Clients include integrated
            <a href="https://docs.servicestack.net/add-servicestack-reference#built-in-authentication">built-in Authentication</a>
            inc. transparent
            <a href="https://docs.servicestack.net/jwt-authprovider#refresh-token-cookies-supported-in-all-service-clients">JWT &amp; Refresh Token Cookie</a>
            support
        </div>

        <div class="download pt-2"></div>

    </div>
</section>

<section class="text-center">
    <div class="container">
        <div class="my-20">
            <h2 class="text-gray-700 pb-2">Key Features</h2>
            <div class="colored-line"></div>
            <div class="section-description my-2">
                Effortlessly create and update end-to-end typed integrations with your APIs in all popular languages from your favorite IDE.
            </div>
        </div>

<div class="flex flex-wrap text-left">
{% include service-key-features.html %}
</div>

    </div>
</section>

{% include landing/resources.html
heading="Learning & Support"
description="Extensive documentation, step by step tutorials, full source code examples, demos and video guides"
youtube_id="ocH5L-CikQ0,cbYuem1b2tg,WjbhfH45i5k,JKsgrstNnYY,GTnuMhvUayg"
links_html="
<div class='w-full'>
    <h3>Language Docs</h3>
    <ul class='list-none'>
        <li><a href='https://docs.servicestack.net/add-servicestack-reference'>Overview</a></li>
        <li><a href='https://docs.servicestack.net/csharp-add-servicestack-reference'>C#</a></li>
        <li><a href='https://docs.servicestack.net/typescript-add-servicestack-reference'>TypeScript</a></li>
        <li><a href='https://docs.servicestack.net/python-add-servicestack-reference'>Python</a></li>
        <li><a href='https://docs.servicestack.net/swift-add-servicestack-reference'>Swift</a></li>
        <li><a href='https://docs.servicestack.net/java-add-servicestack-reference'>Java</a></li>
        <li><a href='https://docs.servicestack.net/kotlin-add-servicestack-reference'>Kotlin</a></li>
        <li><a href='https://docs.servicestack.net/dart-add-servicestack-reference'>Dart</a></li>
        <li><a href='https://docs.servicestack.net/fsharp-add-servicestack-reference'>F#</a></li>
        <li><a href='https://docs.servicestack.net/vbnet-add-servicestack-reference'>VB.NET</a></li>
    </ul>
</div>
<div class='w-full'>
    <h3>Example Demos</h3>
    <ul class='list-none'>
        <li><a href='https://github.com/NetCoreApps/TechStacks'>TechStacks</a></li>
        <li><a href='https://github.com/NetCoreApps/BookingsCrud'>Bookings CRUD</a></li>
        <li><a href='https://github.com/NetCoreApps/Chinook'>Chinook AutoQuery</a></li>
        <li><a href='https://github.com/NetCoreApps/Northwind'>Northwind AutoQuery</a></li>
    </ul>
</div>
<div class='w-full'>
    <h3>Support</h3>
    <ul class='list-none'>
        <li><a href='https://forums.servicestack.net'>Customer Forums</a></li>
        <li><a href='https://account.servicestack.net/account/support'>Premium Support</a></li>
        <li><a href='https://github.com/ServiceStack/Issues'>Bug Reports</a></li>
        <li><a href='https://servicestack.uservoice.com/forums/176786-feature-requests'>Feature Requests</a></li>
    </ul>
</div>
" %}

<div class="buttons my-8 flex text-center justify-center">
    {% include btn_lg.html href="/start" label="Get Started Today" %}
    <span class="mx-1"></span>
    {% include btn_lg.html href="#{site.dynamic_url}/trial" label="30 Day Free Trial" %}
</div>

<div class="text-center mb-8 pb-8 text-2xl">
    <a href="{{site.dynamic_url}}/pricing">See Pricing</a>
</div>

<div class="text-center">
    {% include home/testimonials-section.html %}
</div>
{% include landing/brand-customers.html %}
