---
title: Getting Started
slug: start
layout: content-page
sitemap: false
---

<style>
#mix label {
    user-select: none;
}
</style>
<div class="">
    <div class="pt-10">
        <h1 class="text-center my-4 pt-8">
            <a href="/start" class="text-body text-body:hover">Getting Started</a>
        </h1>
        <div class="colored-line"></div>
        <div class="flex justify-center">
            <div class="text-center mt-8 text-xl max-w-prose text-gray-400">
                Different ways for getting started with ServiceStack: <br>
                Project templates, Walkthroughs, Docs and Videos, choose what's best for you
            </div>
        </div>
    </div>

    <div class="container my-10">
        <div class="px-4 py-2 flex justify-center">
            <div class="max-w-screen-md text-center">
                <h2 class="text-2xl">Get the .NET SDK</h2>
                <div>
                    <p>
                        If you haven't already got the .NET SDK installed, we recommended starting with the latest .NET SDK.
                    </p>
                    <div class="">
                        <a href="https://dotnet.microsoft.com/download"
                           class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white hover:text-white shadow-xl px-5 py-2 inline-block text-blue-100 rounded">Download
                            .NET</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="px-4 py-2 w-full flex justify-center text-center">
            <div class="px-4 py-2">
                <h2>Customize &amp; Download a new Project</h2>
                <div class="colored-line"></div>
                <div class="py-4">
                    <p>
                        ServiceStack has a number of different integrated project templates to help you get started quickly.
                    </p>
                </div>
            </div>
        </div>

        <div class="flex justify-center">
            <div class="w-70">
                <input id="txtProjectName" type="text" class="text-2xl" placeholder="Project Name" autocorrect="off" spellcheck="false"
                       onkeypress="return isAlphaNumeric(event.charCode)"
                       onchange="this.value = this.value.replace(/[\W]+/g,'')"
                       oninput="updateTemplates()"
                       >
            </div>
        </div>
        <div id="mix" class="flex justify-center flex-col items-center">
            <h2 class="text-2xl">Add Features</h2>
            <div class="flex flex-wrap">
                <div class="p-2 mr-2">
                    <h4>Authentication</h4>
                    <div>
                        <input id="chkAuth" type="checkbox" value="auth">
                        <label for="chkAuth">auth</label>
                    </div>
                    <h4 class="my-2">Auth Repository</h4>
                    <div>
                        <input id="chkAuthDb" type="radio" name="auth-repo" value="auth-db">
                        <label for="chkAuthDb">RDBMS</label>
                    </div>
                    <div>
                        <input id="chkAuthRedis" type="radio" name="auth-repo" value="auth-redis">
                        <label for="chkAuthRedis">Redis</label>
                    </div>
                    <div>
                        <input id="chkAuthDynamoDb" type="radio" name="auth-repo" value="auth-dynamodb">
                        <label for="chkAuthDynamoDb">DynamoDB</label>
                    </div>
                    <div>
                        <input id="chkAuthMemory" type="radio" name="auth-repo" value="auth-memory">
                        <label for="chkAuthMemory">In Memory</label>
                    </div>
                </div>
                <div class="p-2 mr-2">
                    <h4>RDBMS</h4>
                    <div>
                        <input id="chkDbPostgreSql" type="radio" name="db" value="postgres">
                        <label for="chkDbPostgreSql">PostgreSQL</label>
                    </div>
                    <div>
                        <input id="chkDbSqlServer" type="radio" name="db" value="sqlserver">
                        <label for="chkDbSqlServer">SQL Server</label>
                    </div>
                    <div>
                        <input id="chkDbMySql" type="radio" name="db" value="mysql">
                        <label for="chkDbMySql">MySQL</label>
                    </div>
                    <div>
                        <input id="chkDbSqlite" type="radio" name="db" value="sqlite">
                        <label for="chkDbSqlite">SQLite</label>
                    </div>
                    <div>
                        <input id="chkFirebird" type="radio" name="db" value="firebird">
                        <label for="chkFirebird">Firebird</label>
                    </div>
                    <div>
                        <input id="chkOracle" type="radio" name="db" value="oracle">
                        <label for="chkOracle">Oracle</label>
                    </div>
                </div>
                <div class="p-2 mr-2">
                    <h4>Data Stores</h4>
                    <div>
                        <input id="chkRedis" type="checkbox" value="redis">
                        <label for="chkRedis">Redis</label>
                    </div>
                    <div>
                        <input id="chkDynamoDb" type="checkbox" value="dynamodb">
                        <label for="chkDynamoDb">DynamoDb</label>
                    </div>
                    <div>
                        <input id="chkRavenDb" type="checkbox" value="ravendb">
                        <label for="chkRavenDb">RavenDB</label>
                    </div>
                    <div>
                        <input id="chkMongoDb" type="checkbox" value="mongodb">
                        <label for="chkMongoDb">MongoDB</label>
                    </div>
                </div>
                <div class="p-2 mr-2">
                    <h4>Messaging (MQ)</h4>
                    <div>
                        <input id="chkBackgroundMq" type="radio" name="mq" value="backgroundmq">
                        <label for="chkBackgroundMq">Background MQ</label>
                    </div>
                    <div>
                        <input id="chkRabbitMq" type="radio" name="mq" value="rabbitmq">
                        <label for="chkRabbitMq">RabbitMQ</label>
                    </div>
                    <div>
                        <input id="chkSqs" type="radio" name="mq" value="sqs">
                        <label for="chkSqs">AWS SQS MQ</label>
                    </div>
                    <div>
                        <input id="chkServiceBus" type="radio" name="mq" value="servicebus">
                        <label for="chkServiceBus">Azure Service Bus</label>
                    </div>
                    <div>
                        <input id="chkRedisMq" type="radio" name="mq" value="redismq">
                        <label for="chkRedisMq">Redis MQ</label>
                    </div>
                </div>
                <div class="p-2 mr-2">
                    <h4>Features</h4>
                    <div>
                        <input id="chkAutoQuery" type="radio" name="aq" value="autoquery">
                        <label for="chkAutoQuery">AutoQuery</label>
                    </div>
                    <div>
                        <input id="chkAutoGen" type="radio" name="aq" value="autocrudgen">
                        <label for="chkAutoGen">AutoGen DB</label>
                    </div>
                    <div>
                        <input id="chkValidation" type="checkbox" value="validation">
                        <label for="chkValidation">Validation</label>
                    </div>
                    <div>
                        <input id="chkServerEvents" type="checkbox" value="serverevents">
                        <label for="chkServerEvents">Server Events</label>
                    </div>
                    <div>
                        <input id="chkOpenApi" type="checkbox" value="openapi">
                        <label for="chkOpenApi">Open API</label>
                    </div>
                    <div>
                        <input id="chkPostman" type="checkbox" value="postman2">
                        <label for="chkPostman">Postman2</label>
                    </div>
                </div>
                <div class="p-2 mr-2">
                    <h4>GitHub Actions</h4>
                    <div>
                        <input id="chkActionBuild" type="checkbox" value="build">
                        <label for="chkActionBuild">Build &amp; Run Tests</label>
                    </div>
                    <div>
                        <input id="chkActionEcrAws" type="radio" name="action" value="release-ecr-aws">
                        <label for="chkActionEcrAws">Deploy to <abbr title="Amazon Elastic Container Service">ECS</abbr> via <abbr title="Amazon Elastic Container Registry">ECR</abbr></label>
                    </div>
                    <div>
                        <input id="chkActionGhrVanilla" type="radio" name="action" value="release-ghr-vanilla">
                        <label for="chkActionGhrVanilla">Deploy to Linux via <abbr title="GitHub Container Registry">GHCR</abbr></label>
                    </div>
                    <div>
                        <input id="chkActionEcrVanilla" type="radio" name="action" value="release-ecr-vanilla">
                        <label for="chkActionEcrVanilla">Deploy to Linux via <abbr title="Amazon Elastic Container Registry">ECR</abbr></label>
                    </div>
                    <div>
                        <input id="chkActionHubVanilla" type="radio" name="action" value="release-hub-vanilla">
                        <label for="chkActionHubVanilla">Deploy to Linux via <abbr title="Docker Hub">Hub</abbr></label>
                    </div>
                </div>
            </div>
            <div id="reset" class="invisible text-blue-500 text-blue-600:hover cursor-pointer" onclick="reset()" style="margin-top:-2em">reset</div>
            <div class="text-gray-400">
                see <a href="https://docs.servicestack.net/mix-tool">mix</a> for adding more features after project is created
            </div>
        </div>

        <div class="w-full flex flex-col justify-center text-center">

            <div id="empty" class="mt-4 mb-2">
                <h3 class="text-gray-400">Empty Project Templates</h3>

                <div class="flex flex-wrap justify-center">
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/web"
                        name="Web"
                        icon_element="<i class='fab fa-servicestack'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/grpc"
                        name="gRPC"
                        icon_element="<i class='fas fa-arrows-alt-h'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/aws-lambda"
                        name="AWS Lambda"
                        icon_element="<i class='fab fa-aws'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/empty"
                        name="Empty"
                        icon_element="<i class='fab fa-servicestack'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/selfhost"
                        name="Minimalist"
                        icon_element="<i class='fab fa-servicestack'></i>" %}
                    </div>
                </div>
            </div>

            <div id="spa" class="mt-4 mb-2">
                <h3 class="text-gray-400">Single Page Apps</h3>
                <div class="flex flex-wrap justify-center">
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/vue-spa"
                        name="Vue SPA"
                        tags="auth"
                        icon_element="<i class='fab fa-vuejs'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/react-spa"
                        name="React SPA"
                        tags="auth"
                        icon_element="<i class='fab fa-react'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/angular-spa"
                        name="Angular SPA"
                        tags="auth"
                        icon_element="<i class='fab fa-angular'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/svelte-spa"
                        name="Svelte SPA"
                        tags="auth"
                        icon_element="<img class='w-10 h-10' src='/images/svgs/svelte.svg'>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/aurelia-spa"
                        name="Aurelia SPA"
                        icon_element="<img class='w-10 h-10' src='/images/svgs/aurelia.svg'>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/parcel"
                        name="Parcel"
                        icon_element="<i class='fas fa-box-open'></i>" %}
                    </div>
                </div>
                <p class="text-gray-400">
                    Run <code>npm install</code> in the <code class="project-name">MyApp</code> project folder before running.
                </p>
            </div>

            <div id="server" class="mt-4 mb-2">
                <h3 class="text-gray-400">Server Generated Websites</h3>

                <div class="flex flex-wrap justify-center">
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/mvc"
                        name="MVC"
                        icon_element="<i class='fab fa-microsoft'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/razor"
                        name="ServiceStack Razor"
                        tags="auth"
                        icon_element="<i class='fab fa-servicestack'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/script"
                        name="#Script"
                        tags="auth"
                        icon_element="<img class='w-10 h-10' src='/images/svgs/script.svg'>" %}
                    </div>
                </div>
            </div>

            <div id="mvc" class="mt-4 mb-2">
                <h3 class="text-gray-400">MVC Auth Projects</h3>

                <div class="flex flex-wrap justify-center">
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/mvcidentity"
                        name="ASP.NET Identity"
                        tags="auth"
                        icon_element="<i class='fab fa-microsoft'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/mvcauth"
                        name="ServiceStack Auth"
                        tags="auth"
                        icon_element="<i class='fab fa-servicestack'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/mvcidentityserver"
                        name="Identity Server 4"
                        tags="auth"
                        icon_element="<img class='w-10 h-10' src='/images/svgs/openid.svg'>" %}
                    </div>
                </div>
            </div>

            <div id="lite" class="mt-4 mb-2">
                <h3 class="text-gray-400">npm-free "lite" Single Page Apps</h3>

                <div class="flex flex-wrap justify-center">
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/vue-lite"
                        name="Vue Lite"
                        tags="auth"
                        icon_element="<i class='fab fa-vuejs'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/react-lite"
                        name="React Lite"
                        tags="auth"
                        icon_element="<i class='fab fa-react'></i>" %}
                    </div>
                </div>
            </div>

            <div id="nuxt" class="mt-4 mb-2">
                <h3 class="text-gray-400">Vuetify &amp; Nuxt Templates</h3>

                <div class="flex flex-wrap justify-center">
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/vuetify-spa"
                        name="Vuetify"
                        tags="auth"
                        icon_element="<i class='fab fa-vuejs'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/vue-nuxt"
                        name="Nuxt"
                        tags="auth"
                        icon_element="<img class='w-10 h-10' src='/images/svgs/nuxtjs.svg'>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/vuetify-nuxt"
                        name="Vuetify Nuxt"
                        icon_element="<img class='w-10 h-10' src='/images/svgs/nuxtjs.svg'>" %}
                    </div>
                </div>
            </div>

            <div id="workers" class="mt-4 mb-2">
                <h3 class="text-gray-400">Background MQ Workers</h3>

                <div class="flex flex-wrap justify-center">
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/worker-rabbitmq"
                        name="RabbitMQ"
                        tags="mq,rabbitmq"
                        icon_element="<img class='w-10 h-10' src='/images/svgs/rabbitmq.svg'>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/worker-redismq"
                        name="Redis MQ"
                        tags="mq,redismq"
                        icon_element="<img class='w-10 h-10' src='/images/svgs/redis.svg'>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/worker-sqs"
                        name="AWS SQS"
                        tags="mq,sqs"
                        icon_element="<i class='fab fa-aws'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/worker-servicebus"
                        name="Azure Service Bus"
                        tags="mq,servicebus"
                        icon_element="<img class='w-10 h-10' src='/images/svgs/azure.svg'>" %}
                    </div>
                </div>
            </div>

            <div id="desktop" class="mt-4 mb-2">
                <h3 class="text-gray-400">Desktop Project Templates</h3>

                <div class="flex flex-wrap justify-center">
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/vue-desktop"
                        name="Vue Desktop"
                        icon_element="<i class='fab fa-vuejs'></i>" %}
                    </div>
                </div>
            </div>

            <div id="community" class="mt-4 mb-2">
                <h3 class="text-gray-400">Community Project Templates</h3>

                <div class="flex flex-wrap justify-center">
                    <div>
                        {% include project-template-install-card.html
                        repo="nukedbit/blazor-wasm-servicestack"
                        name="Blazor"
                        tags="auth"
                        icon_element="<i class='fab fa-microsoft'></i>" %}
                    </div>
                </div>
            </div>

        </div>

        <div class="my-20 flex justify-center">
            <div class="flex items-center">
                <span class="text-2xl mr-4 text-gray-400">Next:</span>
                <a href="/start/project-overview">
                    <div class="rounded-md py-2 px-4 shadow-lg bg-blue-500 text-white hover:bg-blue-600 text-2xl font-normal">
                        Project Overview
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </a>
            </div>
        </div>
        {% include learning-resources-bottom-menu.html %}
    </div>
</div>

<script src="/js/jquery.min.js"></script>

<script>
function isAlphaNumeric(c) {
    return c >= 65 && c <= 90 || c >= 97 && c <= 122 || c >= 48 && c <= 57 || c === 95; //A-Za-z0-9_
}
function leftPart(s, needle) {
    if (s == null)
        return null;
    let pos = s.indexOf(needle);
    return pos == -1
        ? s
        : s.substring(0, pos);
}
function updateTemplates() {
    let name = $('#txtProjectName').val() || 'MyApp';
    let mix = getMix();
    let urlParams = 'Name=' + encodeURIComponent(name);
    if (mix) {
        urlParams += '&Mix=' + mix;
    }
    if (urlParams == 'Name=MyApp') {
        history.replaceState(null,null,location.href.split('#')[0]);
        $('#reset').addClass('invisible');
    } else {
        history.replaceState(null,null,'#'+urlParams);
        $('#reset').removeClass('invisible');
    }

    $('.archive-url').each(function () {
        let url = leftPart(this.href, '?') + '?' + urlParams;
        this.href = url;
    });
    $('.archive-name').each(function () {
        this.innerHTML = name + '.zip';
    });
    $('.project-name').each(function () {
        this.innerHTML = name;
    });
}
function getMix() {
    let mix = [];
    $('#mix input:checked').each(function () {
        mix.push(this.value);
    });
    return mix.join(',');
}
$('#mix [type=checkbox],#mix [type=radio]').on('input', updateTemplates);
$('[name=auth-repo]').on('input', function () { $('#chkAuth').prop('checked',true) });
$('[name=action]').on('input', function () { $('#chkActionBuild').prop('checked',true) });

function reset() {
    $('#txtProjectName').val('');
    $('#mix input:checked').prop('checked',false);
    updateTemplates();
}

function splitOnFirst(s, c) {
    if (!s) return [s];
    let pos = s.indexOf(c);
    return pos >= 0 ? [s.substring(0, pos), s.substring(pos + 1)] : [s];
}
function hashParams(url) {
    if (!url || url.indexOf('#') === -1) return {};
    let pairs = splitOnFirst(url, '#')[1].split('&');
    let map = {};
    for (let i = 0; i < pairs.length; ++i) {
        let p = pairs[i].split('=');
        map[p[0]] = p.length > 1
            ? decodeURIComponent(p[1].replace(/\+/g, ' '))
            : null;
    }
    return map;
}

if (location.hash) {
    let hash = hashParams(location.hash);
    if (hash.Name && hash.Name != 'MyApp') {
        $('#txtProjectName').val(hash.Name);
    }
    if (hash.Mix) {
        let mix = hash.Mix.split(',');
        mix.forEach(function (id) {
            $(`input[value=${id}]`).prop('checked',true);
        });
    }
    updateTemplates();
}

</script>

