---
title: Getting Started
slug: start
layout: content-page
sitemap: false
---

<div class="">
    <div class="pt-10">
        <h1 class="text-center my-4 pt-8">
            Getting Started
        </h1>
        <div class="colored-line"></div>
        <div class="flex justify-center">
            <div class="text-center mt-8 text-xl max-w-prose text-gray-400">
                Different ways for getting started with ServiceStack: <br>
                Project templates, Walkthroughs, Docs and Videos, choose what's best for you
            </div>
        </div>
    </div>

    <div class="container my-10">
        <div class="px-4 py-2 flex justify-center">
            <div class="max-w-screen-md text-center">
                <h2 class="text-2xl">Get the .NET SDK</h2>
                <div>
                    <p>
                        If you haven't already got the .NET SDK installed, we recommended starting with the latest .NET SDK.
                    </p>
                    <div class="">
                        <a href="https://dotnet.microsoft.com/download"
                           class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white hover:text-white shadow-xl px-5 py-2 inline-block text-blue-100 rounded">Download
                            .NET</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="px-4 py-2 w-full flex justify-center text-center">
            <div class="px-4 py-2">
                <h2>Download your new Project</h2>
                <div class="colored-line"></div>
                <div class="py-4">
                    <p>
                        ServiceStack has a number of different integrated project templates to help you get started quickly.
                    </p>
                </div>
            </div>
        </div>

        <div class="flex justify-center">
            <div class="w-70">
                <input id="txtProjectName" type="text" class="text-2xl" placeholder="ProjectName"
                       onkeypress="return isAlphaNumeric(event.charCode)"
                       onchange="this.value = this.value.replace(/[\W]+/g,'')"
                       oninput="updateTemplates(this.value)"
                       >
            </div>
        </div>

        <div class="w-full flex flex-col justify-center text-center">

            <div id="empty" class="mt-4 mb-2">
                <h3 class="text-gray-400">Empty Project Templates</h3>

                <div class="flex flex-wrap justify-center">
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/web"
                        name="Web"
                        icon_element="<i class='fab fa-servicestack'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/grpc"
                        name="gRPC"
                        icon_element="<i class='fas fa-arrows-alt-h'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/aws-lambda"
                        name="AWS Lambda"
                        icon_element="<i class='fab fa-aws'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/empty"
                        name="Empty"
                        icon_element="<i class='fab fa-servicestack'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/selfhost"
                        name="Self Host"
                        icon_element="<i class='fab fa-servicestack'></i>" %}
                    </div>
                </div>
            </div>

            <div id="spa" class="mt-4 mb-2">
                <h3 class="text-gray-400">Single Page Apps</h3>
                <div class="flex flex-wrap justify-center">
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/vue-spa"
                        name="Vue SPA"
                        icon_element="<i class='fab fa-vuejs'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/react-spa"
                        name="React SPA"
                        icon_element="<i class='fab fa-react'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/angular-spa"
                        name="Angular SPA"
                        icon_element="<i class='fab fa-angular'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/svelte-spa"
                        name="Svelte SPA"
                        icon_element="<img class='w-10 h-10' src='/images/svgs/svelte.svg'>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/aurelia-spa"
                        name="Aurelia SPA"
                        icon_element="<img class='w-10 h-10' src='/images/svgs/aurelia.svg'>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/parcel"
                        name="Parcel"
                        icon_element="<i class='fas fa-box-open'></i>" %}
                    </div>
                </div>
                <p class="text-gray-400">
                    Run <code>npm install</code> in the <code class="project-name">MyApp</code> project folder before running.
                </p>
            </div>

            <div id="server" class="mt-4 mb-2">
                <h3 class="text-gray-400">Server Generated Websites</h3>

                <div class="flex flex-wrap justify-center">
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/mvc"
                        name="MVC"
                        icon_element="<i class='fab fa-microsoft'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/razor"
                        name="ServiceStack Razor"
                        icon_element="<i class='fab fa-servicestack'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/script"
                        name="#Script"
                        icon_element="<img class='w-10 h-10' src='/images/svgs/script.svg'>" %}
                    </div>
                </div>
            </div>

            <div id="mvc" class="mt-4 mb-2">
                <h3 class="text-gray-400">MVC OAuth Projects</h3>

                <div class="flex flex-wrap justify-center">
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/mvcidentity"
                        name="ASP.NET Identity"
                        icon_element="<i class='fab fa-microsoft'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/mvcauth"
                        name="ServiceStack Auth"
                        icon_element="<i class='fab fa-servicestack'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/mvcidentityserver"
                        name="Identity Server 4"
                        icon_element="<img class='w-10 h-10' src='/images/svgs/openid.svg'>" %}
                    </div>
                </div>
            </div>

            <div id="lite" class="mt-4 mb-2">
                <h3 class="text-gray-400">npm-free "lite" Single Page Apps</h3>

                <div class="flex flex-wrap justify-center">
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/vue-lite"
                        name="Vue Lite"
                        icon_element="<i class='fab fa-vuejs'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/react-lite"
                        name="React Lite"
                        icon_element="<i class='fab fa-react'></i>" %}
                    </div>
                </div>
            </div>

            <div id="nuxt" class="mt-4 mb-2">
                <h3 class="text-gray-400">Vuetify &amp; Nuxt Templates</h3>

                <div class="flex flex-wrap justify-center">
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/vuetify-spa"
                        name="Vuetify"
                        icon_element="<i class='fab fa-vuejs'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/vuetify-nuxt"
                        name="Vuetify Nuxt"
                        icon_element="<img class='w-10 h-10' src='/images/svgs/nuxtjs.svg'>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/vue-nuxt"
                        name="Vue Nuxt"
                        icon_element="<img class='w-10 h-10' src='/images/svgs/nuxtjs.svg'>" %}
                    </div>
                </div>
            </div>

            <div id="workers" class="mt-4 mb-2">
                <h3 class="text-gray-400">Background MQ Workers</h3>

                <div class="flex flex-wrap justify-center">
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/worker-rabbitmq"
                        name="RabbitMQ"
                        icon_element="<img class='w-10 h-10' src='/images/svgs/rabbitmq.svg'>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/worker-redismq"
                        name="Redis MQ"
                        icon_element="<img class='w-10 h-10' src='/images/svgs/redis.svg'>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/worker-sqs"
                        name="AWS SQS"
                        icon_element="<i class='fab fa-aws'></i>" %}
                    </div>
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/worker-servicebus"
                        name="Azure Service Bus"
                        icon_element="<img class='w-10 h-10' src='/images/svgs/azure.svg'>" %}
                    </div>
                </div>
            </div>

            <div id="desktop" class="mt-4 mb-2">
                <h3 class="text-gray-400">Desktop Projects</h3>

                <div class="flex flex-wrap justify-center">
                    <div>
                        {% include project-template-install-card.html
                        repo="NetCoreTemplates/vue-desktop"
                        name="Vue Desktop"
                        icon_element="<i class='fab fa-vuejs'></i>" %}
                    </div>
                </div>
            </div>

            <div id="community" class="mt-4 mb-2">
                <h3 class="text-gray-400">Community Project Templates</h3>

                <div class="flex flex-wrap justify-center">
                    <div>
                        {% include project-template-install-card.html
                        repo="nukedbit/blazor-wasm-servicestack"
                        name="Blazor"
                        icon_element="<i class='fab fa-microsoft'></i>" %}
                    </div>
                </div>
            </div>

        </div>

        <div class="my-20 flex justify-center">
            <div class="flex items-center">
                <span class="text-2xl mr-4 text-gray-400">Next:</span>
                <a href="/start/project-overview">
                    <div class="rounded-md py-2 px-4 shadow-lg bg-blue-500 text-white hover:bg-blue-600 text-2xl font-normal">
                        Project Overview
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </a>
            </div>
        </div>
        {% include learning-resources-bottom-menu.html %}
    </div>
</div>

<script src="/js/jquery.min.js"></script>

<script>
function isAlphaNumeric(c) {
    return c >= 65 && c <= 90 || c >= 97 && c <= 122 || c >= 48 && c <= 57 || c === 95; //A-Za-z0-9_
}
function leftPart(s, needle) {
    if (s == null)
        return null;
    let pos = s.indexOf(needle);
    return pos == -1
        ? s
        : s.substring(0, pos);
}
function updateTemplates(name) {
    if (!name) name = "MyApp";
    $('.archive-url').each(function () {
        this.href = leftPart(this.href, '?') + '?Name=' + encodeURIComponent(name);
    });
    $('.archive-name').each(function () {
        this.innerHTML = name + '.zip';
    });
    $('.project-name').each(function () {
        this.innerHTML = name;
    });
}
</script>

