<section class="feature-diagram-section bg-apimap" id="apimap">
    <div class="container">
        <div class="row">
            <div class="col-12 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
                <h2 class="text-white">Supercharge your APIs</h2>
                <p  class="text-white text-2xl mb-2">
                    Maximize the utility, reach &amp; value of your System APIs with the most versatile framework in the world
                </p>
                <div class="py-8">
                    <div class="apimap text-left flex flex-wrap">
                        <div class="left w-1/2 md:w-1/3 mb-2">
                            <div class="flex justify-end">
                                <div class="apibox-md" style="width:370px">
                                    <h4>Add ServiceStack Reference</h4>
                                    <ul class="flex flex-row justify-between">
                                        <li>C#</li>
                                        <li>TypeScript</li>
                                        <li>Swift</li>
                                        <li>Java</li>
                                        <li>Kotlin</li>
                                        <li>Dart</li>
                                        <li>F#</li>
                                        <li>VB.NET</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="flex mt-4">
                                <div class="w-2/3 flex flex-col justify-center text-right">
                                    <ul>
                                        <li>C# F# VB.NET</li>
                                        <li>Service Clients</li>
                                    </ul>
                                </div>
                                <div class="w-1/3 flex justify-end">
                                <ul class="apibox flex flex-col w-20">
                                    <li>JSON</li>
                                    <li>CSV</li>
                                    <li>XML</li>
                                    <li>JSV</li>
                                    <li>ProtoBuf</li>
                                    <li>MsgPack</li>
                                </ul>
                                </div>
                            </div>
                            <div class="flex flex-col items-end justify-end">
                                <div class="mt-4 w-2/3 apibox-md" style="max-width:220px">
                                    <h4 class="text-xl font-semibold">Encrypted Messaging</h4>
                                </div>
                                <div class="mt-2 w-2/3 apibox-md" style="max-width:220px">
                                    <h4 class="text-xl font-semibold">Auto Batching</h4>
                                </div>
                            </div>
                        </div>
                        <div class="middle w-1/2 md:w-1/3 pl-4 sm:p-0 mb-2">
                            <div class="flex flex-wrap text-center justify-center">
                                <div class="w-2/5 mx-2 mb-2 apibox-md"><h4>User Routes</h4></div>
                                <div class="w-2/5 mx-2 mb-2 apibox-md"><h4>QueryString</h4></div>
                                <div class="w-2/5 mx-2 mb-2 apibox-md"><h4>Auto Routes</h4></div>
                                <div class="w-2/5 mx-2 mb-2 apibox-md"><h4>FormData</h4></div>
                            </div>
                            <div class="flex justify-center">
                                <img src="../images/svgs/servicestack.svg" class="w-50 sm:w-30" alt="ServiceStack Logo">
                            </div>
                            <div class="flex flex-wrap justify-center mt-4">
                                <div class="apibox-md mx-2 w-2/5">
                                    <h4>Service Gateway</h4>
                                    <ul class="flex flex-col">
                                        <li>Microservices</li>
                                        <li>Consul</li>
                                        <li>Redis Discovery</li>
                                    </ul>
                                </div>
                                <div class="apibox-md mx-2 w-2/5">
                                    <h4>RPC Gateway</h4>
                                    <ul class="flex flex-col">
                                        <li>gRPC</li>
                                        <li>Custom Integration</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="right w-full md:w-1/3">
                            <div class="apibox-md mx-2">
                                <h4>Open API</h4>
                                <ul class="flex flex-wrap justify-evenly md:justify-between">
                                    <li>Generated Clients</li>
                                    <li>AWS API Management</li>
                                    <li>Azure API Management</li>
                                </ul>
                            </div>
                            <div class="apibox-md mx-2 mt-4">
                                <h4>gRPC</h4>
                                <ul class="flex flex-wrap justify-evenly md:justify-between">
                                    <li>C#</li>
                                    <li>Swift</li>
                                    <li>Java</li>
                                    <li>Dart</li>
                                    <li>Go</li>
                                    <li>Node.js</li>
                                    <li>Python</li>
                                    <li>Ruby</li>
                                    <li>PHP</li>
                                </ul>
                            </div>
                            <div class="apibox-md mx-2 mt-4">
                                <h4>MQ</h4>
                                <ul class="flex flex-wrap justify-evenly md:justify-between">
                                    <li>RabbitMQ</li>
                                    <li>Redis MQ</li>
                                    <li>Background MQ</li>
                                    <li>AWS SQS MQ</li>
                                    <li>Azure Service Bus</li>
                                </ul>
                            </div>
                            <div class="apibox-md mx-2 mt-4 noshow sm:block">
                                <h4>SOAP</h4>
                                <ul class="flex flex-wrap">
                                    <li>WCF</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
