
<!-- =========================
     BRIEF LEFT SECTION WITH VIDEO
============================== -->
<section class="app-brief {{ include.bg_class }}" id="{{ include.local_link_id }}">

    <div class="container">

        <div class="row">

            <!-- PHONES IMAGE -->
            <div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
                <div class="video-container videos owl-carousel owl-theme">
                    {% assign videos = include.youtube_id | split: "," %}
                    {% if videos.size == 0 %}
                        <div class="video shadow-sm">
                            <lite-youtube width="560" height="315" videoid="{{include.youtube_id}}"
                              style="margin-bottom:3px;background-image: url('https://img.youtube.com/vi/{{include.youtube_id}}/maxresdefault.jpg')"></lite-youtube>
                        </div>
                    {% endif %}
                    {% if videos.size > 0 %}
                        {% for vid_id in videos %}
                            <div class="video shadow-sm">
                                <lite-youtube width="560" height="315" videoid="{{ vid_id }}"
                                  style="margin-bottom:3px;background-image: url('https://img.youtube.com/vi/{{ vid_id }}/maxresdefault.jpg')"></lite-youtube>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>

            </div>

            <div class="col-md-6 text-left wow fadeInLeft animated px-2" data-wow-offset="10" data-wow-duration="1.5s">
                <h2 class="text-gray-700 px-2 text-center lg:text-left">{{ include.title }}</h2>
                <div class="colored-line-left"></div>
                <div class="p-2 text-left clearfix">
                    <p>{{ include.content }}</p>
                    {{ include.embed_html }}
                </div>

                {% assign page_content_ref_size = include.page_content_ref | size %}
                {% if page_content_ref_size > 0 %}
                {% include {{ include.page_content_ref }} %}
                {% endif %}

                <div class="buttons text-center sm:text-left px-2">
                    <a href="{{ include.learn_url }}" class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white hover:text-white shadow-xl px-5 py-2 inline-block text-blue-100 rounded">
                        Learn more
                    </a>
                </div>

            </div>

        </div>

    </div>
</section>
