<section class="feature-diagram-section bg-apimap" id="apimap">
    <div class="container">
        <div class="row">
            <div class="col-12 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
                <h2 class="text-white">Supercharge your APIs</h2>
                <p  class="text-white text-2xl mb-2">
                    Maximize the utility, reach &amp; value of your System APIs with the most versatile framework in the world
                </p>
                <div class="py-8">
                    <img src="../images/svgs/apimap.svg" width="100%" alt="API Map">
                </div>
            </div>
        </div>
    </div>
</section>
