
<!-- =========================
     BRIEF LEFT SECTION WITH VIDEO
============================== -->
<section class="app-brief {{ include.bg_class }}" id="{{ include.local_link_id }}" data-stellar-background-ratio="0.75">

    <div class="container">

        <div class="row">

            <!-- PHONES IMAGE -->
            <div class="col-md-6 wow fadeInRight animated video-right-text" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- SECTION TITLE -->
                <h2 class="dark-text">{{ include.title }} </h2>

                <div class="colored-line-left">
                </div>

                <p>
                    {{ include.content }}
                </p>
                <!-- BUTTON -->
                <div class="buttons">
                    <a href="{{ include.learn_url }}" class="btn btn-default btn-lg standard-button learn-more-button">Learn more</a>
                </div>
                <!-- /END BUTTONS -->

            </div>

            <!-- RIGHT SIDE WITH BRIEF -->
            <div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">

                <div class="video-container">

                    <div class="video">

                        <iframe width="560" height="315" srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/{{include.youtube_id}}?autoplay=1><img src=https://img.youtube.com/vi/{{include.youtube_id}}/maxresdefault.jpg alt='{{include.youtube_alt}}'><span>▶</span></a>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                </div>

            </div>
            <!-- /END RIGHT BRIEF -->

        </div>
        <!-- /END ROW -->

    </div>
    <!-- /END CONTAINER -->

</section>
<!-- /END SECTION -->