
<!-- =========================
     FOOTER 
============================== -->
<footer class="footer-1 bg-gray-100 py-8 sm:py-12">
    <div class="container mx-auto px-4">
        <div class="sm:flex sm:flex-wrap sm:-mx-4 md:py-4">
            <div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/6">
                <h5 class="text-xl font-bold mb-6">Features</h5>
                <ul class="list-none footer-links">
                    <li class="mb-2">
                        <a href="/#autoquery-feature" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">AutoQuery</a>
                    </li>
                    <li class="mb-2">
                        <a href="/#studio-feature" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">Studio</a>
                    </li>
                    <li class="mb-2">
                        <a href="/#autogen-feature" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">AutoGen</a>
                    </li>
                    <li class="mb-2">
                        <a href="/#instant-client-apps-feature" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">Instant Client Apps</a>
                    </li>
                    <li class="mb-2">
                        <a href="/#add-ss-ref-feature" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">Add ServiceStack Reference</a>
                    </li>
                    <li class="mb-2">
                        <a href="/#mobile-clients-feature" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">Mobile Clients</a>
                    </li>
                    <li class="mb-2">
                        <a href="/#project-templates-feature" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">Project Templates</a>
                    </li>
                    <li class="mb-2">
                        <a href="/#github-action-templates" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">GitHub Action Templates</a>
                    </li>
                    <li class="mb-2">
                        <a href="/#grpc-feature" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">gRPC</a>
                    </li>
                </ul>
            </div>
            <div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/6 mt-8 sm:mt-0">
                <h5 class="text-xl font-bold mb-6">Resources</h5>
                <ul class="list-none footer-links">
                    <li class="mb-2">
                        <a href="https://docs.servicestack.net/" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">Framework Documentation</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://forums.servicestack.net/" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">Customer Forums</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://github.com/NetCoreApps/LiveDemos" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">Live Demos</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://github.com/ServiceStack/ServiceStack.Redis" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">ServiceStack.Redis</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://github.com/ServiceStack/ServiceStack.OrmLite" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">ServiceStack.OrmLite</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://github.com/ServiceStack/ServiceStack.Text" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">ServiceStack.Text</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://github.com/ServiceStack/ServiceStack.Aws" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">ServiceStack.Aws</a>
                    </li>
                </ul>
            </div>
            <div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/6 mt-8 md:mt-0">
                <h5 class="text-xl font-bold mb-6">Learn</h5>
                <ul class="list-none footer-links">
                    <li class="mb-2">
                        <a href="https://docs.servicestack.net/why-servicestack" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">Why ServiceStack</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://docs.servicestack.net/architecture-overview" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">Architecture</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://docs.servicestack.net/explore-servicestack" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">Explore ServiceStack</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://https://docs.servicestack.net/api-first-development" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">API First Development</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://docs.servicestack.net/service-complexity-and-dto-roles" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">The Simple POCO Life</a>
                    </li>
                    <li class="mb-2">
                        <a href="https://docs.servicestack.net/advantages-of-message-based-web-services" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">Advantages of Message APIs</a>
                    </li>
                </ul>
            </div>
            <div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/6 mt-8 md:mt-0">
                <h5 class="text-xl font-bold mb-6">About</h5>
                <ul class="list-none footer-links">
                    <li class="mb-2">
                        <a href="/support" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">Support</a>
                    </li>
                    <li class="mb-2">
                        <a href="/#contact" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">Contact Us</a>
                    </li>
                    <li class="mb-2">
                        <a href="/privacy" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">Privacy</a>
                    </li>
                    <li class="mb-2">
                        <a href="/terms" class="border-b border-solid border-transparent hover:border-blue-800 hover:text-blue-800">Terms</a>
                    </li>
                </ul>
            </div>
            <div class="px-4 mt-4 sm:w-1/3 xl:w-1/6 sm:mx-auto xl:mt-0 xl:ml-auto">
                <h5 class="text-xl font-bold mb-6">Stay connected</h5>
                <div class="flex sm:justify-center xl:justify-start">
                    <a href="https://twitter.com/ServiceStack" class="w-8 h-8 border border-gray-400 rounded-full text-center py-1 text-gray-600 hover:text-white hover:bg-blue-400 hover:border-blue-400">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UC0kXKGVU4NHcwNdDdRiAJSA" class="w-8 h-8 border border-gray-400 rounded-full text-center py-1 ml-2 text-gray-600 hover:text-white hover:bg-red-600 hover:border-red-600">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="https://github.com/ServiceStack" class="w-8 h-8 border border-gray-400 rounded-full text-center py-1 ml-2 py-1 text-gray-600 hover:text-white hover:bg-gray-600 hover:border-gray-600">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="sm:flex sm:flex-wrap sm:-mx-4 mt-6 pt-6 sm:mt-12 sm:pt-12 border-t">
            <div class="sm:w-full px-4 md:w-1/6">
                <strong>About ServiceStack</strong>
            </div>
            <div class="px-4 sm:w-1/2 mt-4 md:mt-0">
                ServiceStack started development in 2008 with the mission of creating a best-practices services framework
                with an emphasis on simplicity and speed, reducing the effort in creating and maintaining resilient
                message-based SOA Services and rich web apps.

                <p class="pt-2">Copyright (c) ServiceStack Inc. 2021</p>
            </div>
            <div class="px-4 md:w-1/4 md:ml-auto mt-6 sm:mt-4 md:mt-0">
                <a href="https://docs.servicestack.net/create-your-first-webservice"
                   class="bg-blue-500 hover:bg-blue-600 text-white hover:text-white px-2 py-1 inline-block text-blue-100 rounded text-sm">
                    Get started
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- /END FOOTER -->
