<!-- =========================
     PRE LOADER
============================== -->
<div class="preloader">
    <div class="status">&nbsp;</div>
</div>

<!-- =========================
     HEADER
============================== -->
<header class="header" id="home">

    <!-- COLOR OVER IMAGE -->
    <div class="color-overlay"> <!-- To make header full screen. Use .full-screen class with color overlay. Example: <div class="color-overlay full-screen">  -->

        <!-- STICKY NAVIGATION -->
        <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top floating-navigation">
            <div>
                <div class="navbar-header">
                    <!-- LOGO ON STICKY NAV BAR -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#account-navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="./"><img src="images/logo-black.png" alt=""></a>
                </div>

                <!-- NAVIGATION LINKS -->
                <div class="navbar-collapse collapse" id="account-navigation">
                    <ul class="nav navbar-nav main-navigation pt-1">
                        <li><a class="nav-link" href="#home">Home</a></li>
                        <li><a class="nav-link" href="https://docs.servicestack.net">Docs</a></li>
                        <li><a class="nav-link" href="https://forums.servicestack.net/">Forums</a></li>
                        <li><a class="nav-link" href="#integrations">Download</a></li>
                        <li><a class="nav-link" href="#aboutus">Pricing</a></li>
                        <li><a class="nav-link" href="#getstarted">Sign In</a></li>
                    </ul>

                    <div class="nav navbar-nav social-buttons hide-md pt-1">
                        <a class="nav-link" href="https://twitter.com/ServiceStack" aria-label="Twittter"><i class="fab fa-twitter fa-lg"></i></a>
                        <a class="nav-link" href="https://www.youtube.com/channel/UC0kXKGVU4NHcwNdDdRiAJSA" aria-label="YouTube"><i class="fab fa-youtube fa-lg"></i></a>
                        <a class="nav-link" href="https://github.com/ServiceStack" aria-label="Github"><i class="fab fa-github fa-lg"></i></a>
                    </div>

                    <div class="nav navbar-nav hide-md">
                        <a href="https://docs.servicestack.net/create-your-first-webservice" class="btn btn-light bg-blue-500 hover:bg-blue-600 text-white">Get started</a>
                    </div>
                </div>
            </div> <!-- /END CONTAINER -->
        </div> <!-- /END STICKY NAVIGATION -->

        <!-- CONTAINER -->
        <div class="container">

            <!-- ONLY LOGO ON HEADER -->
            <div class="only-logo">
                <div class="navbar">
                    <div class="navbar-header">
<!--                        <img src="images/logo.png" alt="">-->
                    </div>
                </div>
            </div>
            <!-- /END ONLY LOGO ON HEADER -->

            <div class="row home-contents">
                <div class="col-md-6 col-sm-6">

                    <!-- HEADING AND BUTTONS -->
                    <div class="intro-section">

                        <!-- WELCOM MESSAGE -->
                        <h1 class="intro">Simplicity at Speed</h1>
                        <h5>One framework to power them all. Write your HTTP APIs once, end to end typed integrates for all popular platforms.</h5>

                        <!-- BUTTON -->
                        <div class="buttons" id="download-button">

                            <a href="#download" class="btn btn-default btn-lg standard-button">Get ServiceStack now</a>

                        </div>
                        <!-- /END BUTTONS -->

                    </div>
                    <!-- /END HEADNING AND BUTTONS -->

                </div>


                <div class="col-md-6 col-sm-6 hidden-xs">

                    <!-- PHONE IMAGE WILL BE HIDDEN IN TABLET PORTRAIT AND MOBILE-->
                    <div class="video-preview">
                        <lite-youtube width="560" height="315" videoid="NaJ7TW-Q_pU" style="background-image: url('https://img.youtube.com/vi/NaJ7TW-Q_pU/maxresdefault.jpg')"></lite-youtube>
                    </div>

                </div>

            </div>
            <!-- /END ROW -->

        </div>
        <!-- /END CONTAINER -->
    </div>
    <!-- /END COLOR OVERLAY -->
</header>
<!-- /END HEADER -->
