<div class="px-4 py-2 flex justify-center">
    <div class="max-w-screen-lg text-center">
        <h3>Learning resources</h3>
        <div class="flex flex-wrap justify-center">
            <a href="/start" class="w-1/2 md:w-1/4">
                <div class="border-gray-200 border-2 bg-gray-50 px-4 py-4 mr-4 mb-4 rounded-lg shadow-2xl text-center items-center justify-center hover:shadow-2xl" style="min-width:150px">
                    <div class="text-center font-extrabold flex items-center justify-center bg-gray-50 mb-2">
                        <div class="text-8xl my-3 nav-link text-gray-500 hover:text-black">
                            <i class="fab fa-servicestack"></i>
                        </div>
                    </div>
                    <h4 class="text-xl font-medium text-gray-700 mb-2" style="white-space: nowrap">Getting Started</h4>
                </div>
            </a>
            <a href="https://www.youtube.com/channel/UC0kXKGVU4NHcwNdDdRiAJSA" class="w-1/2 md:w-1/4">
                <div class="bg-white px-4 py-4 mr-4 mb-4 rounded-lg shadow-lg text-center items-center justify-center hover:shadow-2xl" style="min-width:150px">
                    <div class="text-center font-extrabold flex items-center justify-center bg-white mb-2">
                        <div class="text-8xl my-3 nav-link text-gray-500 hover:text-red-600">
                            <i class="fab fa-youtube"></i>
                        </div>
                    </div>
                    <h4 class="text-xl font-medium text-gray-700 mb-2" style="white-space: nowrap">Video Tutorials</h4>
                </div>
            </a>
            <a href="https://github.com/NetCoreApps/LiveDemos" class="w-1/2 md:w-1/4">
                <div class="bg-white px-4 py-4 mr-4 mb-4 rounded-lg shadow-lg text-center items-center justify-center hover:shadow-2xl" style="min-width:150px">
                    <div class="text-center font-extrabold flex items-center justify-center bg-white mb-2">
                        <div class="text-8xl my-3 nav-link text-gray-500 hover:text-black">
                            <i class="fab fa-github"></i>
                        </div>
                    </div>
                    <h4 class="text-xl font-medium text-gray-700 mb-2">Walkthroughs</h4>
                </div>
            </a>
            <a href="https://docs.servicestack.net" class="w-1/2 md:w-1/4">
                <div class="bg-white px-4 py-4 mr-4 mb-4 rounded-lg shadow-lg text-center items-center justify-center hover:shadow-2xl" style="min-width:150px">
                    <div class="text-center font-extrabold flex items-center justify-center bg-white mb-2">
                        <div class="text-8xl my-3 nav-link text-gray-500 hover:text-black">
                            <i class="fa fa-file-alt"></i>
                        </div>
                    </div>
                    <h4 class="text-xl font-medium text-gray-700 mb-4">Documentation</h4>
                </div>
            </a>
        </div>
    </div>
</div>