<!-- STICKY NAVIGATION -->
<div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top floating-navigation">
    <div>
        <div class="navbar-header">
            <!-- LOGO ON STICKY NAV BAR -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#account-navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./"><img src="/images/logo-black.png" alt=""></a>
        </div>

        <!-- NAVIGATION LINKS -->
        <div class="navbar-collapse collapse" id="account-navigation">
            <ul class="nav navbar-nav main-navigation pt-1">
                <li><a class="nav-link" href="/">Home</a></li>
                <li><a class="nav-link" href="https://docs.servicestack.net">Docs</a></li>
                <li><a class="nav-link" href="https://forums.servicestack.net/">Forums</a></li>
                <li><a class="nav-link" href="/downloads">Download</a></li>
                <li><a class="nav-link" href="/pricing">Pricing</a></li>
                <li><a class="nav-link" href="#getstarted">Sign In</a></li>
            </ul>

            <div class="nav navbar-nav social-buttons hide-md pt-1">
                <a class="nav-link" href="https://twitter.com/ServiceStack" aria-label="Twittter"><i class="fab fa-twitter fa-lg"></i></a>
                <a class="nav-link" href="https://www.youtube.com/channel/UC0kXKGVU4NHcwNdDdRiAJSA" aria-label="YouTube"><i class="fab fa-youtube fa-lg"></i></a>
                <a class="nav-link" href="https://github.com/ServiceStack" aria-label="Github"><i class="fab fa-github fa-lg"></i></a>
            </div>

            <div class="nav navbar-nav hide-md">
                <a href="https://docs.servicestack.net/create-your-first-webservice"
                   class="btn bg-blue-500 hover:bg-blue-600 text-white hover:text-white">Get started</a>
            </div>
        </div>
    </div> <!-- /END CONTAINER -->
</div> <!-- /END STICKY NAVIGATION -->