<a name="pricing"></a>
<div class="container py-20">

    <div class="wow fadeIn animated text-center" data-wow-offset="10" data-wow-duration="1.5s">
        <h2 class="mb-6">
            Perpetual, Royalty-Free, Per-developer Pricing
            <span class="inline-block align-super">
                <i class="far fa-question-circle text-2xl text-gray-500"
                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="use any version prior to maintenance expiration, in perpetuity"></i>
            </span>
        </h2>

        <div class="section-description my-8 text-lg">
            Unlimited usage, includes 12 months Software Maintenance &amp; Commercial Support
        </div>

    </div>

    <div class="flex flex-wrap text-center">
        <div class="w-full sm:w-1/2 pr-2 wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
            <div class="bg-gray-50 py-2">
                <div>
                    <h3 class="text-blue-500 text-3xl">
                        Indie
                        <span class="block text-sm text-gray-500 mt-1">For Individuals, non-profits or organizations with 10 employees or less</span>
                    </h3>
                </div>
                <div class="bg-white text-center pl-8">
                    <h2 class="leading-20"><span class="align-super text-lg">$</span>149<span
                            class="text-sm">/developer</span></h2>
                </div>
                <div class="mx-auto">
                    <ul class="inline-block text-left">
                        <li></li>
                        <li class="pl-8 leading-10"><i class="fas fa-check text-green-500 text-sm pr-2"></i><span>Unlimited usage</span></li>
                        <li class="pl-8 leading-10"><i class="fas fa-check text-green-500 text-sm pr-2"></i><span>12 months Software Maintenance</span></li>
                        <li class="pl-8 leading-10"><i class="fas fa-check text-green-500 text-sm pr-2"></i><span>Support Forums</span></li>
                        <li class="pl-8 leading-10"><i class="fas fa-check text-green-500 text-sm pr-2"></i><span>Issue Tracker</span></li>
                        <li class="pl-8 leading-10"><i class="fas fa-user text-green-500 text-sm pr-2"></i>
                            <span>Named License</span>
                            <i class="far fa-question-circle text-base text-green-500 pl-1"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Indie licenses are tied to named developers and is non-transferable"></i>
                        </li>
                        <li class="h-10"></li>
                        <li><a href="{{site.account_url}}/buy/IND-{{include.code}}"
                               class="mt-8 mb-4 uppercase font-normal block text-center text-lg text-white bg-gray-800 p-3 duration-300 rounded-sm hover:bg-black hover:text-white">Order
                            Now</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="w-full sm:w-1/2 pl-2 wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
            <div class="bg-gray-50 py-2">
                <div>
                    <h3 class="text-blue-500 text-3xl">
                        Business
                        <span class="block text-sm text-gray-500 mt-1">For large organizations with more than 10 total employees</span>
                    </h3>
                </div>
                <div class="bg-blue-500 text-white text-center pl-8">
                    <h2 class="leading-20"><span class="align-super text-lg">$</span>249<span
                            class="text-sm">/developer</span></h2>
                </div>
                <div class="mx-auto">
                    <ul class="inline-block text-left">
                        <li></li>
                        <li class="pl-8 leading-10"><i class="fas fa-check text-green-500 text-sm pr-2"></i><span>Unlimited usage</span></li>
                        <li class="pl-8 leading-10"><i class="fas fa-check text-green-500 text-sm pr-2"></i><span>12 months Software Maintenance</span></li>
                        <li class="pl-8 leading-10"><i class="fas fa-check text-green-500 text-sm pr-2"></i><span>Support Forums</span></li>
                        <li class="pl-8 leading-10"><i class="fas fa-check text-green-500 text-sm pr-2"></i><span>Issue Tracker</span></li>
                        <li class="pl-8 leading-10"><i class="fas fa-check text-green-500 text-sm pr-2"></i>
                            <span>Floating License</span>
                            <i class="far fa-question-circle text-base text-green-500 pl-1"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Business licenses can be transferred when a developer leaves a project"></i>
                        </li>
                        <li class="h-8"></li>
                        <li><a href="{{site.account_url}}/buy/BUS-{{include.code}}"
                               class="mt-8 mb-4 uppercase font-normal block text-center text-lg text-white bg-gray-800 p-3 duration-300 rounded-sm hover:bg-black hover:text-white">
                            Order Now</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="py-20">
        Multiple License Discounts below are available for all purchases.
        <b>30%</b> renewal discount is available if renewed within <b>90 days</b> after License expiry. <br>
        Renewing extends Software Updates and Commercial Support for an additional 12 months.
    </div>

    <div class="flex flex-wrap">
        <div class="w-full sm:w-1/3 mb-4">
            <div class="mx-2">
                <h3 class="text-center">Multiple Licenses Discount</h3>
                <table class="mx-auto">
                    <tr>
                        <td class="pr-2"><b>Qty</b></td>
                        <td><b>Discount</b></td>
                    </tr>
                    <tr>
                        <td class="pr-2">5-9</td>
                        <td>10%</td>
                    </tr>
                    <tr>
                        <td class="pr-2">10+</td>
                        <td class="pr-2">20%</td>
                    </tr>
                    <tr>
                        <td class="pr-2">30+</td>
                        <td><a href="mailto:team@servicestack.net?subject=Site+License">Ask us</a> about our Site
                            License
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="w-full sm:w-1/3 mb-4">
            <div class="mx-2 bg-gray-50 py-2 text-center">
                <div>
                    <h3 class="text-blue-500 text-3xl">
                        Indie Renewal
                    </h3>
                </div>
                <div class="bg-white text-center pl-8">
                    <h2 class="leading-20"><span class="align-super text-lg">$</span>105<span
                            class="text-sm">/developer</span></h2>
                </div>
                <div class="mx-auto">
                    <ul class="inline-block text-left">
                        <li class="leading-10"><i class="fas fa-check text-green-500 text-sm pr-2"></i><span>12 months Software Maintenance</span>
                        </li>
                        <li><a href="{{site.account_url}}/renew"
                               class="mt-8 mb-4 uppercase font-normal block text-center text-lg text-white bg-gray-800 py-1 px-2 duration-300 rounded-sm hover:bg-black hover:text-white">Renew
                            Now</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="w-full sm:w-1/3 mb-4">
            <div class="mx-2 bg-gray-50 py-2 text-center">
                <div>
                    <h3 class="text-blue-500 text-3xl">
                        Business Renewal
                    </h3>
                </div>
                <div class="bg-blue-500 text-white">
                    <h2 class="leading-20"><span class="align-super text-lg">$</span>175<span
                            class="text-sm">/developer</span></h2>
                </div>
                <div class="mx-auto">
                    <ul class="inline-block text-left">
                        <li class="leading-10"><i class="fas fa-check text-green-500 text-sm pr-2"></i><span>12 months Software Maintenance</span>
                        </li>
                        <li><a href="{{site.account_url}}/renew"
                               class="mt-8 mb-4 uppercase font-normal block text-center text-lg text-white bg-gray-800 py-1 px-2 duration-300 rounded-sm hover:bg-black hover:text-white">Renew
                            Now</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
