<a class="archive-url" href="{{site.account_url}}/archive/{{include.repo}}">
    <div class="bg-white px-4 py-4 rounded-lg shadow-lg text-center items-center justify-center hover:shadow-2xl" style="min-width:150px">
        <div class="text-center font-extrabold flex items-center justify-center bg-white mb-2">
            <div class="text-4xl text-blue-400 my-3">
                {{ include.icon_element }}
            </div>
        </div>
        <div class="text-xl font-medium text-gray-700 mb-4">{{include.name}}</div>
        <span class="archive-name px-4 py-2 text-blue-600">MyApp.zip</span>
    </div>
</a>