<div class="download-breaker my-10 flex flex-col items-center">
    <h2 class="text-4xl py-2">Registering your License Key with your ServiceStack Projects</h2>
    <div class="colored-line"></div>
    <p class="mt-4">
        The ServiceStack license key allows un-restricted access to ServiceStack packages and
        is available in your <a href="https://account.servicestack.net/account/subscription">My Account Section</a>
        after purchasing a commercial license.
    </p>
</div>
<div class="">
    <div class="px-1">
        <div id="license-instructions">
            <p>
                There are multiple ways of registering your license key, all options only need to be added
                to your <b>top-level host</b> projects:
            </p>

            <h2 class="text-2xl">a) Add it to the projects appsettings.json or Web.Config</h2>
            <div class="section" style="padding: 0 0 10px 15px">
                <p>
                    Easiest way to register your license key is to add the <b>servicestack license</b> appSetting.
                    For ASP.NET Core Apps add it to <b>appsettings.json</b>:
                </p>
                <pre>{
    "servicestack": {
        "license": "{licenseKeyText}"
    }
}
</pre>
                <p>
                    Non ServiceStack .NET Core <b>AppHost</b> Apps (i.e. just using Redis or OrmLite) will also need to explicitly register the license key from IConfiguration:
                </p>
                <pre>Licensing.RegisterLicense(Configuration.GetValue&lt;string&gt;("servicestack:license"));</pre>
                <p>
                    For .NET Framework Applications add it to the <b>Web.config</b> or App.config's <b>&lt;appSettings/&gt;</b> config section:
                </p>

                <pre>&lt;appSettings&gt;
    &lt;add key="servicestack:license" value="{licenseKeyText}" /&gt;
&lt;/appSettings&gt;
</pre>
            </div>

            <div class="section" style="padding: 0 0 10px 15px">
            </div>

            <h2 class="text-2xl">b) Add the System Environment Variable</h2>
            <div class="section" style="padding: 0 0 10px 15px">
                <p>
                    When developing or hosting multiple ServiceStack Applications you can register the License Key once in
                    the <b>SERVICESTACK_LICENSE</b> Environment Variable:
                </p>
                <pre>Variable               Value
SERVICESTACK_LICENSE   {licenseKeyText}
</pre>
                <p class="info-note">
                    Note: you'll need to restart IIS or VS.NET for them to pickup any new Environment Variables.
                </p>
            </div>

            <h2 class="text-2xl">c) Add it in code before your Application Starts Up</h2>
            <div class="section" style="padding: 0 0 10px 15px">
                <p>
                    By calling <b>Licensing.RegisterLicense()</b> before your application starts up,
                    E.g. For ASP.NET, place it in the Global.asax <b>Application_Start</b> event:
                </p>
                <pre>protected void Application_Start(object sender, EventArgs e)
{
    Licensing.RegisterLicense(licenseKeyText);
    new AppHost().Init();
}
</pre>
                <p>
                    Otherwise for a self-hosting Console Application, place it before initializing the AppHost, as shown above.
                </p>
            </div>

            <h2 class="text-2xl">d) Copy license key text into an external text file</h2>
            <div class="section" style="padding: 0 0 10px 15px">
                <p>
                    Similar to above, we can register the license from an external plain-text file containing the license key text, e.g:
                </p>
                <pre>protected void Application_Start(object sender, EventArgs e)
{
    Licensing.RegisterLicenseFromFileIfExists("~/license.txt".MapHostAbsolutePath());
    new AppHost().Init();
}
</pre>
                <p>
                    For Self-Hosting set the BuildAction to <b>Copy if Newer</b> and use <b>"~/license.txt".MapAbsolutePath()</b> extension method.
                </p>
                <p class="info-note">
                    Note: the license key is white-space insensitive so can be broken up over multiple lines.
                </p>
            </div>
        </div>
    </div>
</div>