<div class="w-full lg:w-1/2 p-4">
  <h3 class="text-green-600"><i class="fa fa-check"></i> Maximize Value and Reach of System APIs</h3>
  <p>
    ServiceStack's primary goal is to enhance the value of System APIs which serve as the blueprint that
    most features centered around. By using simple &amp; pure dependency-free DTO models decoupled from any
    implementation we're free to continue layering on features which now sees ServiceStack APIs as the
    most versatile in the world where the same high-performance APIs can be consumed from HTTP in
    <a href="https://docs.servicestack.net/architecture-overview">any combination</a> of
    Route, QueryString, FormData or a myriad of
    <a href="https://docs.servicestack.net/why-servicestack#multiple-pluggable-formats">data formats</a>,
    via popular resilient
    <a href="https://docs.servicestack.net/messaging">MQ Servers</a>
    whilst simultaneously supporting legacy integrations like
    <a href="https://docs.servicestack.net/soap-support">SOAP</a>
    or adopting new technologies like
    <a href="https://docs.servicestack.net/grpc">gRPC</a> without sacrificing any native HTTP integrations.
  </p>
</div>

<div class="w-full lg:w-1/2 p-4">
  <h3 class="text-green-600"><i class="fa fa-check"></i> Ultimate Developer Productivity</h3>
  <p class="mb-1">
    To maximize the value of APIs we're focused beyond the API boundary by making it as simple as possible for
    API Consumers to call your APIs, thereby making them more appealing and creating multiplicative value
    with the time &amp; effort saved by each API consumer.
  </p>
  <p>
    In addition to providing native end-to-end typed integrations to 9 of the most popular languages used in
    creating Web, Mobile &amp; Desktop Apps, we also maintain IDE plugins for most major IDEs enabling
    your API Consumers to easily add/update typed API Service References from within
    Rider, VS.NET, Android Studio, PyCharm, IntelliJ IDEA, RubyMine, Php/WebStorm &amp; Eclipse.
  </p>
</div>

<div class="w-full lg:w-1/2 p-4">
  <h3 class="text-green-600"><i class="fa fa-check"></i> Remote Services Best Practices</h3>
  <p>
    The best approach for achieving its goals of capturing a systems functionality in a typed Service
    contract that yields the most reusable &amp; evolvable API design was to adopt a
    <a href="https://docs.servicestack.net/what-is-a-message-based-web-service">message-based design</a>
    that embraces the revered
    <a href="https://www.enterpriseintegrationpatterns.com">SOA Integration Patterns</a> best-practices
    by realizing its
    <a href="https://martinfowler.com/eaaCatalog/remoteFacade.html">Remote Facade</a>,
    <a href="https://martinfowler.com/eaaCatalog/dataTransferObject.html">Data Transfer Object</a>
    and
    <a href="https://docs.microsoft.com/en-us/previous-versions/msp-n-p/ff650101(v=pandp.10)?redirectedfrom=MSDN">Service Gateway</a>
    patterns whose benefits positions ServiceStack in a rarefied breed of frameworks to enable optimal
    end-to-end typed API integrations without code-gen as the same dep-free Service Models used to define
    its APIs can be used as-is in .NET Apps.
  </p>
</div>

<div class="w-full lg:w-1/2 p-4">
  <h3 class="text-green-600"><i class="fa fa-check"></i> Benefits of message-based design</h3>
  <p class="mb-1">
    Unlike RPC, messages can be evolved, intercepted, routed, decorated &amp;
    serialized with natural decoupling of an APIs coarse-grained DTO contracts
    from its implementation allowing front &amp; back-end developers to collaborate
    on an agreed high-level API design free of detail concerns, before using the
    contract-first DTOs to independently implement any required functionality.
  </p>
  <p>
    It allows client logic to bind to impl-free service client interfaces that can be easily substituted
    from a test client returning mock data to utilizing any of the many available
    <a href="https://docs.servicestack.net/csharp-client#httpwebrequest-service-clients">.NET generic Service Client</a>
    implementations
    <a href="https://docs.servicestack.net/grpc#smart-substitutable-generic-grpcserviceclient">including gRPC</a>.
  </p>
</div>

<div class="w-full lg:w-1/2 p-4">
  <h3 class="text-green-600"><i class="fa fa-check"></i> Consistent &amp; Simplified Development Model</h3>
  <p>
    The benefit afforded by capturing an entire API boundary into impl-free Service Contracts extends
    to all natively supported languages who only need be concerned with generating declarative DTOs
    resulting in types encapsulating richer metadata beyond what's possible with restrictive
    primitive types found in other code-gen solutions like Open API.
  </p>
  <p>
    It enables teams across disciplines and languages to work the same way when integrating internal or external
    applications or tools. This reduces software maintenance efforts and enables developers to focus on the
    important part of their code rather than the plumbing between client &amp; server.
  </p>
</div>

<div class="w-full lg:w-1/2 p-4">
  <h3 class="text-green-600"><i class="fa fa-check"></i> Preserve Investments</h3>
  <p class="mb-1">
    From its outset ServiceStack has been consistently promoting the same
    <a href="https://docs.servicestack.net/advantages-of-message-based-web-services">remote service best-practices</a>
    for over a decade, whose adoption of its time-tested patterns has survived beyond
    several abandoned .NET Web Service frameworks, iterations &amp; programming models during its lifetime with any
    investments in them having failed along with them.
  </p>
  <p>
    Instead of enduring wasted investments through constant rewrites, ServiceStack APIs
    have in contrast remained constant whilst gaining value over time, continuing to add support for more
    languages,
    <a href="https://docs.servicestack.net/why-servicestack#multiple-clients">typed clients</a>,
    IDE integrations,
    <a href="https://docs.servicestack.net/why-servicestack#multiple-endpoints">endpoints</a>,
    <a href="https://docs.servicestack.net/why-servicestack#multiple-pluggable-formats">data formats</a> &amp;
    <a href="https://docs.servicestack.net/why-servicestack#multiple-hosting-options">.NET Hosts</a>.
  </p>
</div>
