<div id="templates-nav">
    <div class="flex justify-center">
        <div class="mx-2 px-2 py-1 rounded-lg bg-purple-50 text-purple-500"><a href="/start">.NET 6</a></div>
        <div class="mx-2 px-2 py-1 rounded-lg bg-purple-50 text-purple-500"><a href="/start?tag=net5">.NET 5</a></div>
        <div class="mx-2 px-2 py-1 rounded-lg bg-purple-50 text-purple-500"><a href="/start-netfx">.NET Framework</a></div>
        <div class="mx-2 px-2 py-1 rounded-lg bg-purple-50 text-purple-500"><a href="/start-corefx">ASP.NET Core FX</a></div>
    </div>
</div>
