<!-- LITEWIND -->
<link rel="stylesheet" href="/css/litewind.css">

<!-- BOOTSTRAP -->
<link rel="stylesheet" href="/css/bootstrap.min.css">

<!-- FONT ICONS -->
<link rel="stylesheet" href="/assets/elegant-icons/style.css">
<link rel="stylesheet" href="/assets/app-icons/styles.css">
<!--[if lte IE 7]><script src="lte-ie7.js"></script><![endif]-->

<!-- WEB FONTS -->
<link href='https://fonts.googleapis.com/css?family=Roboto:100,300,100italic,400,300italic' rel='stylesheet' type='text/css'>

<!-- CAROUSEL AND LIGHTBOX -->
<link rel="stylesheet" href="/css/owl.theme.css">
<link rel="stylesheet" href="/css/owl.carousel.css">
<link rel="stylesheet" href="/css/nivo-lightbox.css">
<link rel="stylesheet" href="/css/nivo_themes/default/default.css">

<link rel="stylesheet" href="/css/all.min.css">

<!-- ANIMATIONS -->
<link rel="stylesheet" href="/css/animate.min.css">

<!-- CUSTOM STYLESHEETS -->
<link rel="stylesheet" href="/css/styles.css">

<!-- COLORS -->
<link rel="stylesheet" href="/css/colors/blue.css"> <!-- DEFAULT COLOR/ CURRENTLY USING -->
<!-- <link rel="stylesheet" href="/css/colors/red.css"> -->
<!-- <link rel="stylesheet" href="/css/colors/green.css"> -->
<!-- <link rel="stylesheet" href="/css/colors/purple.css"> -->
<!-- <link rel="stylesheet" href="/css/colors/orange.css"> -->
<!-- <link rel="stylesheet" href="/css/colors/blue-munsell.css"> -->
<!-- <link rel="stylesheet" href="/css/colors/slate.css"> -->
<!-- <link rel="stylesheet" href="/css/colors/yellow.css"> -->

<!-- RESPONSIVE FIXES -->
<link rel="stylesheet" href="/css/responsive.css">



