<div class="container mx-auto px-4">
  <h1 class="text-center pt-4 mb-8">Support</h1>
  <div class="my-20 sm:flex sm:flex-wrap">
    <div class="col-md-4 support-option wow fadeIn animated mb-4" data-wow-offset="10" data-wow-duration="1.5s">
      <a href="https://forums.servicestack.net/">
        <div class="text-7xl">
          <i class="fab fa-discourse"></i>
        </div>
        <h3>Customer Forums</h3>
      </a>
      <p>
        We're here to help! Active Customers can access technical support from our
        <a href="https://forums.servicestack.net">Customer Forums</a>.
      </p>
      <p>
        Your email needs to match your Account's email or a
        <a href="https://servicestack.net/account/support">registered support contact</a>.
      </p>
    </div>
    <div class="col-md-4 support-option wow fadeIn animated mb-4" data-wow-offset="10" data-wow-duration="1.5s">
      <a href="https://github.com/ServiceStack/Issues">
        <div class="text-7xl">
          <i class="fab fa-github"></i>
        </div>
        <h3>Report a bug issue</h3>
      </a>
      <p>
        If you've found an issue in anyone of our libraries, please report it to our
        <a href="https://github.com/ServiceStack/Issues">GitHub Issues repository</a>.
      </p>
    </div>
    <div class="col-md-4 support-option wow fadeIn animated mb-4" data-wow-offset="10" data-wow-duration="1.5s">
      <a href="https://account.servicestack.net/account/support">
        <div class="text-7xl">
          <i class="far fa-life-ring"></i>
        </div>
        <h3>Premium Support</h3>
      </a>
      <p>
        Need direct support from one of ServiceStack's expert engineers?
      </p>
      <p>
        Go to <a href="https://account.servicestack.net/account/support">your Support page</a> to access your premium support options.
      </p>
    </div>
    <div class="col-md-4 support-option wow fadeIn animated mb-4" data-wow-offset="10" data-wow-duration="1.5s">
      <a href="https://servicestack.uservoice.com/forums/176786-feature-requests">
        <div class="text-7xl">
          <i class="far fa-comments"></i>
        </div>
        <h3>Request a Feature</h3>
      </a>
      <p>
        Have a requirement that ServiceStack doesn't meet? Add your voice to the requested features list.
      </p>
    </div>
    <div class="col-md-4 support-option wow fadeIn animated mb-4" data-wow-offset="10" data-wow-duration="1.5s">
      <a href="mailto:team@servicestack.net">
        <div class="text-7xl">
          <i class="fas fa-briefcase"></i>
        </div>
        <h3>Account, billing or other?</h3>
      </a>
      <p>
        Need to renew or access your existing subscription or orders? <br>
        <a href="https://account.servicestack.net/account/subscription">Sign In</a> with your Accounts Email to access your account.
      </p>
      <p>
        <a href="mailto:team@servicestack.net">Email us</a> if your Account's Email needs to change.
      </p>
    </div>
  </div>
</div>