
{% include landing/feature-with-video.html
    title_top_line="Creating Beautiful <span class='text-purple-600'>Blazor Apps</span>"
    title_bottom_line="<span style='color:#44A8B3'>with Tailwind</span>"
    subtitle_text="Preview the highly productive development model of the new Blazor Tailwind template showing how easy
    it is to utilize beautifully designed components"
    youtube_id="3gD_MMcYI-4"
    %}


<div class="bg-white pb-8 pb-12">
    <div class="pt-8 overflow-hidden sm:pt-12 lg:relative lg:py-48">
        <div
            class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl lg:grid lg:grid-cols-2 lg:gap-24">
            <div>
                <div>
                    <img class="h-16 w-auto" src="/images/blazor/logo.svg" alt="Northwind Logo">
                </div>
                <div class="mt-20">
                    <div>
                        <a href="https://blazor-tailwind.jamstacks.net"
                            class="inline-flex space-x-4">
                            <span
                                class="rounded bg-purple-50 px-2.5 py-1 text-xs font-semibold text-purple-600 tracking-wide uppercase">
                                What's new </span>
                            <span
                                class="inline-flex items-center text-sm font-medium text-purple-600 space-x-1">
                                <span>Live Demo</span>
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                    fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                        clip-rule="evenodd" />
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div class="mt-6 sm:max-w-xl">
                        <h1 class="text-4xl font-extrabold text-gray-900 tracking-tight sm:text-5xl">
                            Blazor WASM Tailwind Template
                        </h1>
                        <p class="mt-6 text-xl text-gray-500">
                            The feature-rich Blazor WASM Tailwind template us ideal for teams with strong C# skills building Line Of Business (LOB) applications 
                            who prefer utilizing Tailwind's modern utility-first CSS design system to create beautiful, instant-loading Blazor WASM Apps.
                        </p>
                    </div>
                
                    <div class="mt-6 flex">
                        <div class="rounded-md shadow">
                            <a href="https://docs.servicestack.net/templates-blazor-tailwind" target="_blank"
                                class="flex hover:no-underline px-5 py-3 border border-transparent text-base font-medium rounded-md text-gray-900 bg-white hover:bg-gray-50"> 
                                Learn More
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="sm:mx-auto sm:max-w-3xl sm:px-6">
            <div class="py-12 sm:relative sm:mt-12 sm:py-16 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
                <div class="hidden sm:block">
                    <div
                        class="absolute inset-y-0 left-1/2 w-screen bg-gray-50 rounded-l-3xl lg:left-80 lg:right-0 lg:w-full">
                    </div>
                    <svg class="absolute top-8 right-1/2 -mr-3 lg:m-0 lg:left-0" width="404" height="392"
                        fill="none" viewBox="0 0 404 392">
                        <defs>
                            <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20"
                                height="20" patternUnits="userSpaceOnUse">
                                <rect x="0" y="0" width="4" height="4" class="text-gray-200"
                                    fill="currentColor" />
                            </pattern>
                        </defs>
                        <rect width="404" height="392" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)" />
                    </svg>
                </div>
                <div
                    class="relative pl-4 -mr-40 sm:mx-auto sm:max-w-3xl sm:px-0 lg:max-w-none lg:h-full lg:pl-12">
                    <a href="https://blazor-tailwind.jamstacks.net">
                        <img class="w-full rounded-md shadow-xl ring-1 ring-black ring-opacity-5 lg:h-full lg:w-auto lg:max-w-none"
                            src="/images/blazor/blazor-wasm-tailwind-template.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="relative bg-white py-8 sm:py-12 lg:py-16">
    <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">

        <h3 id="tailwind-components" tabindex="-1"
            class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
            Tailwind Components
        </h3>

        <p class="mb-8 mx-auto mt-5 text-xl text-gray-500">
            <a href="https://tailwindcss.com" target="_blank" rel="noopener noreferrer">Tailwind</a>
            has quickly become the best modern CSS framework for creating scalable,
            <a href="https://tailwindcss.com/#mobile-first" target="_blank" rel="noopener noreferrer">mobile-first
                responsive</a>
            websites built upon a beautiful expert-crafted constraint-based
            <a href="https://tailwindcss.com/#constraint-based" target="_blank" rel="noopener noreferrer">Design
                System</a>
            that enables effortless reuse of a growing suite of
            <a href="https://tailwindcomponents.com" target="_blank" rel="noopener noreferrer">Free Community</a>
            and professionally-designed
            <a href="https://tailwindui.com" target="_blank" rel="noopener noreferrer">Tailwind UI Component
                Libraries</a>,
            invaluable for quickly creating beautiful websites.
        </p>

        <p>
            <a href="https://tailwindui.com" target="_blank" rel="noopener noreferrer"><img
                    src="/images/blazor/tailwindui.png" alt=""></a>
        </p>

    </div>
</div>

<div class="relative bg-white py-8 sm:py-12 lg:py-16">
    <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">

        <div class="relative bg-white py-4">
            <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
                <p class="mt-2 text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Loads instantly
                    with great SEO</p>
                <p class="mx-auto mt-5 max-w-prose text-xl text-gray-500">
                    All Blazor WASM templates
                    <a href="https://blazor-tailwind.jamstacks.net/docs/prerender">incorporate prerendering</a>
                    to achieve their
                    <a href="https://blazor-tailwind.jamstacks.net">instant load times</a>
                    that greatly benefits the built-in markdown pages with great SEO
                </p>
            </div>
        </div>

        <a href="https://blazor-tailwind.jamstacks.net/docs/prerender">
            <div class="block flex justify-center shadow hover:shadow-lg rounded py-1">
                <img class="" src="/images/blazor/blazor-prerendering.png">
            </div>
        </a>

        <p class="mb-8 mx-auto mt-5 text-xl text-gray-500">
            Pre-rendering works by replacing the
            <a href="https://blazor-tailwind.jamstacks.net/docs/prerender#increasing-perceived-performance"
                target="_blank" rel="noopener noreferrer">Blazor WASM loading page</a>
            with an equivalent looking HTML page dynamically generated in JavaScript which renders the same Blazor
            App's Chrome using the shared navigation defined in JavaScript to render the App's Top &amp; Sidebar navigation.
        </p>

    </div>

</div>