<section class="bg-cta">
    <div class="container">
        <div class="flex flex-wrap">
            <div class="w-full mb-8">
                <h2>{{include.title}}</h2>
            </div>
            <div class="w-full">
                <div class="buttons mb-8">
                    <a href="{{include.call_to_action_url}}"
                       class="cursor-pointer text-2xl font-normal bg-blue-500 hover:bg-blue-600 text-white hover:text-white shadow-xl px-6 py-3 inline-block text-blue-100 rounded">
                        {{include.call_to_action_text}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>