<!DOCTYPE html>
<html lang="en">
<head>

    {% include meta-section.html %}
    <!-- SITE TITLE -->
    <title>{{page.title}}</title>

    {% include fav-icons-section.html %}

    {% include stylesheets-section.html %}

    {% include fixes-section.html %}

    <style>
        .section-body {
            margin-top:6em;
        }
    </style>
</head>
<body>
<div style="text-align: center">
    {% include navigation.html %}


<section class="section-body {{ page.section_css }}">
    {{ content }}
</section>
</div>
{% include footer-section.html %}

{% include scripts-section.html %}

<script src="/js/custom.js"></script>
</body>
</html>