<!doctype html>
<html lang="en">
<head>

    {% include meta-section.html %}
    <!-- SITE TITLE -->
    <title>ServiceStack</title>

    {% include fav-icons-section.html %}

    {% include stylesheets-section.html %}

    {% include fixes-section.html %}
</head>
<body>
    {% include header-section.html %}

    {% include home/features-section.html %}

    {% include home/brief-section.html %}

    {% include home/testimonials-section.html %}

    {% include home/services-section.html %}

    {% include home/screenshots-section.html %}

    {% include home/pricing-section.html %}

    {% include home/download-section.html %}

    {% include footer-section.html %}

    {% include scripts-section.html %}
</body>
</html>