<!doctype html>
<html lang="en">
<head>

    {% include meta-section.html %}
    <title>Simple and Fast .NET Web Services Framework</title>

    {% include fav-icons-section.html %}

    {% include stylesheets-section.html %}

    {% include fixes-section.html %}

    <link rel="stylesheet" href="/css/home.css">
    <!-- FONT ICONS -->
    <link rel="stylesheet" href="/assets/elegant-icons/style.css">
    <link rel="stylesheet" href="/assets/app-icons/styles.css">

    <!-- CAROUSEL AND LIGHTBOX -->
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/nivo-lightbox.css">
    <link rel="stylesheet" href="/css/nivo_themes/default/default.css">

    <!--EMBED YOUTUBE LITE-->
    <link rel="stylesheet" href="/css/lite-yt-embed.css">

    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/flip.min.css">
</head>
<body>
<div class="preloader">
    <div class="status"></div>
</div>
<div class="text-center">

    {% include navigation.html %}

    {% include home/hero-banner.html %}

    <div class="mt-4" style="margin-top: -3.5rem">
        <div>
            <a href="/whatsnew"
               class="bg-gray-100 rounded-full py-1 px-1 pr-4 mb-4 text-sm text-gray-700 inline-flex items-center justify-between hover:bg-gray-200" role="alert">
                <span class="text-xs bg-blue-600 rounded-full text-white px-4 py-1.5 mr-3">New</span>
                <span class="text-sm font-medium">v6.5: Dark Mode Everywhere, new Blazor Components, Blazor Diffusion, Blazing Fast Networkless APIs!</span>
                <svg class="w-5 h-5 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
        <div class="mt-4 flex justify-center">
            <div class="mx-2 px-2 py-1 rounded-lg bg-purple-500"><a class="text-white hover:text-white" href="https://jamstacks.net">Jamstacks</a></div>
            <div class="mx-2 px-2 py-1 rounded-lg bg-purple-500"><a class="text-white hover:text-white" href="/start">.NET 6.0</a></div>
            <div class="mx-2 px-2 py-1 rounded-lg bg-purple-500"><a class="text-white hover:text-white" href="/start-netfx">.NET Framework</a></div>
            <div class="mx-2 px-2 py-1 rounded-lg bg-purple-500"><a class="text-white hover:text-white" href="/start-corefx">ASP.NET Core FX</a></div>
        </div>
    </div>

    {% include home/features-section.html %}

    {% include home/testimonials-section.html %}

    {% include home/feature-video-left.html
    local_link_id="blazor-wasm"
    youtube_id="tt0ytzVVjEY,8nwpC_B4AC4,iKpQI2233nY,3gD_MMcYI-4,BcQqCzm4tK0,fY50dWszpw4,TIgjMf_vtCI"
    title="Blazor Server & WASM"
    bg_class="bg-gray-100"
    embed_html="
    <p>ServiceStack.Blazor Components gives you the ideal development workflow without compromise. Effortless, highly productive, API integrated Rich Blazor 
       UI Components with 100% Server model reuse and integrated contextual validation for the rapid development of Web and CRUD Apps</p>

    <p>With first-class support for both Blazor Server and Blazor WASM you'll be able to create the best experiences for both Internet and Intranet sites.</p>
    "
    learn_url="/blazor"
    %}

    {% include home/feature-video-right.html
    youtube_id="hkuO_DMFXmc,NiTp5Z_5U2Y,mFyMgg7c3vg"
    local_link_id="locode"
    title="Locode"
    bg_class="bg-white"
    embed_html="
    <div class='mt-4'>
        <p><a href='https://locode.dev'>locode.dev</a> is our Rapid Application Development (RAD) solution to quickly develop 
            beautiful Full Stack CRUD Apps around AutoQuery APIs, suitable for a wide number of use-cases including:</p>
        <p>Creating an instant UI around existing Database-First RDBMS tables</p>
        <p>Highly customizable, declarative Code-First development model</p>
        <p>As Locode’s UI is built on top of ServiceStack’s industrial strength AutoQuery APIs, Hybrid Apps can benefit from its superior end-to-end typed development model for creating Web, Mobile &amp; Desktop Apps.</p>
    </div>
    "
    learn_url="https://www.locode.dev"
    %}

    {% include home/feature-video-right.html
    local_link_id="autoquery-feature"
    youtube_id="rSFiikDjGos,NaJ7TW-Q_pU,1dFqzrF1mV8"
    title="AutoQuery"
    bg_class="bg-gray-100"
    embed_html="
    <p>Surface the ideal API a developer would naturally write and complete their implementation for them with AutoQuery!</p>
    <p>AutoQuery which utilizes conventions to automate the creation of intent-based self-descriptive APIs that are able to specify configurable conventions and leverage extensibility options for a great developer experience.</p>
    "
    learn_url="/autoquery"
    %}
    
    {% include home/feature-video-left.html
    youtube_id="lUDlTMq9DHU"
    local_link_id="api-explorer"
    title="API Explorer"
    bg_class="bg-white"
    embed_html="
    <p>Built into every ServiceStack v6 App is API Explorer - an instant integrated Postman and Swagger UI alternative to quickly Call and Explore your APIs.</p>
    <p>
        With envious performance and unmatched customizability, API Explorer lets you easily incorporate gorgeous, rich, interactive API Documentation 
        your API Consumers will love who'll be able to read its source code in their preferred programming language and easily call from their existing Client Apps.
    </p>
    "
    learn_url="https://docs.servicestack.net/api-explorer"
    %}

    {% include home/feature-video-right.html
    youtube_id="ocH5L-CikQ0,cbYuem1b2tg,WjbhfH45i5k,JKsgrstNnYY,GTnuMhvUayg,xg677weFef4,EaUcPXVeLpk,T3KTDPdovOw,nmB0NaI9-3k"
    local_link_id="add-ss-ref-feature"
    title="Add ServiceStack Reference"
    bg_class="bg-gray-100"
    embed_html="
    <p>Generate Native Types for your preferred language and platforms directly from within your favorite IDE or easy to use CLI tooling.</p>
    <p>Add and update lightweight client code straight from the server you integrate with giving you an easy to use end-to-end typed interface with your ServiceStack server.</p>
    "
    learn_url="/service-reference"
    %}

    {% include home/feature-video-left.html
    local_link_id="admin-ui"
    youtube_id="AACZtTOcQbg,NZkeyuc_prg,LgQHTSHSk1g,W5OJAlOxH98"
    title="Admin UI"
    bg_class="bg-white"
    embed_html="
    <p>The Admin UI contains a suite of Admin tools providing a number of productivity features ranging from Managing Users, DB Validation Rules, configured App's 
        Redis servers and RDBMS tables to gaining unprecedented insights into Live running Apps with in-depth Request Logging & Profiling where you'll be able 
        to observe your App's behavior in real-time.</p>
    "
    learn_url="https://docs.servicestack.net/admin-ui"
    %}

    {% include home/feature-service-clients.html %}

    {% include home/feature-why.html %}

    {% include home/feature-video-left.html
    youtube_id="NaJ7TW-Q_pU,3iz9aM1AlGA"
    local_link_id="autogen-feature"
    title="AutoGen CRUD"
    bg_class="bg-white"
    embed_html="
    <p>Generate fully featured web services dynamically from your RDBMS of choice with ease allowing you to un-silo your valuable data.</p>
    <p>AutoGen for AutoQuery generates the required DTO types at runtime, and ServiceStack tooling allows you to extract those runtime types, giving you a future proof pathway to customize and migrate to a code-first model when you need.</p>
    "
    learn_url="https://docs.servicestack.net/autoquery-autogen"
    %}

    {% include home/feature-video-right.html
    youtube_id="ocH5L-CikQ0,tImAm2LURu0,EwOwbZ9mUZk"
    local_link_id="mobile-clients-feature"
    title="Mobile Clients"
    bg_class="bg-gray-100"
    embed_html="
    <p>First class client libraries for your favorite Android and iOS development frameworks, working in your preferred language.</p>
    <p>Smart Typed Clients simplify integration, with the ability to use generated DTO classes to created a typed end-to-end integration with any ServiceStack application.</p>
    "
    learn_url="https://docs.servicestack.net/clients-overview"
    %}

    {% include home/feature-video-left.html
    youtube_id="NIVFqute7JQ"
    local_link_id="db-migrations"
    title="Code-First DB Migrations"
    bg_class="bg-white"
    embed_html="
    <p>OrmLite DB Migrations advances OrmLite's light-weight code-first development approach with a simple change based migration solution 
        that facilitates the code-first development workflow of OrmLite.</p>
    "
    learn_url="https://docs.servicestack.net/ormlite/db-migrations"
    %}

    {% include home/feature-video-right.html
    youtube_id="WXRwT7ayc1Y"
    local_link_id="litestream"
    title="Create Litesream Apps"
    bg_class="bg-gray-100"
    embed_html="
    <p>Litestream lets us avoid expensive App hosting costs by providing transparent per-second replica backups to inexpensive managed storage, 
        enabling latency-free queries, simplified hosting architectures at vastly reduced hosting costs.</p>
    "
    learn_url="https://servicestack.net/litestream"
    %}

    {% include home/feature-video-right.html
    youtube_id="GTnuMhvUayg"
    local_link_id="instant-client-apps-feature"
    title="Instant Client Apps"
    bg_class="bg-white"
    embed_html="
    <p>Generate working native client apps for <b>your</b> live ServiceStack services, in a variety of languages, instantly with our free managed service.</p>
    <p>This tool enables your developers, and even your customers, to open a working example native application straight from the web to their favorite IDE.</p>
    "
    page_content_ref="home/instant-client-apps-content.html"
    learn_url="https://apps.servicestack.net"
    %}

    {% include home/feature-video-left.html
    youtube_id="h6UwDuXt8MA,vt92pbet5bY,PxH3K5WIDx8"
    local_link_id="jupyter-notebooks"
    title="Jupyter Notebooks"
    bg_class="bg-gray-100"
    embed_html="
    <p>Jupyter is an exciting initiative to support an open standards, language agnostic interactive computing platform where it provides the ideal integrated exploratory programming environment for data science and scientific computing.</p>
    <p>We've fully embraced this new paradigm with effortless UI and command-line tools for generating pre-populated Python, C# and F# Jupyter Notebooks</p>
    "
    learn_url="https://docs.servicestack.net/jupyter-notebooks"
    %}

    {% include home/feature-apimap.html %}

    {% include home/feature-video-left.html
    youtube_id="4HphWPrKwb0,8mpGNTsSlvE"
    local_link_id="project-templates-feature"
    title="Project Templates"
    bg_class="bg-white"
    page_content_ref="home/project-templates-content.html"
    learn_url="https://docs.servicestack.net/templates-overview"
    %}

    {% include home/feature-video-right.html
    youtube_id="0PvzcnxlBvc,Eh4tvLN8i8g"
    local_link_id="github-action-templates"
    title="GitHub Action Templates"
    bg_class="bg-gray-100"
    embed_html="
    <p>
    Get your GitHub Actions CI process setup in minutes for your ServiceStack project with our GitHub Action Mix templates.
    </p>
    <p>
        ServiceStack tooling makes it fast to <a href='https://docs.servicestack.net/mix-tool'>Mix</a> in additional functionality into your new or existing ServiceStack projects with templates for GitHub Actions to suit a variety of situations.
    </p>
    "
    learn_url="https://docs.servicestack.net/github-action-templates"
    %}

    {% include home/feature-video-left.html
    youtube_id="5sd00MzHpaU"
    local_link_id="file-uploads"
    title="Managed File Uploads"
    bg_class="bg-white"
    embed_html="
    <p>
        <a href='https://docs.servicestack.net/locode/files'>Managed Files Uploads</a>
        is a high-level ServiceStack feature that allows you to configure multiple managed file upload locations within the same App 
        that any ServiceStack HTTP API can declaratively annotate on Request DTOs to upload files to AWS S3, Azure Blob storage or internal File Systems.
    </p>
    <p>
        It's especially useful in 
        <a href='https://docs.servicestack.net/autoquery-crud'>AutoQuery CRUD APIs</a>
        as it enables an easy way to populate a file path that can be stored along with a table row 
        without the uploaded files embedded in the database itself, taking up valuable RDBMS resources and significantly impacting its performance.        
    </p>
    "
    learn_url="https://docs.servicestack.net/locode/files"
    %}

    {% include home/feature-video-right.html
    youtube_id="UQlYodNS1xc,5NNCaWMviXU,t83gDzEGpac,K0QAUQPJNtM,y3MBaapcN-0,9XTy3eOdpHw,QL56lOHiXVM"
    local_link_id="grpc-feature"
    title="ServiceStack gRPC"
    bg_class="bg-gray-100"
    embed_html="
    <p>
        Create gRPC services in a consistent way to all your other services or easily add gRPC support to your existing ServiceStack services.
    </p>
    <p>
        ServiceStack’s gRPC support enables a highly productive development environment for developing high-performance gRPC HTTP/2 Services by making ServiceStack’s existing typed Services available from ASP.NET’s gRPC endpoints.
    </p>
    "
    learn_url="https://docs.servicestack.net/grpc"
    %}

    {% include home/feature-video-left.html
    youtube_id="FcXG4RnlVQk"
    local_link_id="post-command"
    title="Post Command line HTTP API tools"
    bg_class="bg-white"
    embed_html="
    <p>
        <a href='https://docs.servicestack.net/post-command'>Post Command</a>
        is a collection of command line utils that lets you easily discover, inspect and invoke ServiceStack endpoints from a single command.
    </p>
    <p>
        Use <a href='https://docs.servicestack.net/post-command#inspect-command'>inspect</a>
        to discover features and APIs available on a remote ServiceStack endpoint including the version of ServiceStack running,
        the App’s registered Content Types, Plugins and Auth Providers as well as its public APIs, their routes and Response Types.
    </p>
    <p>
        Then use
        <a href='https://docs.servicestack.net/post-command#send---invoking-apis'>send</a>
        to invoke any ServiceStack API with just its name and a JavaScript Object literal to view the response in a
        human-friendly markdown view or as
        <a href='https://docs.servicestack.net/post-command#json-response-output'>JSON</a>
        or including
        <a href='https://docs.servicestack.net/post-command#raw-http-output'>raw HTTP Request & Response Headers</a>.
    </p>
    "
    learn_url="https://docs.servicestack.net/post-command"
    %}

    {% include home/feature-thirdparty.html %}

    {% include home/services-section.html %}

    {% include home/contact-form.html %}
</div>

    {% include footer-section.html %}

<script src="/js/jquery-1.9.1.min.js"></script><!-- legacy only for / -->
<script src="/js/default.js"></script>
<script src="/js/jquery.scrollTo.min.js"></script>
<script src="/js/jquery.localScroll.min.js"></script>
<script src="/js/jquery.waituntilexists.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/nivo-lightbox.min.js"></script>
<script src="/js/simple-expand.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/jquery.nav.js"></script>
<script src="/js/matchMedia.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>
<script src="/js/jquery.fitvids.js"></script>
<script src="/js/lite-yt-embed.js"></script>
<script src="/js/home-menu-transition.js"></script>
<script src="/js/tweets.js"></script>
<script src="/js/flip.min.js"></script>

<script>

/* LOADER */
// makes sure the whole site is loaded
$("#home").waitUntilExists(function () {
    // will first fade out the loading animation
    jQuery(".status").fadeOut();
    // will fade out the whole DIV that covers the website.
    jQuery(".preloader").fadeOut();
})

/* RESPONSIVE VIDEO */
$(".video-container").fitVids();
$(".videos").owlCarousel({
    dots: true,
    items: 1,
    nav: false
});


/* MAILCHIMP */
$('.mailchimp').ajaxChimp({
    callback: mailchimpCallback,
    url: "http://webdesign7.us6.list-manage.com/subscribe/post?u=9445a2e155b82208d73433060&amp;id=16dc80e353" //Replace this with your own mailchimp post URL.
});
function mailchimpCallback(resp) {
    if (resp.result === 'success') {
        $('.subscription-success').html('<i class="icon_check_alt2"></i><br/>' + resp.msg).fadeIn(1000);
        $('.subscription-error').fadeOut(500);

    } else if (resp.result === 'error') {
        $('.subscription-error').html('<i class="icon_close_alt2"></i><br/>' + resp.msg).fadeIn(1000);
    }
}


/* FULL SCREEN HEADER */
function alturaMaxima() {
    var altura = $(window).height();
    $(".full-screen").css('min-height', altura);

}

$(document).ready(function () {
    alturaMaxima();
    $(window).bind('resize', alturaMaxima);
});

/* TWEET CAROUSEL*/
$(document).ready(function () {
    createOwlCarousel(52);
});

/* SMOOTH SCROLL */
let scrollAnimationTime = 1200,
    scrollAnimation = 'easeInOutExpo';
$('a.scrollto').bind('click.smoothscroll', function (event) {
    event.preventDefault();
    let target = this.hash;
    $('html, body').stop().animate({
        'scrollTop': $(target).offset().top
    }, scrollAnimationTime, scrollAnimation, function () {
        window.location.hash = target;
    });
});


/* WOW ANIMATION */
wow = new WOW({ mobile: false });
wow.init();

/* OWL CROUSEL */
$(document).ready(function () {
    var owl = $("#screenshots");

    owl.owlCarousel({
        items: 2, //10 items above 1000px browser width
        itemsDesktop: [1000, 2], //5 items between 1000px and 901px
        itemsDesktopSmall: [900, 1], // betweem 900px and 601px
        itemsTablet: [600, 1], //2 items between 600 and 0
        itemsMobile: false // itemsMobile disabled - inherit from itemsTablet option
    });
});


/* Nivo Lightbox */
$(document).ready(function () {
    $('#screenshots a').nivoLightbox({
        effect: 'fadeScale',
    });
});

/* STICKY NAV */
$(document).ready(function () {
    $('.main-navigation').onePageNav({
        scrollThreshold: 0.2, // Adjust if Navigation highlights too early or too late
        filter: ':not(.external)',
        changeHash: true
    });
});

function isValidEmail(emailAddress) {
    // only return true if there is only 1 '@' character
    // and it is neither the first nor the last character
    let index = emailAddress.indexOf('@');
    return index > 0 &&
        index !== emailAddress.length - 1 &&
        index === emailAddress.lastIndexOf('@');
}

/* CONTACT FORM */
$("#contact #sendMessage").click(function (e) {
    let name = $("#name").val();
    let email = $("#email").val();
    let message = $("#message").val();
    let dataString = 'displayName=' + encodeURIComponent(name) + '&email=' + encodeURIComponent(email) + '&body=' + encodeURIComponent(message);

    if (isValidEmail(email) && (message.length > 1) && (name.length > 1)) {
        $.ajax({
            type: "POST",
            url: "{{site.account_url}}/message",
            data: dataString,
            success: function () {
                $('.success').fadeIn(1000);
                $('.error').fadeOut(500);
                $('#contact INPUT, #contact textarea, #contact button').fadeOut(500);
            },
            error: function () {
                console.log(arguments);
                $('.error').fadeIn(1000);
                $('.success').fadeOut(500);
            },
            complete: function () {
                $('#contact').removeClass('loading');
                $('#contact button').removeAttr('disabled');
            }
        });
        $('#contact').addClass('loading');
        $('#contact button').prop('disabled','true');
    } else {
        $('.error').fadeIn(1000);
        $('.success').fadeOut(500);
    }

    return false;
});

/* EXPAND COLLAPSE */
$('.expand-form').simpleexpand({
    'defaultTarget': '.expanded-contact-form'
});

/* STELLAR */
$(window).stellar({
    horizontalScrolling: false
});

/* DOWNLOAD COUNTER https://pqina.nl/flip/ */
function handleTickInit(tick) {
    Tick.helper.interval(function () {
        fetch('{{site.account_url}}/stats/live/servicestack.json')
            .then(function (r) { return r.json() })
            .then(function(stats) {
                if (!stats || tick.value === stats.DownloadCount)
                    return;

                tick.value = stats.DownloadCount;
            }, function (err) { console.log('checkDownloadCount', err) });
    }, 100000);
}
</script>
{% include linkedin-tag.html %}
</body>
</html>