<!DOCTYPE html>
<html lang="en">
<head>
{% include meta-section.html %}
<!-- SITE TITLE -->
<title>{{page.title}}</title>

{% include fav-icons-section.html %}

{% include stylesheets-section.html %}

{% include fixes-section.html %}

<style>
.section-body {
    margin-top:6em;
}
</style>
</head>
<body>
<div class="pb-8">
    {% include navigation.html %}

    <section class="section-body {{ page.section_css }}">
    <div class="container mx-auto px-4">
        <h1 class="text-center pt-4 mb-4">{{ page.title }}</h1>
        <div class="sm:flex sm:flex-wrap">
            <div>
                {{ content }}
            </div>
        </div>
    </div>
    </section>
</div>
{% include footer-section.html %}

{% include scripts-section.html %}

<script src="/js/custom.js"></script>
</body>
</html>