
<!-- =========================
     BRIEF LEFT SECTION 
============================== -->
<section class="app-brief grey-bg" id="whyservicestack">

    <div class="container">

        <div class="row">

            <!-- PHONES IMAGE -->
            <div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
                <div class="phone-image">
                    <img src="images/2-iphone-left.png" alt="">
                </div>
            </div>

            <!-- RIGHT SIDE WITH BRIEF -->
            <div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- SECTION TITLE -->
                <h2 class="dark-text">Why ServiceStack?</h2>

                <div class="colored-line-left">
                </div>

                <p>
                    ServiceStack is a simple, fast, versatile and highly-productive full-featured Web and Web Services Framework that’s thoughtfully-architected to reduce artificial complexity and promote remote services best-practices with a message-based design that allows for maximum re-use that can leverage an integrated Service Gateway for the creation of loosely-coupled Modularized Service Architectures.
                </p>

                <!-- FEATURE LIST -->
                <ul class="feature-list">
                    <li><i class="icon_lock_alt"></i> Simplicity - Holistically constructed with remote-service best-practices, designed to reduce artificial complexity. Services are designed for maximum re-use.</li>
                    <li><i class="icon_check_alt2"></i> Speed - Obscenely fast! Built with only fast, clean, code-first and light-weight parts. Start using .NET's fastest serializers, ORMs, redis and caching libraries!</li>
                    <li><i class="icon_paperclip"></i> Web Services Best Practices - 1 framework for all your services and web apps that's intuitive and Easy-to-use! Never read another text-book to learn another heavy .NET framework again!</li>
                    <li><i class="icon_adjust-vert"></i> Message-based Services - Model-driven, code-first, friction-free development</li>
                    <li><i class="icon_lock_alt"></i> Native Clients - Clean, end-to-end typed idiomatic APIs for most major platforms</li>
                    <li><i class="icon_check_alt2"></i> Modern - No XML config, IOC built-in, no code-gen, conventional defaults </li>
                    <li><i class="icon_paperclip"></i> Smart - Infers greater intelligence from your strongly typed DTOs</li>
                    <li><i class="icon_adjust-vert"></i> Effortless Features - Most features enhance your existing DTOs making them trivial to enable</li>
                </ul>

            </div>
            <!-- /END RIGHT BRIEF -->

        </div>
        <!-- /END ROW -->

    </div>
    <!-- /END CONTAINER -->

</section>
<!-- /END SECTION -->


<!-- =========================
     BRIEF RIGHT SECTION 
============================== -->
<section class="app-brief" id="integrations">

    <div class="container">

        <div class="row">

            <!-- BRIEF -->
            <div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- SECTION TITLE -->
                <h2 class="dark-text">Simplicity, Speed and Ease of use in one framework</h2>

                <div class="colored-line-left">
                </div>

                <p>
                    ServiceStack Services are consumable via an array of built-in fast data formats (inc. JSON, XML, CSV, JSV, ProtoBuf, Wire and MsgPack) as well as XSD/WSDL for SOAP endpoints and Rabbit MQ, Redis MQ, Azure Service Bus, Amazon SQS and Background MQ, MQ hosts.
                </p>

                <p>
                    Its design and simplicity focus offers an unparalleled suite of productivity features that can be declaratively enabled without code, from creating fully queryable Web API’s with just a single Typed Request DTO with Auto Query supporting every major RDBMS to the built-in support for Auto Batched Requests or effortlessly enabling rich HTTP Caching and Encrypted Messaging for all your existing services via Plugins.
                </p>

                <p>
                    ServiceStack now integrates with all Major IDE’s used for creating the best native experiences on the most popular platforms to enable a highly productive dev workflow for consuming Web Services, making ServiceStack the ideal back-end choice for powering rich, native iPhone and iPad Apps on iOS with Swift, Mobile and Tablet Apps on the Android platform with Java, OSX Desktop Applications as well as targeting the most popular .NET PCL platforms including Xamarin.iOS, Xamarin.Android, Windows Store, WPF, WinForms and Silverlight:
                </p>

            </div>
            <!-- /ENDBRIEF -->

            <!-- PHONES IMAGE -->
            <div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
                <div class="phone-image">
                    <img src="images/2-iphone-right.png" alt="">
                </div>
            </div>
            <!-- /END PHONES IMAGE -->

        </div>
        <!-- /END ROW -->

    </div>
    <!-- /END CONTAINER -->

</section>
<!-- /END SECTION -->


<!-- =========================
     BRIEF LEFT SECTION WITH VIDEO 
============================== -->
<section class="app-brief grey-bg" id="learn">

    <div class="container">

        <div class="row">

            <!-- PHONES IMAGE -->
            <div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
                <div class="video-container">

                    <div class="video">

                        <iframe width="560" height="315" src="https://www.youtube.com/embed/NaJ7TW-Q_pU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>

                </div>

            </div>

            <!-- RIGHT SIDE WITH BRIEF -->
            <div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- SECTION TITLE -->
                <h2 class="dark-text">Servicify and Deploy SQLite's Chinook Sample Database with AutoQuery </h2>

                <div class="colored-line-left">
                </div>

                <p>
                    See how you can instantly generate AutoQuery & CRUD Services around SQLite's existing Chinook Sample database, convert it to a code-first Services code-base, enhance its Typed AutoQuery Services, add records via a remote typed client API then mix in ServiceStack's GitHub Actions to quickly deploy it to a Digital Ocean droplet.
                </p>


            </div>
            <!-- /END RIGHT BRIEF -->

        </div>
        <!-- /END ROW -->

    </div>
    <!-- /END CONTAINER -->

</section>
<!-- /END SECTION -->
