
<!-- =========================
     FEATURES 
============================== -->
<section class="features" id="features">

    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">

            <!-- SECTION TITLE -->
            <h2 class="dark-text">Included Features</h2>
            <div class="colored-line">
            </div>
            <div class="section-description">
                One framework for all your services and web apps that's intuitive and Easy-to-use! Never read another text-book to learn another heavy .NET framework again!
            </div>
            <div class="colored-line">
            </div>
        </div>
        <!-- /END SECTION HEADER -->


        <div class="row">

            <!-- FEATURES LEFT -->
            <div class="col-md-4 col-sm-4 features-left wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <a href="#autoquery-feature"><i class="fas fa-search"></i></a>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color"><a href="#autoquery-feature">AutoQuery</a></h4>
                        <p>
                            Servicify your RDBMS with ServiceStack services
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->

                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <a href="#autogen-feature"><i class="fas fa-database"></i></a>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color"><a href="#autogen-feature">AutoGen</a></h4>
                        <p>
                            No-code option to Servicify your RDBMS.
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->

                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <a href="#add-ss-ref-feature"><i class="fas fa-cogs"></i></a>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color"><a href="#add-ss-ref-feature">Add ServiceStack Reference</a></h4>
                        <p>
                            Web, Mobile, Desktop Typed Clients
                        </p>
                    </div>

                </div>

                <!-- /END SINGLE FEATURE -->

                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <a href="#project-templates-feature"><i class="fas fa-copy"></i></a>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color"><a href="#project-templates-feature">Project Templates</a></h4>
                        <p>
                            Get your project started quickly.
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->

            </div>
            <!-- /END FEATURES LEFT -->

            <!-- PHONE IMAGE -->
            <div class="col-md-4 col-sm-4">
                <div class="logo-image wow animated" data-wow-offset="120" data-wow-duration="1.5s">
                    <img src="/images/logo-only.png" alt="ServiceStack Logo">
                </div>
            </div>

            <!-- FEATURES RIGHT -->
            <div class="col-md-4 col-sm-4 features-right wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <a href="#studio-feature"><i class="glyphicon glyphicon-list-alt"></i></a>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color"><a href="#studio-feature">ServiceStack Studio</a></h4>
                        <p>
                            Manage users, permissions, validation and more.
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->

                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <a href="#instant-client-apps-feature"><i class="glyphicon glyphicon-th"></i></a>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color"><a href="#instant-client-apps-feature">Instant Client Apps</a></h4>
                        <p>
                            Generate native client apps in seconds.
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->

                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <a href="#mobile-clients-feature"><i class="fas fa-mobile-alt"></i></a>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color"><a href="#mobile-clients-feature">Mobile Clients</a></h4>
                        <p>
                            Client libraries for all popular languages
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->

                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <a href="#grpc-feature"><i class="glyphicon glyphicon-resize-horizontal"></i></a>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color"><a href="#grpc-feature">gRPC Support</a></h4>
                        <p>
                            Add gRPC support quickly and easily
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->

            </div>
            <!-- /END FEATURES RIGHT -->

        </div>
        <!-- /END ROW -->

        <!-- STICKY NAVIGATION -->
        <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation" id="sticky-feature-nav">
            <div class="container">
                <div class="navbar-header">

                    <!-- LOGO ON STICKY NAV BAR -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#feature-navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- NAVIGATION LINKS -->
                <div class="navbar-collapse collapse" id="feature-navigation">
                    <ul class="nav navbar-nav navbar-center main-navigation">
                        <li><a href="#autoquery-feature">AutoQuery</a></li>
                        <li><a href="#studio-feature">Studio</a></li>
                        <li><a href="#autogen-feature">AutoGen</a></li>
                        <li><a href="#instant-client-apps-feature">Instant Client Apps</a></li>
                        <li><a href="#add-ss-ref-feature">Add ServiceStack Reference</a></li>
                        <li><a href="#mobile-clients-feature">Mobile Clients</a></li>
                        <li><a href="#project-templates-feature">Project Templates</a></li>
                        <li><a href="#grpc-feature">gRPC</a></li>
                    </ul>
                </div>
            </div> <!-- /END CONTAINER -->
        </div> <!-- /END STICKY NAVIGATION -->

    </div>
    <!-- /END CONTAINER -->

</section>
<!-- /END FEATURES SECTION -->

