<style>
.features {
    padding-top: 80px;
    padding-bottom: 30px;
    background: #ffffff;
}
.features .features-left {
    text-align: right;
    margin-top: 26px;
    margin-bottom: 20px;
}
.features .features-left .icon-container {
    float: right;
    margin-left: 20px;
}
.features .features-right {
    text-align: left;
    margin-top: 26px;
    margin-bottom: 20px;
}
.features .features-right .icon-container {
    float: left;
    margin-right: 20px;
}
.features .feature {
    margin-bottom: 20px;
    height:8em;
}
.features .feature .icon-container {
    display: block;
    min-height: 120px;
    margin-top: 5px;
}
.features .feature .icon-container .icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    line-height: 55px;
    font-size: 18px;
    text-align: center;
    -webkit-transition: all ease-in 0.25s;
    transition: all ease-in 0.25s;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.features .feature:hover .icon a {
    display: inline-block;
    color: #fff;
}
.features .phone-image {
    max-width: 250px;
    margin: auto;
    margin-bottom: 80px;
}
.features .phone-image img {
    width: 100%;
}
.features .logo-image {
    max-width: 250px;
    margin: auto;
    margin-bottom: 80px;
    margin-top: 12em;
}
.features .logo-image img {
    width: 100%;
}
@media (max-width: 767px) {
    .features .features-left {
        text-align: left;
    }
    .features .features-left .icon-container, .features .features-right .icon-container {
        float: left;
        margin: 0 20px;
    }
}
</style>
<section class="features" id="features">

    <div class="container">

        <div class="section-header wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">

            <h2 class="text-gray-700">Maximize Productivity</h2>
            <div class="colored-line"></div>
            <div class="section-description">
                Rapidly develop powerful System APIs for Web, Mobile &amp; Desktop Apps with amazing productivity features that's intuitive and Easy-to-use!
            </div>
        </div>

        <div class="row">

            <div class="col-md-4 col-sm-4 features-left wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
                <div class="feature">
                    <div class="icon-container">
                        <a class="block icon" href="#locode"><i class="fas fa-ship"></i></a>
                    </div>
                    <div class="feature-details">
                        <h4 class="main-color"><a href="#locode">Locode</a></h4>
                        <p>
                            Rapidly develop beautiful, moderm CRUD Apps with Locode
                        </p>
                    </div>
                </div>

                <div class="feature">
                    <div class="icon-container">
                        <a class="block icon" href="#autoquery-feature"><i class="fas fa-search"></i>
                    </div>
                    <div class="feature-details">
                        <h4 class="main-color"><a href="#autoquery-feature">AutoQuery</a></h4>
                        <p>
                            Effortless, declarative high-performance Query & CRUD APIs
                        </p>
                    </div>
                </div>

                <div class="feature">
                    <div class="icon-container">
                        <a class="block icon" href="#autogen-feature"><i class="fas fa-database"></i></a>
                    </div>
                    <div class="feature-details">
                        <h4 class="main-color"><a href="#autogen-feature">AutoGen</a></h4>
                        <p>
                            Instantly Servicify your existing RDBMS with AutoQuery APIs
                        </p>
                    </div>
                </div>

                <div class="feature">
                    <div class="icon-container">
                        <a class="block icon" href="#add-ss-ref-feature"><i class="fas fa-cogs"></i></a>
                    </div>
                    <div class="feature-details">
                        <h4 class="main-color"><a href="#add-ss-ref-feature">Add ServiceStack Reference</a></h4>
                        <p>
                            Web, Mobile, Desktop Typed Clients
                        </p>
                    </div>
                </div>

            </div>

            <div class="col-md-4 col-sm-4 hidden md:block">
                <div class="logo-image wow animated" data-wow-offset="120" data-wow-duration="1.5s">
                    <img src="/images/logo-only.png" alt="ServiceStack Logo">
                </div>
            </div>

            <div class="col-md-4 col-sm-4 features-right wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
                <div class="feature">
                    <div class="icon-container">
                        <a class="block icon" href="#api-explorer"><i class="far fa-compass"></i></a>
                    </div>
                    <div class="feature-details">
                        <h4 class="main-color"><a href="#api-explorer">API Explorer</a></h4>
                        <p>
                            Built-in UI for discovering, browsing & calling APIs
                        </p>
                    </div>
                </div>

                <div class="feature">
                    <div class="icon-container">
                        <a class="block icon" href="#project-templates-feature"><i class="fas fa-copy"></i></a>
                    </div>
                    <div class="feature-details">
                        <h4 class="main-color"><a href="#project-templates-feature">Project Templates</a></h4>
                        <p>
                            Get your project started quickly.
                        </p>
                    </div>
                </div>

                <div class="feature">
                    <div class="icon-container">
                        <a class="block icon" href="#mobile-clients-feature"><i class="fas fa-mobile-alt"></i></a>
                    </div>
                    <div class="feature-details">
                        <h4 class="main-color"><a href="#mobile-clients-feature">Mobile Clients</a></h4>
                        <p>
                            Client libraries for all popular languages
                        </p>
                    </div>
                </div>

                <div class="feature">
                    <div class="icon-container">
                        <a class="block icon" href="#grpc-feature"><i class="fas fa-arrows-alt-h"></i></a>
                    </div>
                    <div class="feature-details">
                        <h4 class="main-color"><a href="#grpc-feature">gRPC Support</a></h4>
                        <p>
                            Add gRPC support quickly and easily
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- STICKY NAVIGATION -->
        <div class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation" id="sticky-feature-nav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#feature-navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse  collapse" id="feature-navigation">
                    <ul class="nav navbar-nav navbar-center main-navigation">
                        <li><a href="#locode">Locode</a></li>
                        <li><a href="#api-explorer">API Explorer</a></li>
                        <li><a href="#autoquery-feature">AutoQuery</a></li>
                        <li><a href="#add-ss-ref-feature">Add ServiceStack Reference</a></li>
                        <li><a href="#autogen-feature">AutoGen</a></li>
                        <li><a href="#mobile-clients-feature">Mobile Clients</a></li>
                        <li><a href="#project-templates-feature">Project Templates</a></li>
                        <li><a href="#grpc-feature">gRPC</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

