<style>
.lang-links {
    display: flex;
    justify-content: center;
    max-height: 100px;
}
.lang-links a {
    margin-right: 1em;
}
.lang-links a:hover {
    opacity: .8;
}
.lang-links img {
    width: 100px;
}
#grpc-links {
    max-height: 70px;
}
#grpc-links img {
    width: 70px;
}
#grpc-links a {
    margin-right: .5em;
}
@media (max-width: 1024px) {
    #grpc-links { column-gap: .5em; max-height: 50px }
    #grpc-links img { width: 50px }
    #apimap li {
        font-size: 12px;
    }
}
@media (max-width: 767px) {
    .lang-links { max-height: 60px }
    .lang-links img { width: 60px }
    .lang-links a { margin-right: .5em; }
    #grpc-links { max-height: 40px }
    #grpc-links img { width: 40px }
    #grpc-links a { margin-right: .25em }
}

</style>

<section class="feature-diagram-section bg-service-clients" id="service-clients">
    <div class="container">
        <div class="row">
            <div class="col-12 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
                <h2 class="text-white">Smart Typed Clients</h2>
                <p  class="text-white text-2xl mb-2">
                    Ultimate simple typed client integrations utilizing resilient message-based APIs and Rich POCO DTOs
                </p>
                <div id="ssref-links" class="lang-links">
                    <a class="bg-white shadow-lg rounded-full cursor-pointer" href="https://docs.servicestack.net/csharp-add-servicestack-reference">
                        <img src="images/svgs/csharp.svg" style="transform:scale(.95)" alt="C#">
                    </a>
                    <a class="bg-white shadow-lg rounded-full cursor-pointer" href="https://docs.servicestack.net/typescript-add-servicestack-reference">
                        <img class="" src="images/svgs/node.svg" style="transform:scale(.9) translateY(20%)" alt="Node.js">
                    </a>
                    <a class="bg-white shadow-lg rounded-full cursor-pointer" href="https://docs.servicestack.net/dart-add-servicestack-reference">
                        <img src="images/svgs/dart.svg" alt="Dart">
                    </a>
                    <a class="bg-white shadow-lg rounded-full cursor-pointer" href="https://docs.servicestack.net/java-add-servicestack-reference">
                        <img class="" src="images/svgs/java.svg" style="transform:scale(.9)" alt="Java">
                    </a>
                    <a class="bg-white shadow-lg rounded-full cursor-pointer" href="https://docs.servicestack.net/kotlin-add-servicestack-reference">
                        <img class="" src="images/svgs/kotlin.svg" style="transform:scale(.9)" alt="Kotlin">
                    </a>
                    <a class="bg-white shadow-lg rounded-full cursor-pointer" href="https://docs.servicestack.net/swift-add-servicestack-reference">
                        <img class="" src="images/svgs/swift.svg" style="transform:scale(.9)" alt="Swift">
                    </a>
                    <a class="bg-white shadow-lg rounded-full cursor-pointer" href="https://docs.servicestack.net/vbnet-add-servicestack-reference">
                        <img src="images/svgs/vb.svg" style="transform:scale(.95)" alt="VB">
                    </a>
                    <a class="bg-white shadow-lg rounded-full cursor-pointer" href="https://docs.servicestack.net/fsharp-add-servicestack-reference">
                        <img src="images/svgs/fsharp.svg" style="transform:scale(.95)" alt="F#">
                    </a>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 4rem 0">
            <h2 class="text-white">gRPC</h2>
            <p  class="text-white text-2xl mb-2">
                Reuse your future-proofed ServiceStack APIs to reach gRPC's efficient typed universe
            </p>
            <div id="grpc-links" class="lang-links">
                <a class="bg-white shadow-lg rounded-full cursor-pointer" href="https://docs.servicestack.net/grpc-flutter">
                    <img class="" src="images/svgs/flutter.svg" style="transform:scale(.60) translate(-10%,-15%)" alt="Flutter">
                </a>
                <a class="bg-white shadow-lg rounded-full cursor-pointer" href="https://docs.servicestack.net/grpc-android">
                    <img class="" src="images/svgs/androidstudio.svg" style="transform:scale(.65) translateY(-15%)" alt="Android">
                </a>
                <a class="bg-white shadow-lg rounded-full cursor-pointer" href="https://docs.servicestack.net/grpc-python">
                    <img class="" src="images/svgs/python.svg" style="transform:scale(.9)" alt="Python">
                </a>
                <a class="bg-white shadow-lg rounded-full cursor-pointer" href="https://docs.servicestack.net/grpc-go">
                    <img class="" src="images/svgs/go.svg" style="transform:scale(.9) translateY(70%)" alt="Go">
                </a>
                <a class="bg-white shadow-lg rounded-full cursor-pointer" href="https://docs.servicestack.net/grpc-ruby">
                    <img class="" src="images/svgs/ruby.svg" style="transform:scale(.6)" alt="Ruby">
                </a>
                <a class="bg-white shadow-lg rounded-full cursor-pointer" href="https://docs.servicestack.net/grpc-php">
                    <img class="" src="images/svgs/php.svg" style="transform:scale(.9) translateY(40%)" alt="PHP">
                </a>
                <a class="bg-white shadow-lg rounded-full cursor-pointer" href="https://docs.servicestack.net/grpc-csharp">
                    <img src="images/svgs/csharp.svg" style="transform:scale(.95)" alt="C#">
                </a>
                <a class="bg-white shadow-lg rounded-full cursor-pointer" href="https://docs.servicestack.net/grpc-dart">
                    <img src="images/svgs/dart.svg" alt="Dart">
                </a>
                <a class="bg-white shadow-lg rounded-full cursor-pointer" href="https://docs.servicestack.net/grpc-java">
                    <img class="" src="images/svgs/java.svg" style="transform:scale(.9)" alt="Java">
                </a>
                <a class="bg-white shadow-lg rounded-full cursor-pointer" href="https://docs.servicestack.net/grpc-swift">
                    <img class="" src="images/svgs/swift.svg" style="transform:scale(.9)" alt="Swift">
                </a>
            </div>
        </div>
</section>
