
<!-- =========================
     FEATURES 
============================== -->
<section class="features" id="features">

    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">

            <!-- SECTION TITLE -->
            <h2 class="dark-text">Included Features</h2>
            <div class="colored-line">
            </div>
            <div class="section-description">
                One framework for all your services and web apps that's intuitive and Easy-to-use! Never read another text-book to learn another heavy .NET framework again!
            </div>
            <div class="colored-line">
            </div>
        </div>
        <!-- /END SECTION HEADER -->


        <div class="row">

            <!-- FEATURES LEFT -->
            <div class="col-md-4 col-sm-4 features-left wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_map_alt"></i>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color">OrmLite</h4>
                        <p>
                            Code-first, fast, lightweight ORM
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->

                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_gift_alt"></i>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color">Redis</h4>
                        <p>
                            .NET's leading C# Redis Client.
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->

                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_tablet"></i>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color">#Script</h4>
                        <p>
                            Simple, Fun, Live Scripting of .NET
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->

            </div>
            <!-- /END FEATURES LEFT -->

            <!-- PHONE IMAGE -->
            <div class="col-md-4 col-sm-4">
                <div class="phone-image wow bounceIn animated" data-wow-offset="120" data-wow-duration="1.5s">
                    <img src="images/single-iphone.png" alt="">
                </div>
            </div>

            <!-- FEATURES RIGHT -->
            <div class="col-md-4 col-sm-4 features-right wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_genius"></i>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color">JSON</h4>
                        <p>
                            .NET's fastest text serializer
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->

                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_lightbulb_alt"></i>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color">Add ServiceStack Reference</h4>
                        <p>
                            Web, Mobile, Desktop Typed Clients
                        </p>
                    </div>

                </div>

                <!-- /END SINGLE FEATURE -->

                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_ribbon_alt"></i>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color">PocoDynamo</h4>
                        <p>
                            Code-first DynamoDB LINQ Client
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->

            </div>
            <!-- /END FEATURES RIGHT -->

        </div>
        <!-- /END ROW -->

    </div>
    <!-- /END CONTAINER -->

</section>
<!-- /END FEATURES SECTION -->

