
<!-- =========================
     HEADER
============================== -->
<header class="header" id="home">

    <div class="color-overlay"> <!-- To make header full screen. Use .full-screen class with color overlay. Example: <div class="color-overlay full-screen">  -->

        <div class="container">

            <div class="row home-contents" style="margin-top:11em">
                <div class="col-md-6 col-sm-6">

                    <div class="intro-section">

                        <h1 class="intro">Simplicity at Speed</h1>
                        <p class="text-white text-lg">
                            One framework to power them all. Write your HTTP APIs once and
                            take advantage of end to end typed integrations for all popular Web, Mobile and Desktop platforms.
                        </p>

                        <div class="buttons" id="download-button">
                            <a href="#download" class="btn btn-default btn-lg standard-button">Get ServiceStack</a>
                        </div>

                    </div>
                </div>


                <div class="col-md-6 col-sm-6 hidden-xs">

                    <!-- PHONE IMAGE WILL BE HIDDEN IN TABLET PORTRAIT AND MOBILE-->
                    <div class="video-preview">
                        <lite-youtube width="560" height="315" videoid="NaJ7TW-Q_pU" style="background-image: url('https://img.youtube.com/vi/NaJ7TW-Q_pU/maxresdefault.jpg')"></lite-youtube>
                    </div>

                </div>

            </div>

        </div>
    </div>
</header>
