<div class="flex-wrap md:flex lg:flex" style="margin-top:2em;">
    <div class="flex-1">
        <ul class="feature-list">
            <li><img class="" src="/images/svgs/csharp.svg" style="transform:scale(.6);width:50px;display:inline-block" alt="C#"> C#</li>
            <li><img class="" src="/images/svgs/node.svg" style="transform:scale(0.9);margin-top:0.5em;margin-bottom:0.5em;width:50px;display:inline-block" alt="Node.js"> NodeJS</li>
            <li><img class="" src="/images/svgs/dart.svg" style="transform:scale(.8);width:50px;display:inline-block" alt="Dart"> Dart</li>
            <li><img class="" src="/images/svgs/java.svg" style="transform:scale(.8);width:50px;display:inline-block" alt="Java"> Java</li>
        </ul>
    </div>
    <div class="flex-1">
        <ul class="feature-list">
            <li><img class="" src="/images/svgs/kotlin.svg" style="transform:scale(.8);width:50px;display:inline-block" alt="Kotlin"> Kotlin</li>
            <li><img class="" src="/images/svgs/swift.svg" style="transform:scale(.8);width:50px;display:inline-block" alt="Swift"> Swift</li>
            <li><img class="" src="/images/svgs/vb.svg" style="transform:scale(.6);width:50px;display:inline-block" alt="VB.NET"> VB.NET</li>
            <li><img class="" src="/images/svgs/fsharp.svg" style="transform:scale(.6);width:50px;display:inline-block" alt="F#"> F#</li>
        </ul>
    </div>

</div>