<div class="flex-wrap flex my-4">
    <div class="flex-1">
        <ul class="feature-list text-left">
            <li><img class="w-10 h-10 inline-block" src="/images/svgs/csharp.svg" style="transform:scale(.6)" alt="C#"> C#</li>
            <li><img class="w-10 h-10 inline-block" src="/images/svgs/node.svg" style="transform:scale(0.9)" alt="Node.js"> NodeJS</li>
            <li><img class="w-10 h-10 inline-block" src="/images/svgs/python.svg" style="transform:scale(0.8)" alt="Python"> Python</li>
            <li><img class="w-10 h-10 inline-block" src="/images/svgs/dart.svg" style="transform:scale(.8)" alt="Dart"> Dart</li>
            <li><img class="w-10 h-10 inline-block" src="/images/svgs/java.svg" style="transform:scale(.8)" alt="Java"> Java</li>
        </ul>
    </div>
    <div class="flex-1">
        <ul class="feature-list text-left">
            <li><img class="w-10 h-10 inline-block" src="/images/svgs/kotlin.svg" style="transform:scale(.8)" alt="Kotlin"> Kotlin</li>
            <li><img class="w-10 h-10 inline-block" src="/images/svgs/swift.svg" style="transform:scale(.8)" alt="Swift"> Swift</li>
            <li><img class="w-10 h-10 inline-block" src="/images/svgs/vb.svg" style="transform:scale(.6)" alt="VB.NET"> VB.NET</li>
            <li><img class="w-10 h-10 inline-block" src="/images/svgs/fsharp.svg" style="transform:scale(.6)" alt="F#"> F#</li>
        </ul>
    </div>

</div>