
<!-- =========================
     PRICING TABLE | Added on version 1.7   
============================== -->
<section class="packages" id="packages">

    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

            <!-- SECTION TITLE -->
            <h2 class="dark-text">Product Packages</h2>
            <div class="colored-line">
            </div>

            <div class="section-description">
                Full ServiceStack framework licenses included ServiceStack.Redis and ServiceStack.OrmLite as well as 1 year of updates.
            </div>

            <div class="colored-line">
            </div>
        </div>
        <!-- /END SECTION HEADER -->

        <div class="row">

            <!-- SINGLE PACKACGE -->
            <div class="col-md-4 col-sm-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

                <div class="single-package">

                    <h3 class="package-heading main-color">
                        Starter </h3>

                    <div class="price">
                        <h2><span class="sign">$</span>0</h2>
                    </div>

                    <ul class="package-feature">
                        <li><span class="main-color icon_check_alt2"></span>All products, <a href="/download#free-quotas">Limited usage</a>.</li>
                    </ul>
                </div>
            </div>
            <!-- /END SINGLE PACKACGE -->

            <!-- SINGLE PACKACGE -->
            <div class="col-md-4 col-sm-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

                <div class="single-package">

                    <h3 class="package-heading main-color">
                        Indie </h3>

                    <div class="price">
                        <h2><span class="sign">$</span>299<span class="month">/developer</span></h2>
                    </div>

                    <ul class="package-feature">
                        <li><span class="main-color icon_check_alt2"></span>All products, unlimited usage.</li>
                        <li><span class="main-color icon_check_alt2"></span>Forum access</li>
                        <li><span class="main-color icon_check_alt2"></span>1 year of updates</li>
                        <li><span class="main-color icon_check_alt2"></span>Reduced renewals pricing</li>
                        <li><span class="main-color icon_check_alt2"></span>Startup friendly*</li>
                    </ul>

                </div>
            </div>
            <!-- /END SINGLE PACKACGE -->

            <!-- SINGLE PACKACGE -->
            <div class="col-md-4 col-sm-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

                <div class="single-package">

                    <h3 class="package-heading main-color">
                        Business </h3>

                    <div class="price">
                        <div class="color-bg">
                            <h2><span class="sign">$</span>999<span class="month">/developer</span></h2>
                        </div>
                    </div>

                    <ul class="package-feature">
                        <li><span class="main-color icon_check_alt2"></span>All products, unlimited usage.</li>
                        <li><span class="main-color icon_check_alt2"></span>Forum access</li>
                        <li><span class="main-color icon_check_alt2"></span>1 year of updates</li>
                        <li><span class="main-color icon_check_alt2"></span>Reduced renewals pricing</li>
                        <li><span class="main-color icon_check_alt2"></span>Priority Support</li>
                        <li><span class="main-color icon_check_alt2"></span>Large teams discounts</li>
                    </ul>
                </div>
            </div>
            <!-- /END SINGLE PACKACGE -->
        </div>
        <!-- /END ROW -->

    </div>
    <!-- /END CONTAINER -->
</section>
<!-- /END PRICING TABLE SECTION -->


