<p>
    Lots of project templates using modern frameworks, along with video and written tutorials to help your team get started quickly.

    Each template comes with a working example of integration with a ServiceStack service carefully designed with great developer workflows in mind.
</p>

<div class="flex-wrap md:flex lg:flex">
    <div class="flex-1">
        <ul class="feature-list">
            <li><i class="fab fa-vuejs"></i>Vue</li>
            <li><i class="fab fa-aws"></i>AWS</li>
            <li><span style="   background-image: url(/images/svgs/nuxtjs.svg);
                                                background-size: contain;
                                                background-position: left;
                                                background-repeat: no-repeat;padding-left:30px;">NuxtJs</span></li>
            <li><i class="fab fa-react"></i>React</li>
        </ul>
    </div>
    <div class="flex-1">
        <ul class="feature-list">
            <li><span style="   background-image: url(/images/svgs/svelte.svg);
                                                background-size: contain;
                                                background-position: left;
                                                background-repeat: no-repeat;padding-left:30px;">Svelte</span>
            </li>
            <li><i class="fab fa-angular"></i>Angular</li>
            <li><span style="   background-image: url(/images/svgs/aurelia.svg);
                                                background-size: contain;
                                                background-position: left;
                                                background-repeat: no-repeat;padding-left:30px;">Aurelia</span>
            </li>
            <li><i class="fas fa-scroll"></i>Many more!</li>
        </ul>
    </div>

</div>