<p>
    Lots of project templates using modern frameworks, along with video and written tutorials to help your team get started quickly.

    Each template comes with a working example of integration with a ServiceStack service carefully designed with great developer workflows in mind.
</p>

<div class="flex-wrap flex my-4">
    <div class="flex-1">
        <ul class="feature-list text-left text-base leading-8">
            <li class="flex"><i class="fab fa-vuejs text-2xl mt-1 w-8 mr-1 flex-shrink"></i><span class="flex-grow">Vue</span></li>
            <li class="flex"><i class="fab fa-aws text-2xl mt-1 w-8 mr-1 flex-shrink"></i><span class="flex-grow">AWS</span></li>
            <li class="flex"><i class="text-2xl inline-block mt-1 w-6 h-6 mr-2 flex-shrink" style="background-size:contain;background: url(/images/svgs/nuxtjs.svg) no-repeat left"></i><span class="flex-grow">NuxtJs</span></li>
            <li class="flex"><i class="fab fa-react text-2xl mt-1 w-8 mr-1 flex-shrink"></i><span class="flex-grow">React</span></li>
        </ul>
    </div>
    <div class="flex-1">
        <ul class="feature-list text-left text-base leading-8">
            <li class="flex"><i class="text-2xl inline-block mt-1 w-6 h-6 mr-2 flex-shrink" style="background-size:contain;background: url(/images/svgs/svelte.svg) no-repeat left"></i><span>Svelte</span></li>
            <li class="flex"><i class="fab fa-angular text-2xl mt-1 w-8 mr-1 flex-shrink"></i><span>Angular</span></li>
            <li class="flex"><i class="text-2xl inline-block mt-1 w-6 h-6 mr-2 flex-shrink" style="background-size:contain;background: url(/images/svgs/aurelia.svg) no-repeat left"></i><span>Aurelia</span></li>
            <li class="flex"><i class="fas fa-scroll text-2xl mt-1 w-8 mr-1 flex-shrink"></i><span>Many more!</span></li>
        </ul>
    </div>

</div>