
<!-- =========================
     SCREENSHOTS
============================== -->
<section class="screenshots grey-bg" id="learn-videos">

    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

            <!-- SECTION TITLE -->
            <h2 class="dark-text">Tutorials</h2>

            <div class="colored-line">
            </div>
            <div class="section-description">
                Video and written tutorials to make getting up to speed fast and easy.
            </div>
            <div class="colored-line">
            </div>

        </div>
        <!-- /END SECTION HEADER -->

        <div class="row wow bounceIn animated" data-wow-offset="10" data-wow-duration="1.5s">

            <div id="screenshots" class="owl-carousel owl-theme">

                <div class="shot">
                    <iframe height="315" src="https://www.youtube.com/embed/Eh4tvLN8i8g?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="shot">
                    <iframe height="315" src="https://www.youtube.com/embed/kN7371bqUII?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="shot">
                    <iframe height="315" src="https://www.youtube.com/embed/GTnuMhvUayg?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="shot">
                    <iframe height="315" src="https://www.youtube.com/embed/cbYuem1b2tg?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="shot">
                    <iframe height="315" src="https://www.youtube.com/embed/NaJ7TW-Q_pU?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="shot">
                    <iframe height="315" src="https://www.youtube.com/embed/0PvzcnxlBvc?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="shot">
                    <iframe height="315" src="https://www.youtube.com/embed/8mpGNTsSlvE?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <div class="shot">
                    <iframe height="315" src="https://www.youtube.com/embed/ocH5L-CikQ0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

            </div>
            <!-- /END SCREENSHOTS -->

        </div>
        <!-- /END ROW -->

    </div>
    <!-- /END CONTAINER -->

</section>
<!-- /END SCREENSHOTS SECTION -->
