
<!-- =========================
     SERVICES
============================== -->
<section class="services" id="learn">

    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

            <!-- SECTION TITLE -->
            <h2 class="dark-text">Rich Ecosystem</h2>

            <div class="colored-line">
            </div>
            <div class="section-description">
                Batteries included libraries with consistent focus of simple design.
            </div>
            <div class="colored-line">
            </div>

        </div>
        <!-- /END SECTION HEADER -->

        <div class="row">

            <!-- SINGLE SERVICE -->
            <div class="col-md-12 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- SERVICE ICON -->
                <div class="service-icon">
                    <i class="icon_cloud-upload_alt"></i>
                </div>

                <!-- SERVICE HEADING -->
                <h3>ServiceStack Framework</h3>

                <!-- SERVICE DESCRIPTION -->
                <p>
                    Thoughtfully architected, obscenely fast, thoroughly enjoyable web services for all.
                </p>

            </div>
            <!-- /END SINGLE SERVICE -->
            <!-- SINGLE SERVICE -->
            <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- SERVICE ICON -->
                <div class="service-icon">
                    <i class="icon_cloud-upload_alt"></i>
                </div>

                <!-- SERVICE HEADING -->
                <h3>ServiceStack.OrmLite</h3>

                <!-- SERVICE DESCRIPTION -->
                <p>
                    Code-first, fast, lightweight ORM
                </p>

            </div>
            <!-- /END SINGLE SERVICE -->

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- SERVICE ICON -->
                <div class="service-icon">
                    <i class="icon_gift_alt"></i>
                </div>

                <!-- SERVICE HEADING -->
                <h3>ServiceStack.Redis</h3>

                <!-- SERVICE DESCRIPTION -->
                <p>
                    .NET's leading C# Client
                </p>

            </div>
            <!-- /END SINGLE SERVICE -->

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- SERVICE ICON -->
                <div class="service-icon">
                    <i class="icon_chat_alt"></i>
                </div>

                <!-- SERVICE HEADING -->
                <h3>#Script</h3>

                <!-- SERVICE DESCRIPTION -->
                <p>
                    Simple, Fun, Live Scripting of .NET
                </p>

            </div>
            <!-- /END SINGLE SERVICE -->

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- SERVICE ICON -->
                <div class="service-icon">
                    <i class="icon_chat_alt"></i>
                </div>

                <!-- SERVICE HEADING -->
                <h3>ServiceStack.Aws</h3>

                <!-- SERVICE DESCRIPTION -->
                <p>
                    Full featured support for AWS managed services.
                </p>

            </div>
            <!-- /END SINGLE SERVICE -->

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- SERVICE ICON -->
                <div class="service-icon">
                    <i class="icon_chat_alt"></i>
                </div>

                <!-- SERVICE HEADING -->
                <h3>ServiceStack.Azure</h3>

                <!-- SERVICE DESCRIPTION -->
                <p>
                    Full featured support for Azure managed services.
                </p>

            </div>
            <!-- /END SINGLE SERVICE -->

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- SERVICE ICON -->
                <div class="service-icon">
                    <i class="icon_chat_alt"></i>
                </div>

                <!-- SERVICE HEADING -->
                <h3>ServiceStack.Text</h3>

                <!-- SERVICE DESCRIPTION -->
                <p>
                    .NET's fastest text serializer
                </p>

            </div>
            <!-- /END SINGLE SERVICE -->

            <div class="col-md-2"></div>
            <!-- SINGLE SERVICE -->
            <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- SERVICE ICON -->
                <div class="service-icon">
                    <i class="icon_chat_alt"></i>
                </div>

                <!-- SERVICE HEADING -->
                <h3>Add ServiceStack Reference</h3>

                <!-- SERVICE DESCRIPTION -->
                <p>
                    Web, Mobile, Desktop Typed Clients
                </p>

            </div>
            <!-- /END SINGLE SERVICE -->

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- SERVICE ICON -->
                <div class="service-icon">
                    <i class="icon_chat_alt"></i>
                </div>

                <!-- SERVICE HEADING -->
                <h3>PocoDynamo</h3>

                <!-- SERVICE DESCRIPTION -->
                <p>
                    Code-first DynamoDB LINQ Client
                </p>

            </div>
            <!-- /END SINGLE SERVICE -->
        </div>
        <!-- /END ROW -->

    </div>
    <!-- /END CONTAINER -->

</section>
<!-- /END SINGLE SECTION -->

