
<!-- =========================
     SERVICES
============================== -->
<section class="services" id="learn">

    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

            <!-- SECTION TITLE -->
            <h2 class="dark-text">It's Awesome</h2>

            <div class="colored-line">
            </div>
            <div class="section-description">
                Batteries included libraries with consistent focus of simple design.
            </div>
            <div class="colored-line">
            </div>

        </div>
        <!-- /END SECTION HEADER -->

        <div class="row">

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- SERVICE ICON -->
                <div class="service-icon">
                    <i class="icon_cloud-upload_alt"></i>
                </div>

                <!-- SERVICE HEADING -->
                <h3>ServiceStack.OrmLite</h3>

                <!-- SERVICE DESCRIPTION -->
                <p>
                    Code-first, fast, lightweight ORM
                </p>

            </div>
            <!-- /END SINGLE SERVICE -->

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- SERVICE ICON -->
                <div class="service-icon">
                    <i class="icon_gift_alt"></i>
                </div>

                <!-- SERVICE HEADING -->
                <h3>ServiceStack.Redis</h3>

                <!-- SERVICE DESCRIPTION -->
                <p>
                    ServiceStack's C# Redis Client is a simple, high-performance and feature-rich C# Client for Redis with native support and high-level abstractions for serializing POCOs and Complex Types.
                </p>

            </div>
            <!-- /END SINGLE SERVICE -->

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- SERVICE ICON -->
                <div class="service-icon">
                    <i class="icon_chat_alt"></i>
                </div>

                <!-- SERVICE HEADING -->
                <h3>ServiceStack.Text</h3>

                <!-- SERVICE DESCRIPTION -->
                <p>
                    ServiceStack.Text is an independent, dependency-free serialization library containing ServiceStack's core high-performance utils and text processing functionality
                </p>

            </div>
            <!-- /END SINGLE SERVICE -->

        </div>
        <!-- /END ROW -->

    </div>
    <!-- /END CONTAINER -->

</section>
<!-- /END SINGLE SECTION -->

