
<!-- =========================
     TESTIMONIALS 
============================== -->
<section class="testimonials">

    <div class="color-overlay">

        <div class="container wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

            <!-- FEEDBACKS -->
            <div id="feedbacks" class="owl-carousel owl-theme">

                <!-- SINGLE FEEDBACK -->
                <div class="feedback">

                    <!-- IMAGE -->
                    <div class="image">
                        <!-- i class=" icon_quotations"></i -->
                        <img src="https://pbs.twimg.com/profile_images/1346104295717003266/uFUqTrfF_400x400.jpg" alt="">
                    </div>

                    <div class="message">
                        The Xplat-first approach, and the good taste in ServiceStack design might be the best chance .NET has on the server
                    </div>

                    <div class="white-line">
                    </div>

                    <!-- INFORMATION -->
                    <div class="name">
                        Miguel de Icaza
                    </div>
                    <div class="company-info">
                        Xamarin Founder
                    </div>

                </div>
                <!-- /END SINGLE FEEDBACK -->

                <!-- SINGLE FEEDBACK -->
                <div class="feedback">

                    <!-- IMAGE -->
                    <div class="image">
                        <!-- i class=" icon_quotations"></i -->
                        <img src="https://pbs.twimg.com/profile_images/596307405178150912/h5h5KLlu_400x400.jpg" alt="">
                    </div>

                    <div class="message">
                        Created a small webservice for work today. Went from nothing to production in 4 hours. Power of #ServiceStack and continuous deployment!
                    </div>

                    <div class="white-line">
                    </div>

                    <!-- INFORMATION -->
                    <div class="name">
                        Greg Pakes
                    </div>
                    <div class="company-info">
                        Technical Director of iSAMS Ltd
                    </div>

                </div>
                <!-- /END SINGLE FEEDBACK -->

                <!-- SINGLE FEEDBACK -->
                <div class="feedback">

                    <!-- IMAGE -->
                    <div class="image">
                        <!-- i class=" icon_quotations"></i -->
                        <img src="https://pbs.twimg.com/profile_images/1106940144488071168/kfdrInWD_400x400.jpg" alt="">
                    </div>

                    <div class="message">
                        The new ServiceStack API is fantastic. I don’t really understand why anybody would choose http://ASP.NET Web API over SS.
                    </div>

                    <div class="white-line">
                    </div>

                    <!-- INFORMATION -->
                    <div class="name">
                        David Stone
                    </div>
                    <div class="company-info">
                        Software Architect at Intuit
                    </div>

                </div>
                <!-- /END SINGLE FEEDBACK -->

                <!-- SINGLE FEEDBACK -->
                <div class="feedback">

                    <!-- IMAGE -->
                    <div class="image">
                        <!-- i class=" icon_quotations"></i -->
                        <img src="https://pbs.twimg.com/profile_images/3397607346/acb3161ff31097a036c6352376303f7f_400x400.jpeg" alt="">
                    </div>

                    <div class="message">
                        The more I learn about @Servicestack, the more I love it!  This is what web services in .net are all about.
                    </div>

                    <div class="white-line">
                    </div>

                    <!-- INFORMATION -->
                    <div class="name">
                        Chuck Frazier
                    </div>
                    <div class="company-info">
                        VP Research and Development, ProCare Rx. Net Architect.
                    </div>

                </div>
                <!-- /END SINGLE FEEDBACK -->

            </div>
            <!-- /END FEEDBACKS -->

        </div>
        <!-- /END CONTAINER -->

    </div>
    <!-- /END COLOR OVERLAY -->

</section>
<!-- /END TESTIMONIALS SECTION -->

