
<!-- =========================
     TESTIMONIALS 
============================== -->
<section class="testimonials">

    <div class="color-overlay">

        <div class="container wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

            <!-- FEEDBACKS -->
            <div id="feedbacks" class="owl-carousel owl-theme">

            </div>
            <!-- /END FEEDBACKS -->
        </div>
        <!-- /END CONTAINER -->

    </div>
    <!-- /END COLOR OVERLAY -->

</section>
<!-- /END TESTIMONIALS SECTION -->

