
<!-- =========================
     TESTIMONIALS 
============================== -->
<section class="testimonials" data-stellar-background-ratio="0.5">

    <div class="color-overlay">

        <div class="container wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">

            <!-- FEEDBACKS -->
            <div id="feedbacks" class="owl-carousel owl-theme">


            </div>
            <!-- /END FEEDBACKS -->

        </div>
        <!-- /END CONTAINER -->

    </div>
    <!-- /END COLOR OVERLAY -->

</section>
<!-- /END TESTIMONIALS SECTION -->

